.c-appeal
  .appeal-header
    span.title Вступите в клуб наших друзей
  form.appeal-main
    .form-group
      input(type="text", placeholder="Имя").form-control
    .form-group
      input(type="text", placeholder="E-mail").form-control
    button.btn.btn-green Вступить в клуб
