.c-breadcrumb
  ol.breadcrumb-list
    li.item: a.link(href="/index.html", title="title") Главная
    li.item: a.link(href="#link", title="title") Какая-то страница
    li.item.-active Ещё какая-то страница
