section.c-catalog-slider
  .area.-sm.-md.-lg
    h2.catalog-title Каталог развивающих игр
    .catalog-slider
      #catalogSlider.owl
        each item in _products.catalog
          a.item(href="#product", title="")
            each badge in item.badge
              span.item-badge(class="-#{badge.type}")=badge.label
            .item-header
              span.title=item.title
            .item-image
              img(src="images/demo/#{item.image}", alt="alt")
            .item-content
              h3.name=item.name
              .price
                if item.price.old
                  span.price-old=item.price.old
                span.price-current=item.price.current
              p.description=item.description
            .item-meta
              .age #[=item.age.min] — #[=item.age.max] лет
              .category=item.category

      .catalog-slider-controls
        span.control.-prev
        span.control.-next

  a.btn.btn-blue.btn-catalog(href="#catalog") Перейти в каталог
