section.c-cooperation
  .area.-sm.-md.-lg
    .cooperation-header
      h2.title Давайте сотрудничать!
      p.description Присоединяйтесь к нам прямо сейчас. Вместе мы сделаем обучение детей интересным и увлекательным!

    .row.cooperation-content
      .col.col-sx-12.col-sm-4.cooperation-item
        .image-box: img(src="images/cooperation-shops.png", alt="alt")
        h3.title Магазины <br> и торговые сети
        p.description По запросу мы высылаем подробную партнерскую программу. В ее рамках вы получите увеличенные скидки и все остальные преимущества постоянного партнера.
        a.btn.btn-transparent(href="#link", title="Запросить программу") Запросить программу

      .col.col-sx-12.col-sm-4.cooperation-item
        .image-box: img(src="images/cooperation-committees.png", alt="alt")
        h3.title Совместные закупки <br> и родительские комитеты
        p.description Для новых партнеров у нас есть специальное предложение: «Стартовый набор» — это все наши игры в ассортименте, по специальной цене с максимальной партнерской скидкой.
        a.btn.btn-transparent(href="#link", title="title") Посмотреть предложение

      .col.col-sx-12.col-sm-4.cooperation-item
        .image-box: img(src="images/cooperation-activities.png", alt="alt")
        h3.title Организаторы игротек <br> и мероприятий
        p.description Мы постоянно расширяем объем материалов для поддержки продаж. На сегодня мы можем вам предложить архивы со всей необходимой информацией
        a.btn.btn-transparent(href="#link", title="title") Прочитать условия
