section.c-feedback.row
  .col.col-xs-12.col-sm-6.reviews-block
    h2.feedback-title Отзывы покупателей
    include ./_reviews
    a.btn.btn-transparent.feedback-more(href="#", title="title") Читать все отзывы

  .col.col-xs-12.col-sm-6.video-block
    h2.feedback-title Отзывы педагогов и психологов
    include ./_video-player
