.c-jumboslider
  #jumboSlider.owl
    .owl-item(style="background-image: url('images/slider/header-bg-0.png')")
      .item-content
        p.product-slogan Математику не нужно учить,<br> в неё можно играть!
        .product-info
          a(href="#product", title="Продукт")
            img.image(src="images/demo/turbo.png", alt="alt")
          .content-wrapper
            h2.heading: a(href="#product", title="Продукт") Набор Умника —<br>лучший подарок!
            p.description 6 игр в подарочной упаковке с бесплатной доставкой по России. Если вы ищете подарок для группы детей, напишите нам.
            .price
              span.old 3 310 ₽
              span.current 3 140 ₽
            .actions
              a.btn.btn-default(href="#product", title="title") В корзину
              a.btn.btn-yellow(href="#product", title="title") Весь каталог

    .owl-item(style="background-image: url('images/slider/header-bg-1.png')")
      .item-content
        .product-info
          a(href="#product", title="Продукт")
            img.image(src="images/demo/zvero.png", alt="alt")
          .content-wrapper
            h2.heading: a(href="#product", title="Продукт") Зверобуквы
            p.description С помощью этой игры дети выучат буквы и хорошенько потренируют память.
            .price
              span.current 790 ₽
            .actions
              a.btn.btn-default(href="#product", title="title") В корзину
              a.btn.btn-yellow(href="#product", title="title") Весь каталог

    .owl-item(style="background-image: url('images/slider/header-bg-2.jpg')").-only-text
      .item-content
        h2.item-title Детские развивающие игры
        .item-description
          p.text Концепция «Банды умников» сложилась из того, что бизнес-тренинговый</br>подход интенсивного обучения на основе опыта мы попробовали перенести на знания и навыки
          a(href="#link").btn.btn-blue Подробнее

.jumboslider-controls
  .control.-prev: span.arrow
  .control.-next: span.arrow
