.c-modal.-fast-buy#formFastBuy(aria-hidden="true", role="dialog", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h3.title Оформление заказа
        button(data-dismiss="modal", type="button", aria-label="Close").btn.btn-transparent.close
          span(aria-hidden="true").close-icon
      .modal-body
        .form-group
          input(type="text", placeholder="Ваше имя").form-control
        .form-inline
          .form-group
            input(type="phone", placeholder="Номер телефона").form-control
          p.space или
          .form-group
            input(type="email", placeholder="E-mail").form-control

        .table-responsive: table.table.table-striped
          thead
            tr
              th Игра
              th Цена
              th Количество
              th Сумма
          tbody
            tr
              td Турбосчёт
              td 450 #[span ₽]
              td 2
              td 900 #[span ₽]
            tr
              td Играй-Умножай!
              td 1 790 #[span ₽]
              td 1
              td 1 790 #[span ₽]
          tfoot
            tr
              td(colspan="4") #[span Всего:] 1 790 #[span ₽]

        button.btn.btn-green.btn-order Оформить заказ
