nav.c-navbar-desktop
  .area.-sm.-md: .row
    .navbar-left
      a(href="#link").navbar-logo

    .navbar-right
      .navbar-catalog
        .navbar-catalog-content
          .navbar-catalog-bars
          .navbar-catalog-label Каталог</br>развивающих игр

        #navbarCatalog.navbar-dropdown-panel(data-tabs-controller, data-tabs-choiser)
          .panel-header
            ul.tabs-navigation
              li.panel-tab: a(href="#choiserDiscipline", title="Предмет", data-tab="choiserDiscipline").-active Предмет
              li.panel-tab: a(href="#choiserAge", title="Возраст", data-tab="choiserAge") Возраст
          .panel-main
            ul.panel-left.tabs-content
              li.choiser.-active(data-tab="choiserDiscipline"): form(name="choiserDiscipline")#choiserDiscipline
                .form-radio: label
                  input(type="radio", name="discipline_id", checked, data-collapse, data-target="#disciplineMathematica", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text Математика
                .form-radio: label
                  input(type="radio", name="discipline_id", data-collapse, data-target="#disciplineReading", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text Чтение
                .form-radio: label
                  input(type="radio", name="discipline_id", data-collapse, data-target="#disciplineLittering", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text Письмо
                .form-radio: label
                  input(type="radio", name="discipline_id", data-collapse, data-target="#disciplineTime", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text Время
              li.choiser(data-tab="choiserAge"): form(name="choiserAge")#choiserAge
                .form-checkbox: label
                  input(type="radio", name="age_id", checked, data-collapse, data-target="#ageRangeOne", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text 4-6 лет
                .form-checkbox: label
                  input(type="radio", name="age_id", data-collapse, data-target="#ageRangeTwo", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text 7-9 лет
                .form-checkbox: label
                  input(type="radio", name="age_id", data-collapse, data-target="#ageRangeThree", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text 10-12 лет
                .form-checkbox: label
                  input(type="radio", name="age_id", data-collapse, data-target="#ageRangeFour", data-no-prevent, data-only-add, data-hide="all:#navbarProductions")
                  span.label-text 12-16 лет

            .panel-right#navbarProductions
              //- Сюда будут вставляться продукты из фильтра, приходящие по AJAX
              .content-grid#disciplineMathematica
                .product
                  .product-image: img(src="../images/demo/navbar-geometry.png", alt="Геометрика")
                  h3.product-title Геометрика
                  .product-meta
                    .left.icons
                      .age 6—8 лет
                      .category Математика
                    .right.icons
                      .peoples 4-10 чел.
                      .time 1-3 часа
                  p.product-description Вы удивитесь, насколько просто</br> ребёнок может осваивать даже сложные</br> темы в игровой форме.
                  .product-footer
                    span.price #[b 1 780] ₽
                    button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
                      span.buy В корзину
                      span.spinner
                      span.cart В корзине
                    a(href="#product_reviews", title="190 комментариев").comment 199

                .product
                  .product-image: img(src="../images/demo/navbar-geometry.png", alt="Геометрика")
                  h3.product-title Геометрика
                  .product-meta
                    .left.icons
                      .age 6—8 лет
                      .category Математика
                    .right.icons
                      .peoples 4-10 чел.
                      .time 1-3 часа
                  p.product-description Вы удивитесь, насколько просто</br> ребёнок может осваивать даже сложные</br> темы в игровой форме.
                  .product-footer
                    span.price #[b 1 780] ₽
                    button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
                      span.buy В корзину
                      span.spinner
                      span.cart В корзине
                    a(href="#product_reviews", title="190 комментариев").comment 199

                .product
                  .product-image: img(src="../images/demo/navbar-traffic.png", alt="Геометрика")
                  h3.product-title Трафик-Джем
                  .product-description
                  .product-meta
                    .left.icons
                      .age 6—8 лет
                      .category Математика
                    .right.icons
                      .peoples 4-10 чел.
                      .time 1-3 часа
                  p.product-description Вы удивитесь, насколько просто</br> ребёнок может осваивать даже сложные</br> темы в игровой форме.
                  .product-footer
                    span.price #[b 1 780] ₽
                    button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
                      span.buy В корзину
                      span.spinner
                      span.cart В корзине
                    a(href="#product_reviews", title="190 комментариев").comment 199

              .content-grid#disciplineReading.-hidden
                p Слайд 2 (предмет)

              .content-grid#disciplineLittering.-hidden
                p Слайд 3 (предмет)

              .content-grid#disciplineTime.-hidden
                p Слайд 4 (предмет)

              .content-grid#ageRangeOne.-hidden
                .product
                  .product-image: img(src="../images/demo/navbar-geometry.png", alt="Геометрика")
                  h3.product-title Геометрика (возраст)
                  .product-meta
                    .left.icons
                      .age 6—8 лет
                      .category Математика
                    .right.icons
                      .peoples 4-10 чел.
                      .time 1-3 часа
                  p.product-description Вы удивитесь, насколько просто</br> ребёнок может осваивать даже сложные</br> темы в игровой форме.
                  .product-footer
                    span.price #[b 1 780] ₽
                    button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
                      span.buy В корзину
                      span.spinner
                      span.cart В корзине
                    a(href="#product_reviews", title="190 комментариев").comment 199

                .product
                  .product-image: img(src="../images/demo/navbar-traffic.png", alt="Геометрика")
                  h3.product-title Трафик-Джем (возраст)
                  .product-description
                  .product-meta
                    .left.icons
                      .age 6—8 лет
                      .category Математика
                    .right.icons
                      .peoples 4-10 чел.
                      .time 1-3 часа
                  p.product-description Вы удивитесь, насколько просто</br> ребёнок может осваивать даже сложные</br> темы в игровой форме.
                  .product-footer
                    span.price #[b 1 780] ₽
                    button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
                      span.buy В корзину
                      span.spinner
                      span.cart В корзине
                    a(href="#product_reviews", title="190 комментариев").comment 199

              .content-grid#ageRangeTwo.-hidden
                p Слайд 2 (возраст)

              .content-grid#ageRangeThree.-hidden
                p Слайд 3 (возраст)

              .content-grid#ageRangeFour.-hidden
                p Слайд 4 (возраст)

      .navbar-delivery
        .navbar-delivery-content
          .navbar-delivery-purse
          .navbar-delivery-label Оплата, доставка</br>и гарантии

        #navbarDelivery.navbar-dropdown-panel
          .delivery-grid
            .item
              .item-title Оплата
              ul.item-list
                li.list-item Яндекс-деньги
                li.list-item Qiwi-кошелек
                li.list-item Банковские карты: Visa, Mastercard
                li.list-item Оплата при получении курьеру
            .item
              .item-title Доставка
              ul.item-list
                li.list-item Бесплатная доставка при заказ от 2500 руб.
                li.list-item Минимальный срок в зависимости от местоположения клиента
                li.list-item Банковские карты: Visa, Mastercard
            .item
              .item-title Гарантии
              ul.item-list
                li.list-item Яндекс-деньги
                li.list-item Qiwi-кошелек
                li.list-item Банковские карты: Visa, Mastercard
                li.list-item Оплата при получении курьеру
          .delivery-footer
            p.footer-text Вы можете подробно ознакомиться со всеми условиями доставки и оплаты в специальном разделе
            button.btn.btn-green Все условия

      .navbar-basket
        .navbar-basket-content
          .navbar-basket-raccoon
          .navbar-basket-counter 15
          .navbar-basket-label игр
          .navbar-basket-price 7 500
          .navbar-basket-label ₽

        #navbarBasket.navbar-basket-panel
          .basket-item(data-remove-id="hashOne")
            .item-image: img(src="../images/demo/navbar-geometry.png", alt="Геометрика")
            .item-description
              .title Геометрика
              .price 1 x 490 Р
            .item-remove(data-remove): .btn
          .basket-item(data-remove-id="hashTwo")
            .item-image: img(src="../images/demo/navbar-traffic.png", alt="Геометрика")
            .item-description
              .title Трафик-Джем
              .price 1 x 490 Р
            .item-remove(data-remove): .btn
          .basket-description
            p Сейчас 10% скидки.
            p Добавьте товара на 120 руб., чтобы получить скидку 15%
            .form-checkbox: label
              input(type="checkbox", checked="")
              span.label-text Упаковать подарок
          .basket-price
            span.total Итого:
            span.price 4 990 ₽
          .basket-footer
            .order-action
              a.btn.btn-green.btn-fast(href="#link", title="title") Перейти в корзину
              a.btn.btn-green.btn-next(href="#link", title="title") Оформить заказ
