.c-navbar
  button.btn.navbar-search-trigger(data-collapse, data-target="#globalSearch"): i.icon.-search

nav#navbar.navbar-wrapper.-hidden
  ul.navbar-list
    li: a.-active(href="/index.html", title="Главная") Главная
    li.has-children.only-mobile
      a(href="/catalog.html", title="Каталог развивающих игр") Каталог развивающих игр
      ul.navbar-gallery.navbar-dropdown.navbar-wrapper.-hidden
        li: a.navbar-dropdown-back(href="#0", title="Назад") Назад
        li: a.navbar-dropdown-all(href="#link", title="Посмотреть все игры") Посмотреть все игры
        each item in _products.items
          li: a.navbar-gallery-item(href="#link")
            img.image(src="images/product-thumbnail.png", alt="#{item}")
            span.name=item

    li: a(href="#link", title="Отзывы") Отзывы
    li: a(href="#link", title="Доставка и оплата") Доставка и оплата
    li.-hidden-md: a(href="#link", title="Блог") Блог
    li.has-children
      a(href="#link", title="О банде") О банде
      ul.navbar-dropdown.navbar-wrapper.-hidden
        li: a.navbar-dropdown-back(href="#", title="Назад") Назад
        li: a(href="#link", title="Игровой подход к обучению") Игровой подход к обучению
        li: a(href="#link", title="Контакты") Контакты
        li: a(href="#link", title="Где купить") Где купить
        li.has-children
          a(href="#link", title="Партнёрам") Партнёрам
          ul.navbar-dropdown.navbar-wrapper.-hidden
            li: a.navbar-dropdown-back(href="#", title="Назад") Назад
            li: a(href="#link", title="Ссылка") Ссылка
            li: a(href="#link", title="Ссылка") Ссылка
            li: a(href="#link", title="Ссылка") Ссылка
        li: a(href="#link", title="Вакансии") Вакансии

form#globalSearch.navbar-search
  input.form-control(type="search", placeholder="Поиск по сайту", data-search)
  button(type="reset", data-search-reset).btn.btn-transparent.btn-close

.c-search#searchResults
  .search-section
    .section-header: span.section-title Каталог
    .section-main: .item-list
      .item
        .image: a(href="#link"): img(src="images/demo/geometrika.png", alt="")
        .content
          a(href="#link"): span.name Геометрика
          p.description Геометрия станет одним из самых любимых предметов, если начать её изучение с «Геометрики».
          p.meta.-math От 7 лет
          p.price 450 ₽
      .item
        .image: a(href="#link"): img(src="images/demo/turbo.png", alt="")
        .content
          a(href="#link"): span.name ГЕОМЕТРИКА EXTRA
          p.description Обучающие плакаты — это замечательный настенный репетитор. В состав набора входит 10 ярких плакатов размером 34х50 см, упакованных в красивый тубус.
          p.meta.-math От 7 лет
          p.price 450 ₽
      .item
        .image: a(href="#link"): img(src="images/demo/frukto.png", alt="")
        .content
          a(href="#link"): span.name ГЕОМЕТРИКА EXTRA
          p.description Обучающие плакаты — это замечательный настенный репетитор. В состав набора входит 10 ярких плакатов размером 34х50 см, упакованных в красивый тубус.
          p.price 450 ₽

  .search-section
    .section-header: span.section-title Блог
    .section-main: .item-list.-blog
      .item
        .image: a(href="#link"): img(src="images/demo/search-blog.jpg", alt="")
        .content
          a(href="#link"): span.name.-link Несколько цитат из книги Александра Звонкина «Малыши и математика»
          p.description Как математик-профессионал я считаю, что в обыденных представлениях о том, чем и как заниматься с детьми дошкольного возраста, царит традиция, в общем-то, идущая от наших «взрослых», родительских представлений, а не от внутренних возможностей и, главное, потребностей детей.
      .item
        .image
        .content
          a(href="#link"): span.name.-link Несколько цитат из книги Александра Звонкина «Малыши и математика»
          p.description Как математик-профессионал я считаю, что в обыденных представлениях о том, чем и как заниматься с детьми дошкольного возраста, царит традиция, в общем-то, идущая от наших «взрослых», родительских представлений, а не от внутренних возможностей и, главное, потребностей детей.
