.c-pagination
  .-hidden-sm
    ul.pagination-list
      li.item.-active: a(href="#link") 1
      li.item: a(href="#link") 2
      li.item: a(href="#link") 3
      li.item.-space ...
      li.item: a(href="#link") 5
      li.item: a(href="#link") 6

  button.btn.btn-outline-blue.-hidden-xs Показать ещё
