section.c-partners
  .area.-sm.-md.-lg
    h2.partners-title Наши партнёры
    ul.partners-list
      each item in _partners.list
        li
          a.item(href="#link", title="Text")
            img(src="images/partners/#{item}.png", alt="alt")

    a.btn.btn-green.btn-partners(href="#link", title="title") Все партнёры
