ul#pgwSlider.pgw-slider
  li: img(src="images/slider/pgw-0.png", alt="alt")
  li: img(src="images/slider/pgw-1.png", alt="alt")
  li: img(src="images/slider/pgw-2.png", alt="alt")
  li: img(src="images/slider/pgw-3.png", alt="alt")
