.c-place-list: .row
  .col.col-xs-12.col-sm-6.shops
    span.title Магазины
    p.description Указан город для центрального магазина, регионы доставки для интернет-магазинов, уточняйте на их сайтах:

    .form-group.-select
      select.form-control
        option Россия
        option Украина
        option Беларусь
        option Казахстан
    .form-group.-select
      select.form-control
        option Санкт-Петербург
        option Москва
        option Тверь
        option Самара

    .list
      each item in _partners.full
        .list-item
          .item-content
            span.name.-uppercase=item.name
            p
              span.phone=item.phone
              a(href="#link", title="title")=item.site
          .item-actions
            a(href="#link", title="title").btn.btn-transparent Уточнить наличие

  .col.col-xs-12.col-sm-6.distributors
    span.title Дистрибьюторы
    p.description Мы активно расширяем нашу партнерскую сеть. На сегодня вы можете найти наши игры в следующих компаниях:

    .list
      .list-item
        .item-content
          span.name Нескучные игры
          p: a(href="#link") bambytoys.ru
          p: span.phone (812)715-45-11, 333-03-40
      .list-item
        .item-content
          span.name Мир Правильных игрушек
          p
            a(href="#link") mpitoys.ru
            a(href="mailto:#mail") dealer@mpitoys.ru
          p: span.phone +7 (495) 66-808-20
