.reviews.-mobile-one
  each review, index in _feedback.reviews
    .review.-c-grey-300(id="review-#{index}")
      blockquote
        p #[=review.content]#[span.more-ellipsis ...] #[span.more-text=review.more]
      a.more(data-collapse, data-target="#review-#{index}", href="#review", title="Далее")
        span.next Далее
        span.prev Скрыть
      .author
        img.author-photo(src="images/demo/olga.png", alt="alt")
        .author-description
          a.author-link(href="#author", title="title")=review.name
          p.author-about=review.about
