.c-smallbar
  button.btn.smallbar-item.navbar-trigger(data-navbar-trigger, data-target="#navbar")
    span.hamburger

  button.btn.smallbar-item.navbar-search-trigger(data-collapse, data-target="#globalSearch"): i.icon.-search-white
  a.smallbar-item.-logo(href="#", title="Банда умников") Банда умников
  a.smallbar-item(href="#", title="Профиль"): i.icon.-guest
  a.smallbar-item(href="#", title="Корзина")
    i.icon.-cart
    span.cart-count 15
