.c-social-appeal
  .area.-sm.-md: .row
    section.col.col-xs-12.col-md-6.social-appeal-item
      h2.title Сотни идей для обучения в наших группах
      .social-block
        .social-item.vkontakte
          a(href="#link", title="Описание").icon-box: span.icon
          .avatar-box: img.avatar(src="images/demo/social-avatar-vk.png", alt="alt")
          .users-box
            img.user(src="images/social-user-vk-1.png", alt="alt")
            img.user(src="images/social-user-vk-2.png", alt="alt")
            img.user(src="images/social-user-vk-3.png", alt="alt")
            img.user(src="images/social-user-vk-4.png", alt="alt")
            span.info 8420 участников
        .social-item.facebook
          a(href="#link", title="Описание").icon-box: span.icon
          .avatar-box: img.avatar(src="images/demo/social-avatar-fb.png", alt="alt")
          .users-box
            img.user(src="images/social-user-fb-1.png", alt="alt")
            img.user(src="images/social-user-fb-2.png", alt="alt")
            img.user(src="images/social-user-fb-3.png", alt="alt")
            img.user(src="images/social-user-fb-4.png", alt="alt")
            span.info 669 лайков
        .social-item.instargram
          a(href="#link", title="Описание").icon-box: span.icon
          .avatar-box: img.avatar(src="images/demo/social-avatar-insta.png", alt="alt")
          .users-box
            img.user(src="images/social-user-insta-1.png", alt="alt")
            img.user(src="images/social-user-insta-2.png", alt="alt")
            img.user(src="images/social-user-insta-3.png", alt="alt")
            img.user(src="images/social-user-insta-4.png", alt="alt")
            span.info 10788 подписчиков


    section.col.col-xs-12.col-md-6.social-appeal-item
      h2.title Подпишитесь на новости
      form.appeal-block
        .form-group: input(type="text", placeholder="Имя").form-control
        .form-group: input(type="email", placeholder="E-mail").form-control
        .form-checkbox
          label
            input(type="checkbox", checked)
            span.label-text Подборки лучших идей для занятий с детьми
        .form-checkbox
          label
            input(type="checkbox")
            span.label-text Информация об акциях и новинках
        button.btn.btn-green Подписаться
        button.btn.btn-transparent.form-tooltip(type="button", data-balloon="Просто текст, что мы не будем спамить и у нас очень крутая рассылка", data-balloon-pos="up") ?
