.c-subscription
  h2.title Не забудьте подписаться на новости

  form.subscription-form
    .subscription-inputs
      .form-group: input(type="text", placeholder="Имя").form-control
      .form-group: input(type="email", placeholder="E-mail").form-control
    .subscription-checkbox
      .form-checkbox
        label
          input(type="checkbox", checked)
          span.label-text Подборки лучших идей для занятий с детьми
      .form-checkbox
        label
          input(type="checkbox")
          span.label-text Информация об акциях и новинках
    .subscription-buttons
      button.btn.btn-green Подписаться
      button.btn.btn-transparent.form-tooltip(type="button", data-balloon="Просто текст, что мы не будем спамить и у нас очень крутая рассылка", data-balloon-pos="up") ?
