.c-topbar
  .area.-sm.-md: .row
    .topbar-left
      span.topbar-label.-light Язык:
      .topbar-dropdown
        span.topbar-dropdown-title Русский
        ul.topbar-dropdown-list
          li.topbar-dropdown-item: a(href="#", title="Русский").topbar-dropdown-link Русский
          li.topbar-dropdown-item: a(href="#", title="English").topbar-dropdown-link English

    .topbar-right
      .topbar-items
        .topbar-label Высылаем игры по будням с 9 до 19
        .topbar-separator
        .topbar-label 8-800-500-43-66
        .topbar-label.-mail: a(href="mailto:zakaz@bandaumnikov.ru", title="zakaz@bandaumnikov.ru") zakaz@bandaumnikov.ru
        .topbar-separator
        .topbar-signup
        .topbar-label: a(href="#link", title="Войти", data-toggle="modal", data-target="#formSign") Войти

.c-modal.-signup#formSign(aria-hidden="true", role="dialog", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        .c-tabs(data-tabs-controller)
          .tabs-navbar: ul.tabs-navigation
            li: a.-active(data-tab="signin", href="#0") Войти
            li: a(data-tab="signup", href="#1") Регистрация
          ul.tabs-content
            li.tab-content.tab-user-new.-active(data-tab="signin")
              .forms
                .form-login
                  .form-group
                    label Введите #[span E-mail] или #[span Номер телефона]
                    input(type="text", form="form_signin", placeholder="E-mail или телефон").form-control
                  .form-group
                    label Пароль
                    input(type="password", form="form_signin", placeholder="Пароль").form-control
                  p: a(href="#forget", data-collapse, data-target="#bigForget") Забыли пароль?

                  .form-footer
                    .form-checkbox
                      label
                        input(type="checkbox", checked, form="form_signin")
                        span.label-text Запомнить меня
                    button(form="form_signin").btn.btn-green Войти
                //- Форма для забытого пароля
                .form-login.-forget#bigForget
                  .form-group
                    label Введите адрес электронной почты, который указывали при регистрации.
                    input(type="text", form="form_sigin_forgoat", placeholder="E-mail").form-control
                  button(form="form_sigin_forgoat").btn.btn-green Выслать
                  p: a(href="#forget", data-collapse, data-target="#bigForget") Авторизироваться

                .form-social
                  p.title Войти через соц. сети
                  p.description Войдите на наш сайт за 5 секунд через любую удобную социальную сеть:
                  .c-social-icons.-large: .social-list
                    a(href="#ink", title="title").social-item.facebook
                    a(href="#ink", title="title").social-item.vkontakte

            li.tab-content.tab-user-new(data-tab="signup")
              .forms
                .form-login
                  .form-group
                    label Как вас зовут?
                    input(type="text", form="form_signup", placeholder="Имя").form-control
                  .form-group
                    label Электронная почта
                    input(type="password", form="form_signup", placeholder="Электронная почта").form-control

                  .form-passowrd-delivery
                    .text Задать пароль
                    .toggle(data-collapse, data-target="#formPasswordDelivery")
                    .text Выслать на почту

                  //- Форма для пароля
                  .form-password.-on#formPasswordDelivery
                    .form-group
                      label Пароль
                      input(type="password", form="form_signup", placeholder="Пароль").form-control
                    .form-group
                      label Подтверждение пароля
                      input(type="password", form="form_signup", placeholder="Подтверждение пароля").form-control

                  button(form="form_signup").btn.btn-green Регистрация

                .form-social
                  p.title Войти через соц. сети
                  p.description Войдите на наш сайт за 5 секунд через любую удобную социальную сеть:
                  .c-social-icons.-large: .social-list
                    a(href="#ink", title="title").social-item.facebook
                    a(href="#ink", title="title").social-item.vkontakte

form#form_signup(method="")
form#form_signin(method="")
form#form_signin_forgoat(method="")
