.c-vacancy
  form(data-form-sender, data-form-type="alertBefore")
    .vacancy-header
      span.title Откликнуться на вакансию
    .vacancy-main
      .form-inline
        // .form-group
        .form-group.required.has-success
          input(type="text", placeholder="Имя").form-control
        .form-group.required.has-error
          input(type="email", placeholder="E-mail").form-control
          p.help-block.help-block-error Email is not a valid email address.
      textarea(rows="6", placeholder="Написать сопроводительное письмо").form-control
    .vacancy-footer
      input(type="file", hidden)#file_attachment
      button(type="button", onclick="$('#file_attachment').trigger('click');return false;").btn.btn-transparent.btn-file Прикрепить файл
      button.btn.btn-yellow.btn-submit Отправить
