.video-player
  .video-box
    img(src="images/demo/video.png", alt="alt")
    .video-control
    .video-shadow
    .video-name Отзывы педагогов и психологов
    .video-counter 1689 просмотров
    .video-timer 3:34

  p.video-description.-c-grey-300 Для кружка было придумано множество интересных игр и затей, а потом появилось и издательство «Банда умников». Для нас кажется удивительным тот факт, что учёба и игра.
