.c-blog
  .blog-list
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-1.jpg", alt="alt")
      .item-content
        h2.title: a(href="#link") Делаем конструктор из трубочек
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Соберите тетраэдр, икосаэдр, додекаэдр и другие фигуры по схемам, или проявите фантазию! Простота исполнения конструктора даёт огромный простор для творчества.
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-2.png", alt="alt")
      .item-content
        h2.title: a(href="#link") Делаем конструктор из трубочек
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Простая детская игра на логику и на понимание генеалогического древа.
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-3.jpg", alt="alt")
      .item-content
        h2.title: a(href="#link") Обзор от детского блога boo-boo-kids.ru (Игра «Читай-Хватай»)
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Вряд ли бы получилось по несколько раз в день подсовывать ребенку список слов, чтобы он читал их на время, да еще и с удовольствием. Да еще и если он только-только учится нелегкому искусству чтения. А тут вот — читает, торопится, старается и с огромной радостью ведь. А все почему? А потому что игра новая у нас — «Читай-хватай».
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-1.jpg", alt="alt")
      .item-content
        h2.title: a(href="#link") Делаем конструктор из трубочек
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Соберите тетраэдр, икосаэдр, додекаэдр и другие фигуры по схемам, или проявите фантазию! Простота исполнения конструктора даёт огромный простор для творчества.
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-2.png", alt="alt")
      .item-content
        h2.title: a(href="#link") Делаем конструктор из трубочек
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Простая детская игра на логику и на понимание генеалогического древа.
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-3.jpg", alt="alt")
      .item-content
        h2.title: a(href="#link") Обзор от детского блога boo-boo-kids.ru (Игра «Читай-Хватай»)
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Вряд ли бы получилось по несколько раз в день подсовывать ребенку список слов, чтобы он читал их на время, да еще и с удовольствием. Да еще и если он только-только учится нелегкому искусству чтения. А тут вот — читает, торопится, старается и с огромной радостью ведь. А все почему? А потому что игра новая у нас — «Читай-хватай».
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-1.jpg", alt="alt")
      .item-content
        h2.title: a(href="#link") Делаем конструктор из трубочек
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Соберите тетраэдр, икосаэдр, додекаэдр и другие фигуры по схемам, или проявите фантазию! Простота исполнения конструктора даёт огромный простор для творчества.
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-2.png", alt="alt")
      .item-content
        h2.title: a(href="#link") Делаем конструктор из трубочек
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Простая детская игра на логику и на понимание генеалогического древа.
    article.blog-item
      a(href="#link").item-image: img(src="images/demo/blog-image-3.jpg", alt="alt")
      .item-content
        h2.title: a(href="#link") Обзор от детского блога boo-boo-kids.ru (Игра «Читай-Хватай»)
        p: time(datetime="2016-04-25").time 25 апреля 2016
        p.description Вряд ли бы получилось по несколько раз в день подсовывать ребенку список слов, чтобы он читал их на время, да еще и с удовольствием. Да еще и если он только-только учится нелегкому искусству чтения. А тут вот — читает, торопится, старается и с огромной радостью ведь. А все почему? А потому что игра новая у нас — «Читай-хватай».

include ../../components/_pagination
