.area.-sm.-md.-lg
  .row
    include ../../components/_breadcrumb

main.site-main
  .area.-sm.-md.-lg
    .row
      .page-heading
        h1.title Блог

      .page-main.col
        include ./_info

      aside.page-sidebar.col.c-sidebar
        include ./_sidebar
