form.payment-list.-show#paymentList
  .payment-item.form-radio: label
    input(type="radio", name="payment_id")
    span.label-text
      span.image: img(src="images/payment-sberbank.jpg", alt="")
      span.title Наличными при получении заказа
      span.description Оплата курьеру или в пункте выдачи в момент получени заказа.
      span.description Без комиссии.

  .payment-item.form-radio: label
    input(type="radio", name="payment_id", checked)
    span.label-text
      span.image: img(src="images/payment-sberbank.jpg", alt="")
      span.title Банковской картой, электронными деньгами
      span.description Банковские карты, Яндекс Деньги, WebMoney, Qiwi, Элекснет и другие вариант в процессинговом центре Робокасса.
      span.description Мгновенное зачисление платежа без комиссии.

  .payment-item.form-radio: label
    input(type="radio", name="payment_id")
    span.label-text
      span.image: img(src="images/payment-sberbank.jpg", alt="")
      span.title В Сбербанке по квитанции
      span.description Квитанцию нужно распечатать и оплатить в любом отделении Сбербанка или оплатить в Сбербанк-онлайн.
      span.description Срок зачисления платежа 1-3 рабочих дня, комиссия 15 руб.

  .payment-item.form-radio: label
    input(type="radio", name="payment_id")
    span.label-text
      span.image: img(src="images/payment-sberbank.jpg", alt="")
      span.title PayPal
      span.description Мгновенное зачисление платежа через систему PayPal без комиссии.

form.payment-manual#paymentManual
  p Hello, i am manual payment block!
