.sidebar-block.-order
  .box.-order
    h2.block-title Мой заказ
    a(href="#hef", title="title").edit-order Изменить

    ul.order-list
      li Турбосчёт — 1 шт.

    p.right-text 450 ₽

  .box.-deliver
    h2.block-title  Доставка:
    p.right-text.-no-margin Курьер до вашей двери
    p.right-text.-no-margin Москва
    p.right-text.delivery-price 295 ₽

  .box.-weight
    p.right-text Вес: 0.14 кг

  .box.-total
    p.total-text Итоговая сумма
    span.total-price 745 ₽
