.area.-sm.-md.-lg
  .row
    include ../../components/_breadcrumb

main.site-main
  .area.-sm.-md.-lg
    .row
      .col.col-xs-12.catalog-header
        h2.title Каталог развивающих игр
        button#fixedFilterButton.btn.btn-blue.filter.-fixed.animation-bounce(data-collapse, data-target="#filter", data-no-scroll, data-scroll-top, data-hidden-class=".-filter")
          i.icon.-filter

      section.col.page-main.c-catalog
        include ./_catalog

      aside#filter.page-sidebar.col.c-sidebar
        include ./_sidebar

    .row
      include ../../components/_subscription
