.page-content
  p Мы ищем менеджера по продажам, который получает удовольствие от работы, нацелен на результат, способен управлять всеми инструментами продаж и генерировать новые идеи.

  h3.-fs-middle.-fw-bold.-mb-em-0-25 Требования:

  ul.-mb-em-1-25
    li Опыт работы в сфере оптовых продаж не менее 5 лет: дистрибьюторы, розничные сети, интернет-магазины.
    li Опыт организации и проведения совместных мероприятий с партнёрами (мотивационные программы, event-маркетинг).
    li Значимые проф достижения, о которых хочется рассказать: приведите, пожалуйста, пару примеров в сопроводительном письме.
    li Высшее образование в области экономики и менеджмента.
    li Развитые навыки ведения переговоров, умение презентовать компанию, продукт и себя.
    li Самоорганизованность, умение ставить и достигать амбициозные цели.
    li Готовность и стремление к профессиональному и карьерному развитию.

  h3.-fs-middle.-fw-bold.-mb-em-0-25 Обязанности:

  ul
    li
      | Развитие действующей базы партнёров:
      ul
        li Значимые проф достижения, о которых хочется рассказать: приведите, пожалуйста, пару примеров в сопроводительном письме.
        li Высшее образование в области экономики и менеджмента.
        li Развитые навыки ведения переговоров, умение презентовать компанию, продукт и себя.
        li Самоорганизованность, умение ставить и достигать амбициозные цели.
    li Готовность и стремление к профессиональному и карьерному развитию.

  br
  h3.-mb-0 Адрес
  p Санкт-Петербург, Аптекарский проспект, 4, м. Петроградская

  br
  h3.-mb-0 Тип занятости
  p Полная занятость, полный день

  br

include ../../components/_vacancy
