ul.sidebar-block.-menu
  li: a(href="#link") Игровой подход к обучению
  li: a(href="#link") Контакты
  li: a(href="#link") Где купить
  li: a(href="#link") Партнёрам
  li: a(href="#link").-active Вакансии
