main.site-main.c-error-404
  .area.-sm.-md.-lg: .row
    .error-message
      .error-description
        p Такой страницы не существует.
        p Пожалуйста, воспользуйтесь поиском по сайту, перейдите на #[a(href="#link") главную] или откройте #[a(href="#link") карту сайту].

      form.error-search
        .form-group
          input(type="search", placeholder="ПОИСК ПО САЙТУ").form-control
          button.btn.btn-transparent.btn-search

      .error-animal
        .animal
        span.text 404
