doctype html
//- Global variables
block vars
//- Template
html(lang="#{page.language}", data-url="http://banda.getsandbox.com")
  head
    include ../partials/_head

  body(class="page-" + page.name + ' ' + page.classes)
    block header
    block main
    block footer
    .navbar-overlay

  #loaderBlock.c-pizza
    .pizza-overlay
      each index in [1,2,3,4,5,6,7,8]
        div(class="pizza-slice pizza-slice-#{index}").-on
