span.title Отзывы (12)
.reviews
  #review-0.review
    blockquote
      p Младший любит загадывать мне слова с пропущенными буквами, а брату "Карусель". Еще я пишу на листочке загадки, а ребята пишут магнитными буквами отгадки. Буквы удобные, красивые и ребятам очень нравиться играть с ними. Алфавит живет у нас на холодильнике и играем мы, когда я готовлю.
    .author.-c-grey-300
      img.author-photo(src="images/demo/olga.png", alt="alt")
      .author-description
        a.author-link(href="#author", title="title") Ольга Косолапова
        p.author-about Мама 4 детей, Санкт-Петербург


  #review-1.review
    blockquote
      p Младший любит загадывать мне слова с пропущенными буквами, а брату "Карусель". Еще я пишу на листочке загадки, а ребята пишут магнитными буквами отгадки. Буквы удобные, красивые и ребятам очень нравиться играть с ними. Алфавит живет у нас на холодильнике и играем мы, когда я готовлю.
    .author.-c-grey-300
      img.author-photo(src="https://psv4.vk.me/c812531/u2000039766/docs/e8c7302ee914/file.jpg?extra=6Tq43OdhzNhUy7mZyPFb4MsoTBsLPdh2By2z6Cc_MlF5c0Yc4pEyP3BGbUyrztTGJ24omOjAnu9aheZf0WsfCLjxBJI8ziX-nHnoyvY7e1RRkTfCJReh4DBu", alt="alt")
      .author-description
        a.author-link(href="#author", title="title") Ольга Косолапова
        p.author-about Мама 4 детей, Санкт-Петербург

    .review.answer
      blockquote
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti mollitia error vitae labore modi voluptatum, a, blanditiis non, maxime ex odit maiores officia officiis at, similique ea dicta nulla voluptatem.
      .author
        img.author-photo(src="images/logo.png", alt="alt")
        .author-description
          p.author-about Администратор г. Санкт-Петербург

  #review-2.review
    blockquote
      p Младший любит загадывать мне слова с пропущенными буквами, а брату "Карусель". Еще я пишу на листочке загадки, а ребята пишут магнитными буквами отгадки. Буквы удобные, красивые и ребятам очень нравиться играть с ними. Алфавит живет у нас на холодильнике и играем мы, когда я готовлю.
    .author.-c-grey-300
      img.author-photo(src="images/demo/olga.png", alt="alt")
      .author-description
        a.author-link(href="#author", title="title") Ольга Косолапова
        p.author-about Мама 4 детей, Санкт-Петербург



form.comments-form
  textarea.form-control(placeholder="Add a comment here")
  button.btn.btn-blue Send comment
