.product-header
  .product-header-slider
    .slider-current#productSliderCurrent
    .slider-list
      #productSlider.owl
        .item(style="background-image: url('images/slider/product-slider-0.png')")
          .slider-current-control
        .item(style="background-image: url('images/slider/product-slider-1.jpg')")
          .slider-current-control
        .item(style="background-image: url('images/slider/product-slider-0.png')")
        .item(style="background-image: url('images/slider/product-slider-1.jpg')")
        .item(style="background-image: url('images/slider/product-slider-0.png')")
        .item(style="background-image: url('images/slider/product-slider-1.jpg')")
        .item(style="background-image: url('images/slider/product-slider-0.png')")
        .item(style="background-image: url('images/slider/product-slider-1.jpg')")
      .product-slider-control.-prev
      .product-slider-control.-next

  .product-header-description
    h1.title Настольная игра «Зверобуквы»
    p.description С помощью этой игры дети выучат буквы и хорошенько потренируют память. Этой игры дети выучат буквы и хорошенько потренируют память. Помощью этой игры дети выучат буквы и хорошенько потренируют память.
    ul.meta-list
      li.meta-item.-age 6-8 лет
      li.meta-item.-time 2-4
      li.meta-item.-category Математика, логика
      li.meta-item.-weight 200 гр.
    .action-block
      .action-block-child.-first
        .price.-current 590 ₽
        .price.-old 790 ₽
      .action-block-child.-second
        .status.-yes В наличии
      .action-block-child
        button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
          span.buy Купить
          span.spinner
          span.cart В корзине

    // .action-block
    //   .action-block-child.-first
    //     .price.-current 590 ₽
    //     .price.-old 790 ₽
    //   .action-block-child.-second
    //     p.preorder-date Предзаказ<br>до 21.10.2016
    //     p.preorder-conditions Игры будут отправлены после 01.11.2016
    //   .action-block-child
    //     button(type="button", data-button-buy, data-product-id="123").btn.btn-orange.btn-buy-with-spinner
    //       span.buy Купить
    //       span.spinner
    //       span.cart В корзине

    // .action-block.-soon
    //   .action-block-title Скоро в наличии
    //   .action-block-description Сообщить мне о выходе игры?
    //   form.action-block-form(data-form-sender, data-form-type="product:available")
    //     .form-group
    //       input(type="text", placeholder="Ваше имя").form-control
    //       p.help-block.help-block-error name cannot be blank.
    //     .form-group
    //       input(type="email", placeholder="E-mail").form-control
    //     button.btn.btn-blue Сообщить

    // .action-block.-preorder
    //   .action-block-title Скоро в предзакаче
    //   .action-block-description Сообщить мне о выходе игры?
    //   form.action-block-form(data-form-sender, data-form-type="product:preorder")
    //     input(type="text", placeholder="Ваше имя").form-control
    //     input(type="email", placeholder="E-mail").form-control
    //     button.btn.btn-pink Сообщить

    .fast-buy
      .fast-buy-description
        p.-bold Доставка по #[a(href="#item") Санкт-Петербургу]
        p От 150 руб./1-2 дня
      button.btn.btn-green Заказать в 1 клик
