.area.-sm.-md
  .row
    include ../../components/_breadcrumb

main.site-main
  section.col.page-main.c-product
    .area.-sm.-md
      include ./_header


    .c-tabs.-without-first(data-tabs-controller)
      .tabs-navbar
        .area.-sm.-md
          ul.tabs-navigation
            li: a.-active(data-tab="game", href="#0") Игра
            li: a(data-tab="description", href="#1") Описание
            li: a(data-tab="rules", href="#2") Правила
            li: a(data-tab="reviews", href="#3") обзоры #[span.counter (3)]
            li: a(data-tab="feedback", href="#4") Отзывы #[span.counter (12)]

      .area.-sm.-md
        .product-content
          .product-tabs
            ul.tabs-content
              li.tab-content(data-tab="description")
                .content
                  span.title Играют все!
                  p Вы удивитесь, насколько просто ребёнок может осваивать даже сложные темы в игровой форме. <br> А ещё тому, что обучение может быть не тяжёлой работой для родителей, а интересным совместным досугом, или даже игрой детей без участия взрослых. <br> Игры «Банда умников» — уникальны и не похожи на другие!

                  span.title Звери с характером
                  p «Зверобуквы» – это пять различных весёлых игр. В основном варианте игры карточки с буквами выкладываются в игровое поле 3x3 (или посложнее – 3х6) лицевой стороной вниз. Рядом стопкой лежат карты-звери — для начала игры открывается верхняя карта. Игроки по очереди открывают карточки-буквы и оставляют их открытыми, если буква подходит, в противном случае – переворачивают обратно. Задача игроков найти в поле все буквы, содержащиеся в названии зверя. Кто открыл последнюю букву – забирает зверя себе.

                .reviews.-one
                  .review.-c-grey-300(id="review-#{index}")
                    blockquote
                      p
                        =_feedback.reviews[0].content
                        span.more-ellipsis ...
                        =' '
                        span.more-text=_feedback.reviews[0].more
                    a.more(data-collapse, data-target="#review-#{index}", href="#review", title="Далее")
                      span.next Далее
                      span.prev Скрыть
                    .author
                      img.author-photo(src="images/demo/olga.png", alt="alt")
                      .author-description
                        a.author-link(href="#author", title="title") Ольга Косолапова
                        p.author-about Мама 4 детей, Санкт-Петербург
                  a(href="#reviews", title="title").btn.btn-transparent.btn-review Все отзывы

                .content
                  p Это значит, что игра не наскучит никогда. В дополнительных вариантах «Зверобукв» тренируется память, составление слов из букв, а ещё можно сыграть в «Лото» и в «Балду».
                  p Полезным дополнением к игре и помощником в изучении алфавита станет магнитная азбука «ГДЕ ЁЖ?» — буквы в ней выполнены с такими же узорами, как и в «Зверобуквах». Это не только удачная покупка для вашей семьи, но и отличный подарок.

                .review-banner.-hidden-sm
                  .heading
                    span.title Уже играли в «Турбосчёт»?
                    p Пожалуйста, оставьте отзыв!
                    .info
                      p Войдите через удобную соц.сеть
                      button.btn.btn-transparent.tooltip(type="button", data-balloon="Просто текст, что мы не будем спамить и у нас очень крутая рассылка", data-balloon-left, data-balloon-pos="up") ?
                  .social
                    .list
                      a(href="#link", title="Войти, используя ...").item.facebook
                      a(href="#link", title="Войти, используя ...").item.vkontakte

                .comments.-hidden-sm
                  span.title Отзывы (12)
                  .reviews
                    each review in _feedback.reviews
                      .review
                        blockquote
                          p=review.more
                        .author.-c-grey-300
                          img.author-photo(src="images/demo/olga.png", alt="alt")
                          .author-description
                            a.author-link(href="#author", title="title")=review.name
                            p.author-about=review.about
                  a(href="#link", title="Все отзывы").btn.btn-blue Все отзывы (12)


              li.tab-content(data-tab="rules")
                .-hidden-sm
                  .content
                    span.title Уникальные математические игры для детей от 5 до 12 лет!
                    p Математику не нужно учить, в неё можно играть! <br> Вы удивитесь, насколько просто ребёнок может осваивать даже сложные темы в игровой форме. А ещё тому, что обучение может быть не тяжёлой работой для родителей, а интересным совместным досугом, или даже игрой детей без участия взрослых.

                    span.title Игры «Банда умников» — уникальны и не похожи на другие!
                    p Это не просто настольные игры на сообразительность. Игры «Банда умников» реально помогают в учёбе, облегчая усвоение важных знаний и навыков.
                    p Это не «одноразовые» задания. За счёт полноценной игровой механики играть можно даже во взрослой компании! Предусмотрено несколько уровней сложности, чтобы игры были интересны и полезны как дошкольникам, так и ученикам 3-4 класса. Это не скучные методические пособия. Родителям не нужно читать методички и специально организовывать занятия — у игр простые правила, и ребёнка не придётся уговаривать заниматься!


              li.tab-content(data-tab="reviews")
                .reviews-box
                  .item
                    span.title: a(href="#link") Первые впечатления о «Зверобуквах» и варианты игры для самых маленьких
                    p.description Не буду описывать базовый процесс игры, он и так внятно изложен в правилах, расскажу о своих впечатлениях и вариациях. Первый раз Аня превысила минимальный порог игры 4+, и, к тому же, она уже умеет читать, так что опыта упрощения игры для начинающих у меня в этот раз нет, но есть некоторые соображения.
                    a(href="#link").btn.btn-transparent.btn-more Перейти к обзору


              li.tab-content(data-tab="feedback")
                .review-banner.-mobile-visible
                  .heading
                    span.title Уже играли в «Турбосчёт»?
                    p Пожалуйста, оставьте отзыв!
                    .info
                      p Войдите через удобную соц.сеть
                      button.btn.btn-transparent.tooltip(type="button", data-balloon="Просто текст, что мы не будем спамить и у нас очень крутая рассылка", data-balloon-left, data-balloon-pos="up") ?
                  .social
                    .list
                      a(href="#link", title="Войти, используя ...").item.facebook
                      a(href="#link", title="Войти, используя ...").item.vkontakte

                .comments
                  include ./_comments

                  a(href="#link", title="Все отзывы").btn.btn-blue.-hidden-xs Все отзывы (12)

            .proposal.-hidden-sm
              .image
                img(src="images/demo/traffik.png", alt="alt")
              .description
                p Настольная игра
                p.name «Турбосчёт»
              .price: span 340 ₽
              .actions
                button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy.btn-buy-with-spinner
                  span.buy В корзину
                  span.spinner
                  span.cart В корзине
                button(data-toggle="modal", data-target="#formFastBuy").btn.btn-transparent.btn-fast Быстрый заказ

          .product-sidebar.c-sidebar
            include ./_sidebar


        .product-catalog.-hidden-sm
          h3.product-catalog-title С «Турбосчетом» покупают
          ul.product-catalog-list
            li.product-catalog-list-item
              img(src="images/demo/traffik.png")
              .header
                .price 1 450 ₽
                button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy.btn-buy-with-spinner
                  span.buy Приобрести
                  span.spinner
                  span.cart В корзине

              a(href="#item").title Геокомплект
              ul.meta-list
                li.meta-item.-age 6-8 лет
                li.meta-item.-time 2-4

            li.product-catalog-list-item
              img(src="images/demo/traffik.png")
              .header
                .price 1 450 ₽
                button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy.btn-buy-with-spinner
                  span.buy Приобрести
                  span.spinner
                  span.cart В корзине

              a(href="#item").title Геокомплект
              ul.meta-list
                li.meta-item.-age 6-8 лет
                li.meta-item.-time 2-4

            li.product-catalog-list-item
              img(src="images/demo/traffik.png")
              .header
                .price 1 450 ₽
                button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy.btn-buy-with-spinner
                  span.buy Приобрести
                  span.spinner
                  span.cart В корзине

              a(href="#item").title Геокомплект
              ul.meta-list
                li.meta-item.-age 6-8 лет
                li.meta-item.-time 2-4

        a.btn.btn-blue.product-back(href="#catalog") Вернуться в каталог
