.sidebar-block.-rules
  a(href="#download", title="Правила (PDF)")
    span.-hidden-xs Скачать правила в формате PDF
    span.-hidden-sm-inline Правила (PDF)

.sidebar-block.-video
  .video-player
    span.title Видеоотзыв педагогов
    .video-box
      img(src="images/demo/video-sidebar.png", alt="alt")
      .video-control
      .video-shadow
      .video-timer 3:34

    p.video-description.-c-grey-300 Вы удивитесь, насколько просто ребёнок может осваивать даже сложные темы в игровой форме.
