.area.-sm.-md.-lg
  .row
    include ../../components/_breadcrumb

main.site-main
  .area.-sm.-md.-lg
    .row
      .page-heading
        h1.title Блог

      .page-main.col
        .c-blog
          .blog-empty
            .text: p Мы пока не опубликовали ни одной статьи
            img.image(src="images/animal-ostrich.png")

      aside.page-sidebar.col.c-sidebar
        include ../blog/_sidebar
