.page-content
  h2.-c-green Кто нам нужен
  p Мы всегда заинтересованы в сотрудничестве с интересными экспертами в самых разных областях. Если у вас есть какое-то предложение по потенциальному сотрудничеству с нами, мы будем рады увидеть письмо от вас на наш адрес: #[a(href="mailto:info@bandaumnikov.ru") info@bandaumnikov.ru]

.c-vacancies
  .vacancies-team
    img(
      src="images/vacancy-team.jpg"
      onmouseover="this.src='images/vacancy-team-hover.jpg'"
      onmouseout="this.src='images/vacancy-team.jpg'",
      alt=""
    )

  .vacancies-list
    a(href="#link").item
      .item-image: img(src="images/vacancy-search.png", alt="alt")
      .item-content
        h4.name Веб-программист (1С-Битрикс)
        p.description Мы ищем программиста, умеющего работать в команде, но при этом быть самостоятельной единицей. И, конечно же, заинтересованного в росте вместе с нами!
    a(href="#link").item
      .item-image: img(src="images/vacancy-search.png", alt="alt")
      .item-content
        h4.name Веб-программист (1С-Битрикс)
        p.description Мы ищем программиста, умеющего работать в команде, но при этом быть самостоятельной единицей. И, конечно же, заинтересованного в росте вместе с нами!
    a(href="#link").item
      .item-image: img(src="images/vacancy-search.png", alt="alt")
      .item-content
        h4.name Веб-программист (1С-Битрикс)
        p.description Мы ищем программиста, умеющего работать в команде, но при этом быть самостоятельной единицей. И, конечно же, заинтересованного в росте вместе с нами!
    a(href="#link").item
      .item-image: img(src="images/vacancy-search.png", alt="alt")
      .item-content
        h4.name Веб-программист (1С-Битрикс)
        p.description Мы ищем программиста, умеющего работать в команде, но при этом быть самостоятельной единицей. И, конечно же, заинтересованного в росте вместе с нами!
