ul.sidebar-block.-menu
  li: a(href="#link") Игровой подход к обучению
  li: a(href="#link") Контакты
  li: a(href="#link") Где купить
  li: a(href="#link") Партнёрам
  li: a(href="#link").-active Вакансии

.c-vacancy
  form(data-form-sender, data-form-type="alertBefore")
    .vacancy-header
      span.title Откликнуться на вакансию
    .vacancy-main
      .form-inline
        .form-group.-select
          select.form-control
            option Вакансия 1
            option Internet Marketing director Internet-marketing
            option Менеджер по региональным продажам (экспорт)
        .form-group
          input(type="text", placeholder="Имя").form-control
        .form-group
          input(type="email", placeholder="E-mail").form-control
      textarea(rows="6", placeholder="Написать сопроводительное письмо").form-control
    .vacancy-footer
      input(type="file", hidden)#file_attachment
      button(type="button", onclick="$('#file_attachment').trigger('click');return false;").btn.btn-transparent.btn-file Прикрепить файл
      button.btn.btn-yellow.btn-submit Отправить

