main.site-main
  .order-header.-hidden-xs
    h1.title Оформление заказа

  .area.-sm.-md.info-box
    h2.order-title Поздравляем! <br> Ваш заказ успешно оформлен!

    table.table.-info: tbody
      tr
        td Заказ:
        td №1660 от 16.09.2014
      tr
        td ФИО покупателя:
        td Иван Иванович Иванов, Тел: 8 499 343 55 44
      tr
        td Контакты получателя:
        td Иван Иванович Иванов, Тел: 8 499 343 55 44
      tr
        td Тип доставки и адрес:
        td Самовывоз, Москва, Ивановсе ш. 43
      tr
        td Способ оплаты:
        td Наличными в пункте самовывоза

    .c-basket
      table.table.-blue
        thead.basket-header: tr
          th Игра
          th Цена
          th.-text-center Количество
          th Сумма
        tbody.basket-main.-order
          each item in _products.product
            tr.-invalid
              td.col-description: a(href="#link").name=item.name
              td.col-price.-hidden-sm: p.current 1 500 ₽
              td.col-counter: .counter: .current-count.-text-center 1
              td.col-summary: span.price-summary 7 630 ₽
          tr.total
            td(colspan="4")
              p Всего: #[span.price 3 456 ₽]
              p Стоимость доставки: #[span.price 300 ₽]
          tr.summary
            td(colspan="4") Итого: 7 630 ₽

  include ../../components/_social-appeal
