.c-error-404 {
  .area {
    position: relative;
  }

  .error-description {
    padding: 22px;
    background-color: $yellow;
    text-transform: uppercase;
    font-size: 1.6rem;

    @media (min-width: $grid-breakpoint-sm) {
      position: absolute;
      top: 240px;
      right: 22px;
      max-width: 480px;
    }

    @media (min-width: $grid-breakpoint-md) {
      top: 320px;
      max-width: 540px;
      padding: 35px;
    }

    @media (min-width: $grid-breakpoint-lg) {
      z-index: 1;
      top: 370px;
      max-width: 580px;
      padding: 40px;
    }

    a {
      color: $blue;

      &:hover,
      &:focus {
        color: $body-color;
      }
    }

    p {
      margin-bottom: 0;
    }
  }



  .error-search {
    padding: 22px;
    background: url("../images/heading-blue-pattern.png");

    @media (min-width: $grid-breakpoint-sm) {
      position: absolute;
      top: 340px;
      right: 50px;
      width: 320px;
    }

    @media (min-width: $grid-breakpoint-md) {
      top: 440px;
      width: 380px;
      padding: 35px;
    }

    @media (min-width: $grid-breakpoint-lg) {
      z-index: 2;
      top: 500px;
      width: 400px;
      padding: 40px;
    }

    .form-group {
      position: relative;
      margin-bottom: 0;
    }

    .form-control {
      padding: .9em 46px .9em 1em;
      border-color: transparent;
    }

    .btn-search {
      position: absolute;
      z-index: 200;
      top: 3px;
      right: 0;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      padding: 0;

      &:hover,
      &:focus {
        &::before {
          @include icon-search-blue;
        }
      }

      &::before {
        @include icon-search;
        display: inline-block;
        content: "";
      }
    }
  }



  .error-animal {
    position: relative;
    padding: 80px 22px 0 10px;

    @media (min-width: $grid-breakpoint-sm) {
      padding-top: 150px;
      padding-bottom: 100px;
    }

    & > .animal {
      display: block;
      width: 255px;
      height: 314px;
      background: url("../images/animal-elephant.png") no-repeat center;
      content: "";

      @media (min-width: 568px) {
        margin-left: 20%;
      }

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: -10px;
      }

      @media (min-width: $grid-breakpoint-md) {
        width: 421px;
        height: 540px;
        margin-left: -18px;
        background: url("../images/animal-elephant-big.png") no-repeat center;
        background-size: 421px 540px;
      }

      @media (min-width: $grid-breakpoint-lg) {
        width: 460px;
        height: 590px;
        margin-left: 0;
        background-size: 460px 590px;
      }
    }

    & > .text {
      position: absolute;
      top: -8px;
      right: 20px;
      color: #a4b7b6;
      font-size: 8.2rem;
      font-weight: 700;

      @media (min-width: 568px) {
        top: 20%;
        right: 12%;
      }

      @media (min-width: $grid-breakpoint-sm) {
        top: 100px;
        right: -200px;
        font-size: 12rem;
      }

      @media (min-width: $grid-breakpoint-md) {
        right: -307px;
        font-size: 18rem;
      }

      @media (min-width: $grid-breakpoint-lg) {
        font-size: 21.5rem;
        right: -362px;
      }
    }
  }
}
