.c-appeal {
  width: 100%;
  padding: 20px;
  background: url("../images/pattern-green.png") repeat top left;

  @media (min-width: $grid-breakpoint-sm) {
    margin-bottom: 30px;
  }

  .appeal-header {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;

    & > .title {
      text-transform: uppercase;
      font-size: 2.4rem;
      line-height: 1;
    }
  }

  .appeal-main {
    text-align: center;

    .form-control {
      border-color: transparent;
      text-align: center;
    }

    .btn {
      display: block;
      width: 100%;
      background-color: #5f8500;
      font-size: 1.6rem;
      font-weight: 600;

      &:hover,
      &:focus {
        border-color: #9aca29;
        background-color: #9aca29;
      }
    }
  }
}
