.c-basket {
  .basket-header {
    display: none;
    text-transform: uppercase;

    @media (min-width: $grid-breakpoint-sm) {
      display: table-header-group;
    }

    th {
      padding: 20px 10px 20px 0;

      &.col-count {
        @media (min-width: $grid-breakpoint-sm) {
          padding-left: 8px;
        }

        @media (min-width: $grid-breakpoint-md) {
          padding-left: 18px;
        }
      }

      &.col-summary {
        padding-left: 10px;
      }
    }
  }

  .basket-main.-basket {
    tr {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      min-height: 140px;
      padding-top: 40px;
      border-bottom: 1px solid #d1d1d1;

      @media (min-width: $grid-breakpoint-sm) {
        display: table-row;
        padding-top: 0;
      }

      &.-invalid {
        background-color: rgba($red, .1);
      }
    }

    td {
      padding: 25px 10px 25px 0;
      border-top: 0;
    }

    .col-image {
      width: 50px;
      padding: 0;

      @media (min-width: $grid-breakpoint-sm) {
        width: 140px;
        padding: 25px 10px 20px 0;
      }

      a {
        display: block;
        width: 100%;
      }
    }

    .col-description {
      position: absolute;
      top: 0;
      left: 70px;
      padding: 40px 0 0;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        left: 0;
        padding: 25px 10px 20px 0;
      }

      & > .name {
        display: block;
        margin-bottom: .5em;
        color: #1d1d1d;
        font-size: 1.6rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 2rem;
        }

        @media (min-width: $grid-breakpoint-md) {
          font-size: 2.4rem;
        }
      }

      & > .text {
        max-width: 300px;
        margin-bottom: 0;
      }
    }

    .col-price {
      position: absolute;
      top: 30px;
      right: 10px;
      padding: 45px 0 0;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        top: 0;
        right: 0;
        padding: 25px 10px 20px 0;
      }

      & > .current {
        margin-bottom: .5em;
        font-size: 2rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-md) {
          font-size: 2.4rem;
        }
      }

      & > .old {
        margin-bottom: 0;
      }
    }

    .col-counter {
      position: absolute;
      top: 30px;
      left: 70px;
      padding: 45px 0 0;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        top: 0;
        left: 0;
        padding: 21px 10px 20px 0;
      }

      & > .counter {
        display: flex;
        align-items: center;
      }

      & > .counter > .current-count {
        width: 30px;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;

        @media (min-width: $grid-breakpoint-md) {
          width: 50px;
          font-size: 2.4rem;
        }
      }

      & > .counter > .btn {
        position: relative;
        width: 28px;
        height: 28px;
        padding: 0;
        border: 2px solid #aeaeae;
        border-radius: 50%;
        transition: background-color .1s linear, border-color .1s linear;

        @media (min-width: $grid-breakpoint-sm) {
          width: 40px;
          height: 40px;
        }

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 10px;
          height: 2px;
          margin-top: -1px;
          margin-left: -5px;
          background-color: #aeaeae;
          content: "";

          @media (min-width: $grid-breakpoint-sm) {
            width: 14px;
            margin-left: -7px;
          }
        }

        &:hover,
        &:focus {
          &::before,
          &::after {
            background-color: #fff;
          }
        }

        &-step-down {
          &:hover,
          &:focus {
            border-color: $blue;
            background-color: $blue;
          }
        }

        &-step-up {
          &:hover,
          &:focus {
            border-color: $green;
            background-color: $green;
          }

          &::after {
            transform: rotate(90deg);
          }
        }
      }
    }

    .col-summary {
      padding-left: 10px;
    }

    .col-summary > .price-summary {
      font-size: 2rem;
      font-weight: 700;

      @media (min-width: $grid-breakpoint-md) {
        font-size: 2.4rem;
      }
    }

    .col-remove {
      position: absolute;
      top: -5px;
      right: 10px;
      width: 28px;
      padding: 40px 0 0;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        top: 0;
        right: 0;
        width: 40px;
        padding: 20px 0 20px 0;
      }
    }

    .col-remove > .btn {
      padding: 0;
    }

    .col-remove > .btn > span {
      position: relative;
      display: block;
      width: 28px;
      height: 28px;
      border: 2px solid #aeaeae;
      border-radius: 50%;
      transition: background-color .1s linear, border-color .1s linear;

      @media (min-width: $grid-breakpoint-sm) {
        width: 40px;
        height: 40px;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 10px;
        height: 2px;
        margin-top: -1px;
        margin-left: -5px;
        background-color: #aeaeae;
        content: "";

        @media (min-width: $grid-breakpoint-sm) {
          width: 14px;
          margin-left: -7px;
        }
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:hover,
      &:focus {
        border-color: #e70d0c;
        background-color: #e70d0c;

        &::before,
        &::after {
          background-color: #fff;
        }
      }
    }
  }



  .basket-main.-order {
    tr.-invalid {
      background-color: lighten($red, 45%);
    }

    td {
      padding: 25px 10px;

      @media (min-width: $grid-breakpoint-sm) {
        padding: 25px 10px 14px 0;
      }
    }

    .col-description {
      & > .name {
        display: block;
        color: #1d1d1d;
        font-size: 1.6rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 2rem;
        }

        @media (min-width: $grid-breakpoint-md) {
          font-size: 2.4rem;
        }
      }
    }

    .col-price {
      & > .current {
        margin-bottom: .5em;
        font-size: 2rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-md) {
          font-size: 2.4rem;
        }
      }
    }

    .col-counter > .counter > .current-count {
      width: 30px;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;

      @media (min-width: $grid-breakpoint-md) {
        width: 50px;
        font-size: 2.4rem;
      }
    }

    .col-summary {
      text-align: right;

      @media (min-width: $grid-breakpoint-sm) {
        text-align: left;
      }
    }

    .col-summary > .price-summary {
      font-size: 2rem;
      font-weight: 700;

      @media (min-width: $grid-breakpoint-md) {
        font-size: 2.4rem;
      }
    }
  }



  .basket-footer {
    margin-top: 20px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-top: 40px;
    }

    .promo {
      position: relative;
      display: flex;
      flex-direction: column;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
      }
    }

    .promo .text {
      flex-shrink: 0;
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.6rem;

      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 0;
        text-align: left;
        font-size: 1.4rem;

        span {
          display: inline-block;
        }
      }

      span {
        display: block;
      }

      .btn-promo {
        display: inline;
        padding: 0;
        color: $blue;
        white-space: normal;
        text-decoration: underline;
        vertical-align: baseline;
        letter-spacing: .04em;
        text-transform: none;
        font-size: 1.6rem;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 1.4rem;
        }

        &:hover,
        &:focus {
          color: darken($blue, 15);
        }
      }

      .btn-help {
        display: none;

        @media (min-width: $grid-breakpoint-sm) {
          display: inline-block;
        }
      }
    }

    .promo .input {
      top: -12px;
      right: 0;
      display: none;
      margin: 0 10px 20px;
      transition: opacity .3s linear;

      @media (min-width: $grid-breakpoint-sm) {
        position: absolute;
        width: 340px;
        margin: 0;
      }

      @media (min-width: $grid-breakpoint-md) {
        width: 400px;
      }

      &.-on {
        display: flex;
      }

      .form-control {
        padding: .65em 1em;
        border-color: #d1d1d1;
        border-right: 0;

        @media (min-width: $grid-breakpoint-sm) {
          padding: .9em 1.5em;
        }
      }

      .btn {
        padding: .5em .9em;
        border-color: $green;
        background-color: $green;
        text-transform: none;
        font-size: 1.6rem;
        font-weight: 600;

        @media (min-width: $grid-breakpoint-sm) {
          border-color: $blue;
          background-color: $blue;
        }
      }
    }


    .free-delivery {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      padding: 20px;
      background-color: $blue;
      color: #fff;
      text-align: center;
      letter-spacing: .02em;
      font-size: 1.8rem;
      font-weight: 600;

      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 50px;
      }

      p {
        margin-bottom: 0;
      }

      br {
        @media (min-width: $grid-breakpoint-lg) {
          display: none;
        }
      }

      .btn-help {
        display: none;
        margin-left: 30px;
        border-color: #fff;
        color: #fff;

        @media (min-width: $grid-breakpoint-sm) {
          display: inline-block;
        }
      }
    }

    .summary-price {
      text-align: center;
      font-size: 2rem;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 2.8rem;
      }

      & > .no-discount-price {
        margin-bottom: .25em;
      }

      & > .discount-price {
        margin-bottom: 20px;

        @media (min-width: $grid-breakpoint-sm) {
          margin-bottom: 40px;
        }
      }

      & > .total {
        margin-bottom: .25em;
        font-size: 2.8rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-sm) {
          margin-bottom: 50px;
          font-size: 3.6rem;
        }
      }
    }


    .order-info {
      overflow-y: scroll;
      height: 150px;
      margin-bottom: 10px;
      padding: 20px;
      border-bottom: 0;
      color: #d1d1d1;
      font-size: 1.2rem;

      @media (min-width: $grid-breakpoint-sm) {
        height: 105px;
        margin-bottom: 0;
        border: 1px solid #ebebeb;
      }

      h2 {
        color: #353b43;
      }

      ul {
        line-height: 2;
      }

      ul > li {
        @include list-unstyled;
      }
    }

    .order-action {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px;

      @media (min-width: 568px) {
        padding: 35px;
        background-color: #f6f6f6;

        .btn {
          display: inline-block;
          width: 190px;
          font-size: 1.8rem;
        }

        .btn-fast {
          order: -1;
          margin-right: 15px;
        }

        .btn-next {
          margin-right: 0;
          margin-left: 15px;

          &::before,
          &::after {
            right: 54px;
          }
        }
      }

      .btn {
        width: 100%;
        transition: all .2s linear;
        font-size: 1.4rem;
        font-weight: 600;
      }

      .btn-fast {
        background-color: transparent;
        color: $green;

        &:hover,
        &:focus {
          border-color: $green;
          background-color: $green;
          color: #fff;
        }
      }

      .btn-next {
        position: relative;
        order: -1;
        margin-right: 10px;
        padding-right: 35px;

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          right: 34px;
          display: block;
          width: 10px;
          height: 2px;
          margin-top: -2px;
          background-color: #fff;
          content: "";
          transform: translate(-50%, -50%);
          transform-origin: 9px;
        }

        &::before {
          transform: rotate(-45deg);
        }
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
}
