.c-blog {
  .blog-empty {
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 0;
    }

    .text {
      background-color: #fff;
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;

      p {
        font-size: 2.4rem;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 3.2rem;
        }
      }
    }

    .image {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .blog-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;

    @media (min-width: $grid-breakpoint-sm) {
      flex-direction: row;
      margin-bottom: 50px;
      text-align: left;
    }

    & > a {
      display: block;
      width: 100%;
    }

    .item-image {
      max-width: 200px;
      margin: 0 auto 20px;
      flex-shrink: 0;

      @media (min-width: $grid-breakpoint-sm) {
        margin: 0;
      }
    }

    .item-content {
      @media (min-width: $grid-breakpoint-sm) {
        padding-left: 30px;
      }

      & > .title {
        font-size: 2.4rem;

        a {
          color: $blue;

          &:hover,
          &:focus {
            color: darken($blue, 15);
          }
        }
      }
    }
  }
}
