.blog-posts {
  .info-title {
    margin-bottom: 30px;
  }

  .blog-item {
    text-align: left;

    @media (max-width: ($grid-breakpoint-sm - 1)) {
      display: none;

      &:first-child {
        display: block;
      }
    }

    @media (max-width: ($grid-breakpoint-md - 1)) {
      &:last-child {
        display: none;
      }
    }

    & > .time {
      display: inline-block;
      margin-bottom: 10px;
    }

    & > .title {
      margin-bottom: 10px;
      font-size: 2rem;

      @media (min-width: $grid-breakpoint-sm) {
        min-height: 66px;
      }

      @media (min-width: $grid-breakpoint-lg) {
        min-height: 0;
      }

      a {
        color: #fff;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    & > .image {
      margin-bottom: 10px;

      @media (min-width: $grid-breakpoint-md) {
        margin-bottom: 20px;
      }
    }
  }

  .blog-btn {
    position: relative;
    @include btn-color(#fff, #353b43);
    padding: .7em 40px .7em 1em;

    &::before,
    &::after {
      margin-top: -1px;
      top: 50%;
      right: 20px;
      content: "";
      display: block;
      background-color: #353b43;
      width: 8px;
      height: 2px;
      transform-origin: 7px;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    &::before { transform: rotate(-45deg); }
    &::after { transform: rotate(45deg); }
  }
}
