// Variables

.c-breadcrumb {
  position: relative;
  display: none;
  padding-top: 27px;
  padding-bottom: 36px;

  @media (min-width: $grid-breakpoint-sm) {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
  }

  .breadcrumb-list {
    @include list-unstyled;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & > .item {
      color: #72767a;

      &.-active {
        cursor: default;
      }

      & > .link {
        color: #72767a;

        &:hover,
        &:focus {
          color: #005580;
        }
      }

      & + .item::before {
        @include icon-arr-bread;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        content: "";
        vertical-align: middle;
      }
    }
  }
}
