.c-cabinet {
  .c-tabs .tab-content {
    margin-top: 30px;
  }

  .forms {
    width: 100%;

    .-section-title {
      td:first-of-type {
        padding-top: 40px;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-sm) {
          padding-top: 15px;
        }
      }

      td:last-of-type {
        padding: 0;
      }
    }

    tr.-space td {
      @media (min-width: $grid-breakpoint-sm) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    tr td {
      display: block;
      padding: 6px 21px;
      background-color: #f6f6f6;
      color: #353b43;

      @media (min-width: $grid-breakpoint-sm) {
        display: table-cell;
        background-color: #fff;
        vertical-align: baseline;
      }
    }

    @media (min-width: $grid-breakpoint-sm) {
      tr td:nth-child(odd) {
        width: 33%;
        background-color: #f6f6f6;
      }

      tr td:nth-child(even) {
        background-color: #e9e9e9;
      }
    }

    tr:last-child td {
      padding-bottom: 20px;
    }

    .form-control {
      border-color: transparent;
      font-size: 1.8rem;
    }



    .-inline-inputs {
      display: flex;

      .form-control {
        flex-shrink: 1;
      }

      .form-control + .form-control {
        margin-left: 1%;
      }
    }

    .-map {
      height: 300px;
    }

    .btn-save {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }



  .order-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: -10px;
    margin-bottom: 1em;
    margin-left: -10px;
    padding: .5em .7em;

    @media (min-width: $grid-breakpoint-sm) {
      margin-right: 0;
      margin-left: 0;
      padding: 0;
    }

    &.-active {
      background-color: $yellow;

      @media (min-width: $grid-breakpoint-sm) {
        background-color: transparent;
      }

      .btn-order {
        @media (min-width: $grid-breakpoint-sm) {
          background-color: $yellow;
        }

        &::before,
        &::after {
          top: 40%;
        }

        &::before {
          transform: rotate(-135deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    .btn-order {
      padding: 0;
      border-radius: 1em;
      text-transform: none;
      font-size: 1.6rem;
      font-weight: 600;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        padding: .25em 5em .25em 1em;
        border: 1px solid #d1d1d1;
        font-size: 2rem;
        min-width: 250px;
        text-align: left;
      }

      &::before,
      &::after {
        position: absolute;
        top: 60%;
        right: 2em;
        display: block;
        width: 12px;
        height: 2px;
        margin-top: -1px;
        background-color: #000;
        content: "";
        transform: translate(-50%, -50%);
        transform-origin: 11px;
      }

      &::before {
        transform: rotate(135deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }

    .badge {
      margin-left: 2em;
      padding: .2em 1em;
      border-radius: 1em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2rem;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 1.6rem;
      }

      &.-red {
        background-color: #e80c0c;
      }

      &.-green {
        background-color: #8ab226;
      }

      &.-orange {
        background-color: #ee6c10;
      }

      &.-blue {
        background-color: #009ce1;
      }
    }
  }



  .order-body {
    display: none;

    &.-on {
      display: block;
    }

    .-info {
      max-width: $grid-area-sm;
      margin: 1em 0;
      font-size: 1.6rem;
      font-weight: 400;

      @media (min-width: $grid-breakpoint-sm) {
        margin: 2em 0;
      }

      td:first-of-type {
        padding-left: 0;
      }

      td:last-of-type {
        font-weight: 600;
      }
    }

    .order-composition {
      margin-bottom: .5em;
      text-align: center;
      font-weight: 300;

      @media (min-width: $grid-breakpoint-sm) {
        text-align: left;
        font-weight: 600;
      }
    }

    .-orders {
      margin: 0 0 .25em;

      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 2em;
      }

      th,
      td {
        text-align: center;

        &:first-of-type {
          text-align: left;
        }
      }

      thead {
        border-top: 1px solid #eaeaea;
        color: #72767a;
        text-transform: uppercase;
        font-size: 1.2rem;

        @media (max-width: ($grid-breakpoint-sm - 1)) {
          background: transparent;
        }

        @media (min-width: $grid-breakpoint-sm) {
          color: #fff;
          font-size: 1.8rem;
        }

        th {
          padding: 1em;

          @media (max-width: ($grid-breakpoint-sm - 1)) {
            padding: .75em 0 0 !important;
          }
        }
      }

      tbody {
        text-transform: uppercase;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 2.4rem;
        }

        td {
          @media (max-width: ($grid-breakpoint-sm - 1)) {
            padding: .75em 0 !important;
            border-top: 0;
            border-bottom: 1px solid #eaeaea;
          }
        }

        span {
          font-weight: 400;
        }

        a {
          color: $blue;

          &:hover,
          &:focus {
            color: $body-color;
          }
        }
      }

      tfoot td {
        padding: .25em;
        border-top: 0;
        text-align: right !important;
        font-size: 1.6rem;
        font-weight: 600;

        @media (min-width: $grid-breakpoint-sm) {
          padding: .25em .75em;
          font-size: 2.4rem;
        }

        span {
          font-weight: 400;
        }
      }
    }

    .price-summary {
      margin-bottom: 2em;
      padding-top: 1em;
      padding-bottom: 1em;
      background: url("../images/heading-blue-pattern.png");
      color: #fff;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 3.2rem;
      }

      span {
        font-weight: 400;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .order-appeal {
    margin-right: -10px;
    margin-left: -10px;
  }
}
