.c-catalog {
  z-index: 80;

  @media (min-width: $grid-breakpoint-sm) {
    padding-left: 0;
  }

  .catalog-empty {
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-top: 30px;
      margin-bottom: 0;
    }

    .text {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;

      p {
        font-size: 1.6rem;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 1.8rem;
        }
      }
    }

    .image {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  & > .title-wrapper {
    position: relative;
    margin-right: -10px;
    margin-left: -10px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  & > .title-wrapper > .title {
    margin: 0 0 40px;
    padding: 11px 10px;
    background-position: top left;
    background-size: 290px 45px;
    background-repeat: no-repeat;
    color: #fff;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 300;

    @media (min-width: 568px) {
      margin: 0 0 40px;
      padding: 20px 40px;
      background-size: 470px 73px !important;
      font-size: 3rem;
    }

    @media (min-width: $grid-breakpoint-lg) {
      width: 65%;
      background-repeat: repeat-x;
    }

    &::before {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 10px;
      width: 90%;
      height: 45px;
      background-position: top left;
      background-repeat: repeat-x;
      content: "";

      @media (min-width: 568px) {
        height: 73px;
      }
    }
  }

  & > .title-wrapper > .title.-blue-green {
    background-image: url("../images/heading-blue-pattern.png");

    &::before {
      background-image: url("../images/heading-green-pattern.png");
    }
  }

  & > .title-wrapper > .title.-green-orange {
    background-image: url("../images/heading-green-pattern.png");

    &::before {
      background-image: url("../images/heading-orange-pattern.png");
    }
  }

  & > .title-wrapper > .title.-orange-blue {
    background-image: url("../images/heading-orange-pattern.png");

    &::before {
      background-image: url("../images/heading-blue-pattern.png");
    }
  }



  .catalog-list {
    justify-content: center;
    margin-bottom: 50px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 60px;
    }

    & > .col {
      margin-bottom: 30px;
      padding-right: 0;
      padding-left: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }



  .catalog-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: #898989;
    transition: box-shadow .2s linear;
    text-align: left;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 0;
      margin-left: -15px;
      padding: 20px 10px 20px 30px;
      height: 415px;

      &:hover,
      &:focus {
        z-index: 200;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      }
    }



    .item-badge {
      position: absolute;
      z-index: 100;
      top: 54px;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      line-height: 54px;

      @media (min-width: $grid-breakpoint-sm) {
        top: -17px;
        right: -27px;
        border: 4px solid #fff;
        line-height: (54px - 2 * 4);
      }

      &.-hot {
        background-color: $blue;
      }

      &.-new {
        background-color: $green;
      }
    }

    .item-image {
      position: absolute;
      top: 0;
      left: 10px;
      display: block;
      order: 1;
      width: 80px;
      height: 80px;
      min-height: 164px;
      margin-bottom: 11px;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
      }

      & > .image-inner {
        position: relative;
        display: inline-block;
      }
    }

    .item-header {
      order: 2;
      margin-left: 110px;

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 0;
      }

      & > .name {
        margin-bottom: 5px;
        color: $blue;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 600;

        @media (min-width: $grid-breakpoint-sm) {
          margin-bottom: 15px;
        }
      }
    }


    .item-meta {
      order: 5;
      margin-left: 110px;
      line-height: 2;

      @media (min-width: $grid-breakpoint-sm) {
        order: 3;
        margin-left: 0;

        div {
          margin-bottom: 10px;
          position: relative;
          padding-left: 40px;
          line-height: 1;

          &::before {
            position: absolute;
            left: 0;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      & > .age {
        &::before {
          @include icon-age;
          display: inline-block;
          margin-right: 5px;
          content: "";
          vertical-align: text-bottom;
        }
      }

      & > .category {
        &::before {
          @include icon-category;
          display: inline-block;
          margin-right: 16px;
          content: "";
          vertical-align: text-bottom;
        }
      }
    }

    .item-content {
      order: 4;
      margin-left: 110px;

      @media (min-width: $grid-breakpoint-sm) {
        order: 4;
        margin-left: 0;
        padding-right: 0;
      }

      & > .description {
        position: relative;
        flex: 1 0 auto;
        margin-bottom: 0;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        font-size: 1.3rem;
      }
    }

    .item-footer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      order: 3;
      margin-left: 110px;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        order: 5;
        margin-left: 0;
      }

      & > .price {
        margin-bottom: 5px;
        color: #393f47;
        font-size: 1.8rem;

        @media (min-width: $grid-breakpoint-sm) {
          margin-bottom: 0;
        }
      }

      & > .btn-buy-with-spinner {
        width: auto;
        min-height: auto;
        padding: .75em 1em;
        font-size: 1.2rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-sm) {
          width: 85px;
          margin-left: 15px;
          padding: .3em .5em;
        }

        @media (min-width: $grid-breakpoint-md) {
          margin-left: 10px;
        }

        @media (min-width: $grid-breakpoint-lg) {
          margin-left: 15px;
        }
      }

      & > .btn-preorder {
        width: auto;
        min-height: auto;
        padding: .75em 1em;
        font-size: 1.2rem;
        font-weight: 700;

        @media (min-width: $grid-breakpoint-sm) {
          margin-left: 15px;
          padding: .3em .5em;
        }

        @media (min-width: $grid-breakpoint-md) {
          margin-left: 10px;
        }

        @media (min-width: $grid-breakpoint-lg) {
          margin-left: 15px;
        }

        &.-soon {
          margin-left: 0;
        }
      }

      & > .comment {
        position: absolute;
        right: 10px;
        bottom: 9px;
        color: $blue;
        font-size: 1.2rem;
        font-weight: 600;

        @media (min-width: $grid-breakpoint-sm) {
          position: relative;
          right: 0;
          bottom: 0;
          margin-left: 15px;
        }

        @media (min-width: $grid-breakpoint-md) {
          margin-left: 10px;
        }

        @media (min-width: $grid-breakpoint-lg) {
          display: inline-block;
          margin-left: 15px;
        }

        &::before {
          @include icon-comment;
          display: inline-block;
          margin-right: 5px;
          content: "";
          vertical-align: middle;
        }
      }
    }
  }
}
