// Variables
$catalog-slider-title-color: $blue;

.c-catalog-slider {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $grid-breakpoint-sm) {
    margin-bottom: 60px;
  }

  .area {
    padding-right: 0;
    padding-left: 0;
  }

  .catalog-title {
    display: inline-block;
    margin: 0 15% 16px;
    color: $catalog-slider-title-color;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.3;

    @media (min-width: $grid-breakpoint-sm) {
      margin: 0 0 6px;
      border-bottom: 1px solid $catalog-slider-title-color;
      text-decoration: none;
      font-size: 3rem;
    }
  }

  .catalog-slider {
    position: relative;
    border: 1px solid transparent;
    border-right: 0;
    border-left: 0;

    @media (min-width: $grid-breakpoint-sm) {
      width: 710px;
      margin: 40px auto;
      border-color: #d3d3d3;
    }

    @media (min-width: $grid-breakpoint-md) {
      width: 930px;
    }

    @media (min-width: $grid-breakpoint-lg) {
      width: 1130px;
    }
  }

  .owl {
    position: relative;
    width: 100%;

    touch-action: pan-y;

    @media (min-width: $grid-breakpoint-sm) {
      margin: -60px 0 -60px -10px;
    }
  }

  .owl-wrapper-outer {
    position: relative;
    overflow: hidden;

    @media (min-width: $grid-breakpoint-sm) {
      width: 721px;
      padding: 60px 0 60px 10px;
    }

    @media (min-width: $grid-breakpoint-md) {
      width: 951px;
    }

    @media (min-width: $grid-breakpoint-lg) {
      width: 1151px;
    }
  }

  .owl-wrapper {
    position: relative;
    display: flex !important;
    transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
  }

  .owl-item {
    position: relative;
    display: flex;

    &:first-child {
      border-left: 1px solid #d3d3d3;
    }

    &.active .item-header {
      border-bottom-color: #d3d3d3;
    }
  }

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 10px;
    border-right: 1px solid transparent;
    background-color: #fff;
    color: #898989;
    transition: box-shadow .2s linear;
    text-align: left;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 0;
      padding-right: 0;
      border-color: #d3d3d3;

      &:hover,
      &:focus {
        position: absolute;
        z-index: 100;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        padding: 1px;
        border: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);

        .item-header {
          // При наведении элемент слайдера сдвигается на 1px влево, чтобы
          // закрыть собой рамку шириной в 1px. При этом заголовок не должен
          // сдвигаться на этот 1px.
          padding-left: 1px;
          border-color: transparent;
        }

        // При наведении элемент слайдера сдвигается на 1px влево, чтобы
        // закрыть собой рамку шириной в 1px. При этом изображение и бэйджик не
        // должны сдвигаться на этот 1px.
        .item-image img {
          padding-left: 1px;
        }

        .item-badge {
          top: -26px;
          left: 11px;

          & + .item-badge {
            left: 51px;
          }
        }
      }
    }

    .item-badge {
      position: absolute;
      z-index: 100;
      top: 54px;
      left: 10px;
      width: 54px;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      line-height: 54px;

      @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
        top: 64px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        top: -27px;
      }

      & + .item-badge {
        left: 50px;
      }

      &.-hot {
        background-color: $blue;
      }

      &.-new {
        background-color: $green;
      }
    }

    .item-header {
      margin-bottom: 5px;
      margin-left: 110px;
      border-bottom: 1px dotted transparent;

      @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
        margin-left: 130px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
      }

      .title {
        display: block;
        margin-bottom: 0;
        color: #727272;
        text-transform: uppercase;
        font-size: 1.4rem;

        @media (min-width: $grid-breakpoint-sm) {
          padding-top: 25px;
          padding-bottom: 25px;
          font-size: 1.6rem;
        }
      }
    }

    .item-image {
      position: absolute;
      top: 0;
      left: 10px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 80px;
      height: 80px;

      @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
        width: 100px;
        height: 100px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        left: 0;
        width: auto;
        height: auto;
        min-height: 192px;
        padding: 15px 20px 20px 0;
      }

      img {
        height: 80px;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: 568px) {
          height: auto;
        }
      }
    }

    .item-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 110px;

      @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
        margin-left: 130px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 0;
        padding-right: 22px;
        padding-left: 22px;
      }

      & > .name {
        margin-bottom: 3px;
        color: $blue;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 600;
      }

      & > .price {
        color: #353b43;
        font-size: 1.8rem;
        font-weight: 600;

        .price-old {
          text-decoration: line-through;
          font-size: 1.6rem;
          font-weight: 400;
        }

        .price-old + .price-current {
          margin-left: 20px;
        }
      }

      & > .description {
        position: relative;
        flex: 1 0 auto;
        margin-bottom: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.3rem;
      }
    }

    .item-meta {
      margin-left: 110px;
      line-height: 2;

      @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
        margin-left: 130px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 0;
        padding: 0 25px 20px;
      }

      & > .age {
        &::before {
          @include icon-age;
          display: inline-block;
          margin-right: 5px;
          content: "";
          vertical-align: text-bottom;
        }
      }

      & > .category {
        &::before {
          @include icon-category;
          display: inline-block;
          margin-right: 15px;
          content: "";
          vertical-align: text-bottom;
        }
      }
    }
  }

  .catalog-slider-controls {
    position: absolute;
    top: 45%;
    right: -22px;
    left: -22px;
    display: none;
    transform: translateY(-50%);

    @media (min-width: $grid-breakpoint-sm) {
      display: block;
    }

    .control {
      position: absolute;
      top: 50%;
      width: 44px;
      height: 44px;
      border: 2px solid #aeaeae;
      border-radius: 50%;
      background-color: #fff;
      content: "";
      cursor: pointer;
      transform: translateY(-50%);

      &:hover,
      &:focus {
        border-color: $yellow;
        background-color: $yellow;

        &::before,
        &::after {
          background-color: #434841;
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 10px;
        height: 2px;
        background-color: #aeaeae;
        content: "";
        transform-origin: 9px;
      }

      &.-prev {
        left: 0;

        &::before,
        &::after {
          left: 18%;
        }

        &::before {
          transform: rotate(-135deg);
        }
        &::after {
          transform: rotate(135deg);
        }
      }

      &.-next {
        right: 0;

        &::before,
        &::after {
          left: 38%;
        }

        &::before {
          transform: rotate(-45deg);
        }
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }

  .btn-catalog {
    position: relative;
    padding: .7em 1.9em .7em .9em;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 13px;
      display: block;
      width: 8px;
      height: 2px;
      margin-top: -1px;
      background-color: #fff;
      content: "";
      transform: translate(-50%, -50%);
      transform-origin: 7px;
    }

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}
