// Variables
$cooperation-bg: #f6f6f6;
$cooperation-color: #72767a;
$cooperation-title-color: #353b43;
$cooperation-btn-color: $blue;
$cooperation-btn-color-active: #fff;



.c-cooperation {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $cooperation-bg;
  color: $cooperation-color;

  .cooperation-header {
    text-align: center;

    & > .title {
      margin-bottom: 30px;
      color: $cooperation-title-color;
      text-transform: uppercase;
      font-size: 2.1rem;
      font-weight: 300;

      @media (min-width: $grid-breakpoint-md) {
        margin-bottom: .5em;
        font-size: 3rem;
      }
    }

    & > .description {
      display: none;
      margin-bottom: 30px;

      @media (min-width: $grid-breakpoint-md) {
        display: block;
      }
    }
  }

  .cooperation-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 0;
    }

    & > .image-box {
      position: absolute;
      top: 0;
      left: 20px;
      flex-grow: 1;
      width: 50px;
      margin-bottom: 20px;

      @media (min-width: 568px) {
        width: 80px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        width: auto;
        margin-left: 20px;
      }
    }

    & > .title {
      margin-left: 70px;
      color: $cooperation-title-color;
      font-size: 1.8rem;
      font-weight: 300;

      @media (min-width: 568px) {
        margin-left: 110px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 0;
      }

      @media (min-width: $grid-breakpoint-md) {
        margin-bottom: 20px;
        font-size: 2.4rem;
      }
    }

    & > a.title {
      margin-bottom: .5em;
      color: $blue;

      &:hover,
      &:focus {
        color: darken($blue, 15);
      }
    }

    & > .description {
      max-width: 100%;
      margin-left: 70px;
      padding-right: 30px;
      font-weight: 600;

      @media (min-width: 568px) {
        margin-left: 110px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 0;
        padding-right: 0;
      }
    }

    & > .btn {
      padding-top: .7em;
      padding-bottom: .7em;
      border-color: $cooperation-btn-color;
      color: $cooperation-btn-color;
      font-size: 1.3rem;

      @media (max-width: ($grid-breakpoint-sm - 1)) {
        align-self: stretch;
      }

      @media (min-width: $grid-breakpoint-md) {
        font-size: 1.4rem;
      }

      &:hover,
      &:focus {
        background-color: $cooperation-btn-color;
        color: $cooperation-btn-color-active;
      }
    }
  }
}
