.c-delivery {
  margin-left: 0 !important;
  margin-right: 0 !important;

  .c-sidebar {
    margin-top: 30px;
  }

  .delivery-form {
    margin-top: 30px;
  }

  .tab-user-new {
    padding: 20px;
    background-color: #e9e9e9;

    & > p {
      margin-bottom: .5em;
      font-size: 1.8rem;
    }

    .form-control {
      width: 100%;
      border: 0;
      font-size: 1.8rem;
    }

    .form-inline {
      display: flex;
      flex-direction: column;
      margin-bottom: .5em;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;

        .form-group {
          width: 49%;
          margin-right: .4%;
        }

        .form-group + .form-group {
          width: 50%;
          margin-right: 0;
          margin-left: .4%;
        }
      }

      @media (min-width: $grid-breakpoint-md) {
        .form-group {
          width: 49.6%;
          margin-right: .4%;
        }

        .form-group + .form-group {
          width: 49.675%;
          margin-right: 0;
          margin-left: .325%;
        }
      }
    }

    .delivery-id-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 0;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;
      }

      .form-radio {
        position: relative;
        width: 100%;

        @media (min-width: $grid-breakpoint-sm) {
          width: 49%;
          margin-bottom: 1%;

          &:nth-child(2n) {
            width: 50%;
          }
        }

        @media (min-width: $grid-breakpoint-sm) {
          & + .form-radio {
            margin-left: .75%;
          }
        }

        @media (max-width: ($grid-breakpoint-md - 1)) {
          &:nth-child(3n) {
            width: 100%;
            margin-left: 0;
          }
        }

        @media (min-width: $grid-breakpoint-md) {
          width: ((100% / 3) - .5);
          margin-bottom: 0;

          &:nth-child(2n) {
            width: ((100% / 3) - .5);
          }
        }
      }

      label {
        display: flex;
        min-height: 100%;

        input:checked ~ .label-text {
          border-color: $green;
        }
      }

      .label-text {
        display: block;
        width: 100%;
        padding: 20px 20px 20px 43px;
        border: 2px solid #fff;
        background-color: #fff;
      }

      .label-text::before {
        position: absolute;
        top: 23px;
        left: 15px;
      }

      .title,
      .price,
      .time {
        display: block;
      }

      .title {
        margin-bottom: .5em;
        font-size: 1.8rem;
      }

      .price,
      .time {
        margin-bottom: 0;
        color: #72767a;
        font-weight: 600;
      }
    }
  }



  .tab-user-old {
    .forms {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      background-color: #e9e9e9;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;

        .form-login,
        .form-social {
          width: 50%;
        }
      }
    }

    .form-login {
      padding: 20px;
      font-size: 1.8rem;

      label {
        margin-bottom: .25em;
        color: #75787c;
      }

      a {
        border-bottom: 1px dotted $blue;
        color: $blue;

        &:hover,
        &:focus {
          color: darken($blue, 15);
        }
      }

      .btn {
        display: block;
        width: 100%;
        padding-top: .7em;
        padding-bottom: .7em;
        font-size: 1.6rem;
        font-weight: 600;
      }



      // Variations
      &.-forget {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color: #e9e9e9;

        &.-on {
          display: block;
        }

        p {
          margin-top: 1em;
        }
      }
    }

    .form-social {
      padding: 20px;
      text-align: center;

      & > .title {
        font-size: 1.8rem;
      }

      & > .description {
        color: #909090;

        @media (min-width: $grid-breakpoint-md) {
          padding-right: 50px;
          padding-left: 50px;
        }
      }
    }

    .user-action {
      .login {
        display: none;
      }

      &.-active {
        .login {
          display: inline-block;
        }

        .forget {
          display: none;
        }
      }
    }
  }



  .toggle-control {
    &.-hidden {
      display: none;
    }

    &.-on {
      display: block;
    }
  }



  .address-box {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #e9e9e9;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 50px;
    }

    .address-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: 2rem;
    }

    .form-control {
      width: 100%;
      padding-top: .75em;
      padding-bottom: .75em;
      border-color: #ccc;
    }

    .form-inline {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: .5em;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;
      }
    }

    @media (min-width: $grid-breakpoint-sm) {
      .street {
        width: 68%;
      }

      .home {
        width: 15.2%;
        margin-left: .8%;
      }

      .apartment {
        width: 15.2%;
        margin-left: .8%;
      }
    }

    .c-map {
      margin-bottom: 1em;
    }

    .btn {
      padding: 0;
      border-bottom: 1px solid #1d1d1d;
      text-transform: none;

      .hide {
        display: none;
      }

      &.-active {
        .hide {
          display: block;
        }

        .show {
          display: none;
        }
      }
    }

    .order-comment {
      display: none;
      margin-top: 1em;

      &.-on {
        display: block;
      }
    }
  }



  .pickup-box {
    margin-bottom: 50px;

    .address-table {
      .thead,
      .tbody {
        display: flex;
        justify-content: space-between;

        .col-address,
        .col-time,
        .col-price {
          display: block;
        }

        @media (min-width: $grid-breakpoint-sm) {
          .col-address {
            width: 50%;
          }

          .col-time {
            width: 20%;
          }

          .col-price {
            width: 30%;
          }

          .col-time,
          .col-price {
            text-align: center;
          }
        }
      }

      .thead {
        display: none;
        flex-direction: row;
        background: url("../images/heading-blue-pattern.png") repeat top left;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 600;

        @media (min-width: $grid-breakpoint-sm) {
          display: flex;
        }

        .item {
          padding: 20px;
        }
      }

      .tbody {
        flex-direction: column;

        .item {
          position: relative;
          margin-bottom: 0;
        }

        label {
          display: flex;
          min-height: 100%;

          input:checked ~ .label-text {
            border-color: $green;
          }
        }

        .label-text {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 20px 20px 20px 32px;
          border: 2px solid #fff;
          background-color: #fff;

          @media (min-width: $grid-breakpoint-sm) {
            flex-direction: row;
            align-items: center;
          }
        }

        .label-text::before {
          position: absolute;
          top: 23px;
          left: 8px;
        }

        p {
          margin-bottom: 0;
        }

        .col-address {
          margin-bottom: 1em;
        }

        .col-time,
        .col-price {
          color: #72767a;
        }
      }


      .items-hidden {
        display: none;

        &.-on {
          display: block;
        }
      }

      .btn-items-more {
        align-self: center;

        &.-active {
          display: none;
        }
      }
    }
  }



  .contact-info {
    .info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #e9e9e9;

      & > .title {
        font-size: 2rem;
      }

      & > .description {
        margin-left: 20px;
      }
    }

    .form-info {
      margin-bottom: 15px;

      .delivery-header {
        justify-content: flex-start;

        & > .title {
          width: auto;
        }

        & > .description {
          margin-top: 7px;
          padding-right: 30px;
          padding-left: 30px;
        }
      }

      .inputs {
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        background-color: #f6f6f6;
        color: #72767a;

        @media (min-width: $grid-breakpoint-sm) {
          flex-direction: row;
        }
      }

      .form-group {
        width: 99.3%;
      }

      .form-group.-width-50 {
        width: 100%;

        @media (min-width: $grid-breakpoint-sm) {
          width: 49.5%;
        }
      }

      .form-inline {
        width: 100%;
        margin-bottom: .5em;
      }

      .form-group.-width-33 {
        width: 100%;

        @media (min-width: $grid-breakpoint-sm) {
          width: ((100% / 3) - .9);

          & + .form-group {
            margin-left: .5%;
          }
        }
      }

      .form-control {
        width: 100%;
        margin-bottom: .25em;
        padding-top: .75em;
        padding-bottom: .75em;
        border-color: #ccc;
      }

      .btn {
        padding: 0;
        border-bottom: 1px solid #1d1d1d;
        text-transform: none;

        .hide {
          display: none;
          color: $green;
        }

        &.-active {
          border-bottom-color: $green;

          .hide {
            display: block;
          }

          .show {
            display: none;
          }
        }
      }

      &.-recipient {
        display: none;
        background-color: #fff;

        &.-on {
          display: block;
        }
      }
    }
  }
}
