// Variables

// Common
$feedback-breakpoint:                  $grid-breakpoint-sm;

// Colors
$feedback-bg:                          #f6f6f6;
$feedback-link-color:                  $blue;
$feedback-link-color-active:           #2e3233;

.c-feedback {
  background-color: $feedback-bg;
  margin-bottom: 52px;

  & > .col {
    padding-top: 25px; // 40
    padding-bottom: 28px;

    @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
      padding-top: 45px;
    }
  }

  @media (max-width: ($grid-breakpoint-sm - 1)) {
    margin-bottom: 55px;
  }

  @media (min-width: $feedback-breakpoint) {
    &.row {
      margin-right: 0;
      margin-left: 0;
    }

    .video-block {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (min-width: $grid-breakpoint-md) {
    .reviews-block {
      padding-left: 50px; // 75
    }
  }

  .feedback-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #353c42;
  }

  .feedback-more {
    color: $feedback-link-color;
    border-color: $feedback-link-color;

    &:hover,
    &:focus {
      color: $feedback-link-color-active;
      border-color: $feedback-link-color-active;
    }
  }
}
