.info-block {
  @media (min-width: $grid-breakpoint-md) and (max-width: ($grid-breakpoint-lg - 1)) {
    .info-block-left {
      padding-left: 150px;
    }

    .info-block-right {
      padding-right: 150px;
    }

    .info-block-no-p-r {
      padding-right: 0;
    }

    .info-block-p-l {
      padding-left: 45px;
    }
  }

  .info-title {
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 300;

    @media (min-width: $grid-breakpoint-sm) {
      font-size: 3rem;
    }
  }

  .info-description {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.6;

    &.-italic {
      font-style: italic;
    }
  }

  // Variations
  &.-center {
    text-align: center;
  }

  &.-padding {
    padding-top: 40px;
    padding-bottom: 60px;

    @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
      padding-top: 18px;
    }

    @media (max-width: ($grid-breakpoint-sm - 1)) {
      padding-bottom: 52px;
    }

    @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
      padding-top: 18px;
      padding-bottom: 52px;
    }
  }

  // Colors
  &.-blue {
    background: url("../images/pattern-blue.png") repeat center;
    color: #fff;
  }

  &.-grey {
    background-color: #f1f1f1;
  }
}
