// Variables

$jumboslider-z-owl: 80;
$jumboslider-z-owl-item: 81;
$jumboslider-z-owl-content: 82;
$jumboslider-z-owl-controls: 83;

.c-jumboslider {
  position: relative;
  margin-top: -54px;
  width: 100%;

  @media (min-width: $grid-breakpoint-sm) {
    margin-top: 0;
  }

  .owl {
    position: relative;
    z-index: $jumboslider-z-owl;
    display: none;
    width: 100%;

    touch-action: pan-y;
  }

  .owl-wrapper {
    position: relative;
    display: none;
    transform: translate3d(0, 0, 0);
  }

  .owl-wrapper-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .owl-item {
    position: relative;
    z-index: $jumboslider-z-owl-item;
    float: left;
    overflow: hidden;
    height: 700px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      z-index: $jumboslider-z-owl-item;
      top: 0;
      left: 50%;
      display: block;
      width: 100%;
      height: 210px;
      background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%,rgba(255,255,255,0) 100%);
      content: "";
      transform: translateX(-50%);
    }

    @media (min-width: $grid-breakpoint-sm) {
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 20px;
        background-color: #fff;
        content: "";
      }
    }

    &.-only-text {
      .item-content {
        max-width: 720px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 10px 50px;

        @media (min-width: $grid-breakpoint-md) {
          max-width: 980px;
          margin-left: 0;
          margin-right: 0;
        }
      }

      &::before {
        position: absolute;
        z-index: $jumboslider-z-owl-item;
        top: 490px;
        left: 50%;
        display: block;
        width: 100%;
        height: 300px;
        background: linear-gradient(to top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 100%);
        content: "";
        transform: translateX(-50%);

        @media (min-width: $grid-breakpoint-sm) {
          top: 380px;
        }
      }
    }

    .item-content {
      position: absolute;
      z-index: $jumboslider-z-owl-content;
      bottom: 0;
      left: 50%;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1400px;
      transform: translateX(-50%);

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        width: $grid-area-sm;
      }

      @media (min-width: $grid-breakpoint-md) {
        width: $grid-area-md;
      }

      @media (min-width: $grid-breakpoint-lg) {
        width: $grid-area-lg;
      }

      // Хак для IE 10-11, так как неверно рассчитывается отрицательный выход из блока при Flexbox.
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: $grid-area-md;
      }

      .product-slogan {
        flex: 1;
        margin-bottom: 0;
        margin-left: 10px;
        padding: 10px 15px;
        background-color: #f0e524;
        color: #1d1d1d;
        text-transform: uppercase;
        font-size: 1.8rem;

        @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
          padding-right: 50px;
          align-self: flex-end;
        }

        @media (min-width: $grid-breakpoint-sm) {
          margin-bottom: 20px;
          margin-left: 0;
          padding: 20px 35px;
        }

        @media (min-width: $grid-breakpoint-md) {
          font-size: 2.2rem;
        }

        @media (min-width: $grid-breakpoint-lg) {
          max-width: 480px;
        }
      }

      .product-info {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-basis: 50%;
        align-items: center;
        min-height: 260px;
        padding-right: 10px;
        padding-left: 10px;
        background: url("../images/slider-product-bg-small.png") repeat left bottom;

        @media (min-width: $grid-breakpoint-sm) {
          max-width: 650px;
          height: 238px;
          min-height: 238px;
          background-image: url("../images/slider-product-bg.png");
          background-repeat: repeat-y;
        }

        @media (min-width: $grid-breakpoint-md) {
          height: 228px;
          min-height: 228px;
          margin-right: -100px;
          background-repeat: no-repeat;
        }

        .image {
          position: absolute;
          top: 11%;
          left: 10px;
          width: 23%;
          height: auto;

          @media (min-width: $grid-breakpoint-sm) {
            top: 50%;
            left: 20px;
            width: auto;
            transform: translateY(-50%);
          }
        }

        .content-wrapper {
          width: 70%;
          margin-left: 28%;
          color: #fff;

          @media (min-width: $grid-breakpoint-sm) {
            margin-left: 230px;
          }

          @media (min-width: $grid-breakpoint-md) {
            padding-right: 110px;
          }
        }

        .heading {
          text-transform: uppercase;
          font-size: 1.8rem;
          font-weight: 600;

          a {
            color: #fff;
          }
        }

        .description {
          margin-bottom: 0;
          letter-spacing: .05em;
          font-size: 1.3rem;
        }

        .price {
          margin-bottom: 10px;
          font-size: 2.6rem;
          font-weight: 600;

          & > .old {
            text-decoration: line-through;
            font-size: 2.2rem;
          }

          & > .old + .current {
            margin-left: 20px;
          }
        }

        .actions {
          .btn {
            padding: .7725em .4em;
            font-size: 1.3rem;

            @media (min-width: $grid-breakpoint-sm) {
              padding-right: 1em;
              padding-left: 1em;
            }
          }

          .btn-yellow {
            position: relative;
            padding-right: 1.7em;

            @media (min-width: $grid-breakpoint-sm) {
              padding-right: 2em;
              padding-left: .9em;
            }

            &::before,
            &::after {
              position: absolute;
              top: 50%;
              right: 13px;
              display: block;
              width: 8px;
              height: 2px;
              margin-top: -2px;
              background-color: #353b43;
              content: "";
              transform: translate(-50%, -50%);
              transform-origin: 7px;
            }

            &::before {
              transform: rotate(-45deg);
            }
            &::after {
              transform: rotate(45deg);
            }
          }

          .btn + .btn {
            margin-left: 5px;

            @media (min-width: $grid-breakpoint-sm) {
              margin-left: 10px;
            }
          }
        }
      }



      // Текстовый слайд
      .item-title {
        font-size: 4.8rem;
        color: #fff;
        font-weight: 700;
      }

      .item-description {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1.8rem;
        color: #fff;

        @media (min-width: $grid-breakpoint-md) {
          flex-direction: row;
        }

        & > .btn {
          padding-top: 1em;
          padding-bottom: 1em;
          font-weight: 600;
        }
      }
    }
  }
}



.jumboslider-controls {
  position: absolute;
  z-index: $jumboslider-z-owl-controls;
  top: 200px;
  left: 50%;
  width: 94%;
  transform: translateX(-50%);

  @media (min-width: $grid-breakpoint-sm) {
    top: 450px;
  }

  @media (min-width: $grid-breakpoint-md) {
    top: 500px;
    width: $grid-area-md;
  }

  @media (min-width: $grid-breakpoint-lg) {
    width: $grid-area-lg;
  }

  .control {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    content: "";
    cursor: pointer;
    transform: translateY(-50%);

    @media (min-width: $grid-breakpoint-sm) {
      width: 82px;
      height: 82px;
    }

    &:hover,
    &:focus {
      border-color: #f0e524;
      background-color: #f0e524;

      &::before,
      &::after {
        background-color: #434841;
      }
    }

    @media (min-width: ($grid-breakpoint-md + 60)) and (max-width: ($grid-breakpoint-lg - 1)) {
      margin-right: -41px;
      margin-left: -41px;
    }

    @media (min-width: ($grid-breakpoint-lg + 60)) {
      margin-right: -41px;
      margin-left: -41px;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 10px;
      height: 2px;
      background-color: #fff;
      content: "";
      transform: translate(-50%, -50%);
      transform-origin: 9px;

      @media (min-width: $grid-breakpoint-sm) {
        width: 18px;
        transform-origin: 17px;
      }
    }

    &.-prev {
      left: 0;

      &::before,
      &::after {
        left: 15%;
      }

      &::before {
        transform: rotate(-135deg);
      }
      &::after {
        transform: rotate(135deg);
      }
    }

    &.-next {
      right: 0;

      &::before,
      &::after {
        left: 38%;
      }

      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}
