.c-map {
  width: 100%;
  margin-bottom: 30px;

  .map-box {
    position: relative;
    height: 200px;

    @media (min-width: $grid-breakpoint-sm) {
      height: 400px;
    }
  }

  .map-lightbox {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .25em .75em;
    font-size: 1.2rem;

    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }

  .map-controlls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;

    @media (min-width: 568px) {
      flex-direction: row;
    }

    .btn {
      position: relative;
      flex-shrink: 1;
      width: 99.5%;
      margin-bottom: 1em;
      padding: 1em 1em 1em 6.5em;
      text-align: left;
      white-space: normal;

      @media (min-width: 568px) {
        margin-bottom: 0;

        & + .btn {
          margin-left: 1%;
        }
      }

      @media (min-width: $grid-breakpoint-sm) {
        padding-left: 5.5em;
      }

      &::before {
        @include icon-map-mark;
        position: absolute;
        top: 50%;
        left: 2em;
        display: inline-block;
        content: "";
        transform: translateY(-50%);
      }

      &:hover,
      &:focus {
        &::before {
          @include icon-map-mark-hover;
        }

        .city-address,
        .city-phone {
          color: #fff;
        }
      }
    }

    .city-address,
    .city-phone {
      color: #72767a;
      text-transform: none;
      font-size: 1.2rem;
    }
  }
}
