// Variables

.modal-open .c-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.c-modal {
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden;
  outline: 0;

  -webkit-overflow-scrolling: touch;

  &.in {
    transform: translate(0, 0);
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;

    @media(min-width: $grid-breakpoint-sm) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 540px;
      transform: translate(-50%, -50%);
    }
  }

  .modal-content {
    position: relative;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  }

  .close {
    float: right;
    padding: 10px;

    &-icon {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      content: "";

      &:hover {
        &::before,
        &::after {
          background-color: #000;
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 10px;
        left: 0;
        display: block;
        width: 20px;
        height: 2px;
        background-color: #a0a0a0;
        content: "";
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .modal-action {
    @include clearfix;
  }

  .modal-header {
    padding: 0 20px 20px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;

    & > .title {
      font-size: 2.6rem;
      font-weight: 600;
    }

    & > .description {
      font-size: 1.6rem;
    }
  }

  .modal-body {
    padding: 20px;

    .form-group {
      position: relative;
    }

    .form-control {
      padding-right: 3em;
      font-size: 1.8rem;
    }

    .btn-search {
      position: absolute;
      top: 50%;
      right: 1em;
      padding: 0;
      transform: translateY(-50%);

      & > .icon {
        display: inline-block;
        margin-top: .5em;

        &.-search {
          @include icon-search;
        }
      }
    }

    .city-list {
      @include clearfix;
      margin-bottom: 20px;

      & > .item {
        margin-bottom: .5em;

        @media (min-width: $grid-breakpoint-sm) {
          float: left;
          width: (100% / 3);
        }
      }

      .label-text {
        color: #009be1;
        font-weight: 600;

        &:hover {
          color: #005580;
        }

        &::before {
          border: 0;
        }
      }
    }
  }



  &.-forms {
    .modal-dialog {
      @media(min-width: $grid-breakpoint-md) {
        width: 768px;
      }
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #fff;

      .title {
        margin-bottom: 0;
        font-size: 3.2rem;
        font-weight: 300;
      }
    }

    .modal-body {
      padding: 0;

      .forms {
        width: 100%;

        tr td {
          display: block;
          padding: 6px 21px;
          background-color: #f6f6f6;
          color: #353b43;

          @media (min-width: $grid-breakpoint-sm) {
            display: table-cell;
            background-color: #fff;
            vertical-align: top;
          }
        }

        @media (min-width: $grid-breakpoint-sm) {
          tr td:nth-child(odd) {
            width: 33%;
            padding-top: 15px;
            background-color: #f6f6f6;
          }

          tr td:nth-child(even) {
            background-color: #e9e9e9;
          }
        }

        tr:last-child td {
          padding-bottom: 20px;
        }

        .form-control {
          border-color: transparent;
        }
      }
    }
  }



  &.-map {
    .modal-dialog {
      width: 100%;

      @media(min-width: $grid-breakpoint-sm) {
        width: 540px;
      }

      @media(min-width: $grid-breakpoint-md) {
        width: 720px;
      }
    }

    .modal-action {
      position: absolute;
      top: 0;
      right: 0;

      .close {
        background-color: #fff;
      }
    }

    .modal-body {
      padding: 7px;
    }
  }



  &.-fast-buy {
    .modal-dialog {
      @media(min-width: $grid-breakpoint-md) {
        width: 768px;
      }
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #fff;

      .title {
        margin-bottom: 0;
        font-size: 3.2rem;
        font-weight: 300;
      }
    }

    .modal-body {
      .form-inline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;

        .form-group {
          flex-grow: 1;
        }

        .form-control {
          width: 100%;
        }

        .space {
          margin: 0 1em 0;
          text-transform: uppercase;
        }
      }

      .table-striped {
        th,
        td {
          padding: 15px;
          text-align: center;

          &:first-of-type {
            text-align: left;
          }

          span {
            font-weight: 400;
          }
        }

        thead th {
          background-color: #989898;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
        }

        tbody td {
          text-transform: uppercase;
          font-size: 1.8rem;
          font-weight: 700;
        }

        tbody tr:nth-of-type(even) {
          background-color: #e9e9e9;
        }

        tfoot td {
          padding-right: 0;
          text-align: right !important;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }

      .btn-order {
        display: block;
        width: 100%;
        font-size: 1.8rem;
      }
    }
  }


  &.-signup {
    .modal-dialog {
      @media(min-width: $grid-breakpoint-md) {
        width: 768px;
      }
    }

    .modal-header {
      padding: 0;
    }

    .c-tabs .tabs-navigation {
      margin-top: 15px;
      border-bottom: 0;

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 20px;
      }

      li {
        margin-right: 0;
      }

      a {
        padding: 10px 20px;
        text-transform: none;
        font-size: 1.8rem;
        font-weight: 400;

        @media (min-width: $grid-breakpoint-md) {
          font-size: 3rem;
        }

        &::before {
          display: none;
        }
      }
    }

    .c-tabs .tabs-content {
      padding-right: 0;
      padding-left: 0;
    }

    .c-tabs .tab-content {
      & > p {
        margin-bottom: .5em;
        font-size: 1.8rem;
      }

      .form-control {
        width: 100%;
        border: 0;
        font-size: 1.8rem;
      }
    }

    .forms {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      background-color: #e9e9e9;
      font-weight: 400;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;

        .form-login,
        .form-social {
          width: 50%;
        }
      }
    }

    .form-passowrd-delivery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .toggle {
        position: relative;
        width: 50px;
        height: 30px;
        border-radius: 15px;
        background-color: #fff;
        display: block;
        content: "";
        cursor: pointer;

        &::after {
          position: absolute;
          left: 4px;
          top: 4px;
          display: block;
          content: "";
          width: 22px;
          height: 22px;
          border-radius: 11px;
          background-color: $blue;
        }

        &.-active::after {
          right: 4px;
          left: auto;
        }
      }

      .text {
        color: $blue;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }

    .form-password {
      display: none;

      &.-on {
        display: block;
      }
    }

    .form-login {
      padding: 30px;
      font-size: 1.8rem;

      label {
        margin-bottom: .25em;
        color: #75787c;
      }

      a {
        border-bottom: 1px dotted $blue;
        color: $blue;

        &:hover,
        &:focus {
          color: darken($blue, 15);
        }
      }

      .btn {
        display: block;
        width: 100%;
        padding-top: .7em;
        padding-bottom: .7em;
        font-size: 1.6rem;
        font-weight: 600;
      }

      .form-footer {
        display: flex;
        align-items: center;

        .form-checkbox {
          flex-shrink: 0;
          align-self: center;
          margin-bottom: 0;
        }

        .btn {
          margin-left: 20px;
        }
      }

      // Variations
      &.-forget {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color: #e9e9e9;

        &.-on {
          display: block;
        }

        p {
          margin-top: 1em;
        }
      }
    }

    .form-social {
      padding: 30px;
      text-align: center;
      background-color: #f6f6f6;

      & > .title {
        font-size: 1.8rem;
      }

      & > .description {
        color: #909090;

        @media (min-width: $grid-breakpoint-md) {
          padding-right: 50px;
          padding-left: 50px;
        }
      }
    }
  }
}

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Modal background
.modal-backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;

  &.in {
    opacity: .5;
  }
}
