// Variables
$navbar-mobile-width: 280px;
$navbar-height: 64px;

// Z-index
$navbar-z-component: 90;
$navbar-z-search: 90;
$navbar-z-wrapper: 91;
$navbar-z-overlay: -1;
$navbar-z-overlay-active: 90;



.c-navbar {
  position: relative;
  z-index: $navbar-z-component;
  display: none;
  justify-content: space-between;
  width: 100%;
  height: $navbar-height;
  background-color: #fff;

  @media (min-width: $grid-breakpoint-sm) {
    display: none;
  }

  .navbar-search-trigger {
    z-index: $navbar-z-search;
    padding: (($navbar-height - 20) / 2);
    border-left: 1px solid #d3d3d3;
    background-color: #fff;

    & > .icon {
      @include icon-search;
      display: inline-block;
    }
  }
}



.navbar-trigger {
  & > .hamburger {
    @include hamburger-generator(24px, 3px, 5px, #fff, $timing-function: linear);
  }

  &.-active > .hamburger {
    @include hamburger-animation();
  }
}



.navbar-wrapper {
  position: fixed;
  z-index: $navbar-z-wrapper;
  top: 0;
  right: 0;
  overflow: auto;
  width: $navbar-mobile-width;
  height: 100%;
  background-color: #2e3233;
  transition: transform .2s linear;
  transform: translateZ(0) translateX(0);

  &.-hidden {
    transform: translateX(100%);
  }
}



.navbar-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: translateZ(0);
  letter-spacing: .05em;

  @media (min-width: $grid-breakpoint-sm) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &,
  ul {
    @include list-unstyled;
  }

  li {
    position: relative;
    flex-shrink: 0;
    padding: 1.2em 1.5em;
    border-bottom: 1px solid #3a3f40;

    @media (min-width: $grid-breakpoint-sm) {
      padding: 1.5em 0 1.4em 0;
      border-bottom: 0;
    }
  }

  a {
    display: block;
    color: #fff;
    text-transform: uppercase;
  }

  // Служебные классы
  .navbar-dropdown-back,
  .has-children > a {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 10px;
      height: 2px;
      background-color: #464c4e;
      content: "";
      transform-origin: 9px;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}



.navbar-dropdown {
  .navbar-dropdown-back {
    margin-left: 21px;

    &::before,
    &::after {
      left: -28px;
      margin-top: -1px;
    }

    &::before {
      transform: rotate(135deg);
    }
    &::after {
      transform: rotate(-135deg);
    }
  }

  .navbar-dropdown-all {
    color: #69aa6f;
  }
}



.navbar-gallery-item {
  position: relative;
  padding: 1.5em 0 1.5em 5em;

  .image {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: auto;
    height: 40px;
    margin-top: -20px;
  }

  .name {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 600;
  }
}



.navbar-search {
  position: absolute;
  top: 54px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 64px;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 6px 11px -3px rgba(0,0,0,.3);
  transition: opacity .3s linear, visibility .3s linear;

  .form-control {
    height: 0;
    padding: 0 1em;
    border: 0;
    transition: height .3s linear;
    font-size: 1.8rem;
  }

  &.-on {
    z-index: $navbar-z-search;
    overflow: visible;
    opacity: 1;

    .form-control {
      height: 63px;
    }
  }

  .btn-close {
    position: relative;
    display: block;
    width: 66px;
    height: 66px;
    padding: 0;
    border: 0;
    line-height: 20px;

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: #000;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 21px;
      display: inline-block;
      width: 21px;
      height: 2px;
      background-color: #ccc;
      content: "";
      vertical-align: middle;
      font-size: 0;
      line-height: 1;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.navbar-overlay {
  position: fixed;
  z-index: $navbar-z-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: opacity .3s linear;
}

.-offset-navbar {
  // Скрываем все кнопки верхнего меню, кроме кнопки переключения состояния меню
  .smallbar-item.-logo,
  .smallbar-item:not(:first-child) {
    visibility: hidden;
    opacity: 0;
  }

  .navbar-overlay {
    z-index: $navbar-z-overlay-active;
    opacity: .5;

    @media (min-width: $grid-breakpoint-sm) {
      opacity: 0;
    }
  }
}
