// Variables



.c-navbar-desktop {
  position: relative;
  background-color: #fff;
  height: 122px;
  z-index: 800;
  box-shadow: 0 3px 11px -3px rgba(0, 0, 0, 0.3);

  @media (max-width: $grid-breakpoint-sm - 1) {
    display: none;
  }

  .area {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-left {
    display: flex;
  }

  .navbar-right {
    display: flex;
  }

  .navbar-logo {
    display: block;
    content: "";
    width: 150px;
    height: 95px;
    background: url("../images/logo.png") no-repeat top left;
  }



  // Каталог
  .navbar-catalog {
    position: relative;

    &:hover {
      .navbar-catalog-bars::before,
      .navbar-catalog-bars::after {
        border-color: $red;
      }
      .navbar-catalog-label {
        color: $red;
      }
      .navbar-dropdown-panel {
        display: block;
        width: 780px;
        margin-left: -280px;

        @media (min-width: $grid-breakpoint-md) {
          width: 1024px;
          margin-left: -378px;
        }
      }
    }

    .navbar-catalog-content {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      height: 122px;
      cursor: pointer;

      @media (min-width: $grid-breakpoint-md) {
        margin-left: 40px;
        font-size: 1.6rem;
      }
    }
  }

  .navbar-catalog-bars {
    content: "";
    display: block;
    width: 39px;
    height: 29px;
    margin-right: 18px;

    &::before,
    &::after {
      display: block;
      content: "";
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;
      height: 10px;
      margin-top: 6px;
    }
  }

  .navbar-catalog-label {
    margin-top: 6px;
    line-height: 1;
    color: $blue;
  }



  // Доставка и прочее
  .navbar-delivery {
    position: relative;

    &:hover {
      .navbar-delivery-purse {
        @include icon-delivery-hover;
      }
      .navbar-delivery-label {
        color: $red;
      }
      .navbar-dropdown-panel {
        display: block;
        width: 780px;
        margin-left: -460px;

        @media (min-width: $grid-breakpoint-md) {
          width: 1024px;
          margin-left: -617px;
        }
      }
    }

    .navbar-delivery-content {
      height: 122px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;

      @media (min-width: $grid-breakpoint-md) {
        margin-left: 60px;
        font-size: 1.6rem;
      }
    }
  }

  .navbar-delivery-purse {
    display: inline-block;
    @include icon-delivery;
    margin-right: 18px;
  }

  .navbar-delivery-label {
    margin-top: 6px;
    line-height: 1;
    color: $blue;
  }



  // Корзина
  .navbar-basket {
    position: relative;

    &:hover {
      .navbar-basket-raccoon {
        @include icon-basket-raccoon-hover;
      }
      .navbar-basket-label {
        color: $red;
      }
      .navbar-basket-panel {
        display: block;
      }
    }

    &-content {
      height: 122px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;

      @media (min-width: $grid-breakpoint-md) {
        margin-left: 60px;
        font-size: 1.6rem;
      }
    }
  }

  .navbar-basket-raccoon {
    display: inline-block;
    @include icon-basket-raccoon;
  }

  .navbar-basket-counter {
    margin-left: 8px;
    background-color: $yellow;
    border-radius: 17px;
    line-height: 34px;
    text-align: center;
    width: 34px;
  }

  .navbar-basket-label {
    margin-left: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
  }

  .navbar-basket-price {
    margin-left: 10px;
    background-color: $yellow;
    border-radius: 17px;
    line-height: 34px;
    text-align: center;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
  }



  // Выпадающая модель
  .navbar-dropdown-panel {
    box-shadow: inset 0 3px 11px -3px rgba(0, 0, 0, .3);
    position: absolute;
    display: none;
    z-index: 800;
    background-color: #fff;
    top: 122px;
    left: 50%;
  }

  .panel-header > .tabs-navigation {
    @include list-unstyled;
    padding: 5px 25px 0 40px;
    height: 58px;
    border-bottom: 1px solid #d1d1d1;
    display: flex;

    @media (min-width: $grid-breakpoint-md) {
      padding-left: 40px;
    }
  }

  .panel-tab a {
    display: block;
    color: #7d7d7d;
    font-size: 1.6rem;
    letter-spacing: .055em;
    text-transform: uppercase;
    margin-right: 35px;
    line-height: 51px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &.-active {
      color: #000;
      border-bottom-color: $red;
    }
  }

  .panel-main {
    display: flex;
  }

  .panel-main > .panel-left {
    @include list-unstyled;
  }

  .choiser {
    display: none;
    flex-direction: column;
    padding: 25px 25px 11px 25px;
    min-height: 100%;
    border-right: 1px solid #d5d5d5;

    @media (min-width: $grid-breakpoint-md) {
      padding-left: 40px;
      padding-right: 40px;
    }

    &.-active {
      display: flex;
    }

    input:checked ~ .label-text {
      background-color: $yellow;
    }

    .label-text {
      display: block;
      line-height: 35px;
      font-size: 1.5rem;
      border: 1px solid #d5d5d5;
      text-align: center;
      width: 190px;

      &::before {
        display: none;
      }
    }
  }

  .panel-right {
    width: 100%;
  }

  .content-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.-hidden {
      display: none;
    }

    &.-on {
      display: flex;
    }
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 25px 50px 25px;
    min-width: 50%;
    width: 50%;
    border-bottom: 1px solid #d5d5d5;

    &:nth-of-type(odd) {
      border-right: 1px solid #d5d5d5;
    }
  }

  .product-image {
    margin-bottom: 25px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .img {
      display: inline-block;
    }
  }

  .product-title {
    font-size: 1.8rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  .product-meta {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 7px;

    @media (min-width: $grid-breakpoint-md) {
      justify-content: center;
    }

    & > .right {
      margin-left: 30px;
    }

    .icons > .age,
    .icons > .category,
    .icons > .peoples,
    .icons > .time {
      margin-bottom: 8px;

      &::before {
        display: inline-block;
        content: "";
        vertical-align: text-bottom;
      }
    }

    .icons > .age::before {
      @include icon-age;
      margin-right: 5px;
    }
    .icons > .category::before {
      @include icon-category;
      margin-right: 15px;
    }
    .icons > .peoples::before {
      @include icon-peoples;
      margin-right: 9px;
    }
    .icons > .time::before {
      @include icon-time;
      margin-right: 12px;
    }
  }

  .product-description {
    font-size: 1.3rem;
    color: #898989;
    display: flex;
    justify-content: flex-start;

    @media (min-width: $grid-breakpoint-md) {
      justify-content: center;
      margin-left: 15px;
    }
  }

  .product-footer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    @media (min-width: $grid-breakpoint-md) {
      justify-content: center;
    }

    & > .price {
      margin-bottom: 0;
      color: #393f47;
      font-size: 1.8rem;
    }

    & > .btn-buy-with-spinner {
      width: 81px;
      min-height: auto;
      padding: .3em .5em;
      font-size: 1.2rem;
      font-weight: 700;

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 15px;
      }

      @media (min-width: $grid-breakpoint-md) {
        margin-left: 10px;
      }

      @media (min-width: $grid-breakpoint-lg) {
        margin-left: 15px;
      }
    }

    & > .comment {
      position: relative;
      right: 0;
      bottom: 0;
      color: $blue;
      font-size: 1.2rem;
      font-weight: 600;

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 16px;
      }

      @media (min-width: $grid-breakpoint-md) {
        margin-left: 30px;
      }

      &::before {
        @include icon-comment;
        display: inline-block;
        margin-right: 5px;
        content: "";
        vertical-align: middle;
      }
    }
  }

  .delivery-grid {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    & > .item {
      padding: 40px 20px;
      width: (100% / 3);

      &:not(:last-of-type) {
        border-right: 1px solid #d5d5d5;
      }
    }

    .item-title {
      font-weight: 600;
      color: #000;
      font-size: 1.8rem;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    .item-list {
      @include list-unstyled;

      & > .list-item {
        font-size: 1.6rem;
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      & > .list-item::before {
        display: block;
        position: absolute;
        left: 0;
        top: 6px;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: $green;
      }
    }
  }

  .delivery-footer {
    border-top: 1px solid #d5d5d5;
    padding: 28px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-text {
      margin-bottom: 0;
      color: #72767a;
      font-size: 1.6rem;
    }

    .btn {
      position: relative;
      padding: 1em 40px 1em 1em;

      &::before,
      &::after {
        margin-top: -1px;
        top: 50%;
        right: 18px;
        content: "";
        display: block;
        background-color: #fff;
        width: 8px;
        height: 2px;
        transform-origin: 7px;
        transform: translate(-50%, -50%);
        position: absolute;
      }

      &::before { transform: rotate(-45deg); }
      &::after { transform: rotate(45deg); }
    }
  }



  // Корзина
  .navbar-basket-panel {
    box-shadow: inset 0 3px 11px -3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 800;
    width: 460px;
    position: absolute;
    right: 0;
    top: 122px;
    display: none;
    flex-direction: column;

    @media (min-width: $grid-breakpoint-sm + 40) {
      right: -42px;
    }

    @media (min-width: $grid-breakpoint-md) {
      right: 0;
    }

    @media (min-width: $grid-breakpoint-md + 40) {
      right: -42px;
    }
  }

  .basket-item {
    position: relative;
    height: 80px;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    align-items: center;

    .item-image {
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        max-width: 80px;
        max-height: 45px;
      }
    }

    .item-description {
      & > .title {
        font-size: 1.8rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 5px;
      }
      & > .price {
        font-size: 1.6rem;
        color: #353b43;
      }
    }

    .item-remove {
      position: absolute;
      right: 40px;
      top: 32px;
      display: block;
      content: "";

      .btn {
        padding: 0;
        width: 16px;
        height: 16px;

        &:hover,
        &:focus {
          &::before,
          &::after {
            background-color: $red;
          }
        }

        &::before,
        &::after {
          position: absolute;
          top: 7px;
          left: 0;
          width: 15px;
          height: 2px;
          background-color: #aeaeae;
          content: "";
          transform-origin: center;
        }

        &::before { transform: rotate(45deg); }
        &::after { transform: rotate(-45deg); }
      }
    }
  }

  .basket-description {
    padding: 20px 40px;

    p {
      color: #1d1d1d;
      margin-bottom: 0;
    }

    .form-checkbox {
      margin-top: 20px;
    }

    .label-text {
      font-weight: 600;
      color: #1d1d1d;
    }
  }

  .basket-price {
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    padding: 20px 40px;
    text-align: right;
    font-size: 2.4rem;

    & > .price {
      margin-left: 35px;
      font-weight: 600;
    }
  }

  .basket-footer > .order-action {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    .btn {
      width: 100%;
      transition: all .2s linear;
      font-size: 1.4rem;
      font-weight: 600;
      position: relative;
    }

    .btn-fast {
      padding: 1em;
      background-color: transparent;
      color: $green;
      margin-right: 20px;

      &:hover,
      &:focus {
        border-color: $green;
        background-color: $green;
        color: #fff;
      }
    }

    .btn-next {
      padding: 1em 40px 1em 1em;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        right: 17px;
        display: block;
        width: 10px;
        height: 2px;
        margin-top: -2px;
        background-color: #fff;
        content: "";
        transform: translate(-50%, -50%);
        transform-origin: 9px;
      }

      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}
