.c-pagination {
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $grid-breakpoint-sm) {
    margin-bottom: 0;
    text-align: left;
  }

  .pagination-list {
    @include list-unstyled;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $grid-breakpoint-sm) {
      justify-content: flex-start;
    }

    & > .item {
      color: #bcbcbc;
      font-size: 1.8rem;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 2.4rem;
      }
    }

    & > .item + .item {
      margin-left: .5em;
    }

    & > .item a {
      display: inline-block;
      width: 44px;
      border: 2px solid #bcbcbc;
      border-radius: 32px;
      text-align: center;
      color: #606060;
      line-height: 40px;

      @media (min-width: $grid-breakpoint-sm) {
        width: 64px;
        line-height: 60px;
      }

      &:hover,
      &:focus {
        border-color: #000;
      }
    }

    & > .item.-active a {
      border-color: $yellow;
      background-color: $yellow;
    }
  }
}
