.page-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;

  @media (min-width: $grid-breakpoint-sm) {
    margin-bottom: 40px;
    border-bottom: 0;
  }

  & > .title {
    flex-grow: 1;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;

    @media (min-width: $grid-breakpoint-sm) {
      padding-top: 0;
      padding-bottom: 0;
      text-align: left;
      font-size: 4.8rem;
    }
  }

  & > .btn {
    padding-right: 1em;
    padding-left: 2em;
    text-indent: 0;

    &:before,
    &:after {
      left: 6px;
    }
  }

  & > .alert {
    padding: 10px;
    font-size: 1.6rem;

    &.-success {
      background-color: lighten($green, 45%);
    }
  }
}
