.page-main {
  flex: 1 1 0;
  max-width: 100%;

  &.-one {
    flex-basis: 100%;
  }

  @media (min-width: $grid-breakpoint-sm) {
    padding-left: 0;
  }
}

.page-sidebar {
  @media (min-width: $grid-breakpoint-sm) {
    flex-basis: 233px;
    max-width: 233px;
    padding-right: 0;
  }
}

.page-content {
  font-size: 1.7rem;

  p {
    margin-bottom: 1.25em;

    &.-small-margin {
      margin-bottom: .5em;
    }

    &.-large-margin-top {
      margin-top: 2em;
    }
  }

  a {
    color: $blue;

    &:hover,
    &:focus {
      color: darken($blue, 15);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h2 {
    line-height: 2.2;
  }

  h3 {
    line-height: 2.2;
  }

  ul {
    @include list-unstyled;

    &.-alignment-left li p {
      margin-top: 1em;
    }

    ul {
      @include list-unstyled;
      margin-top: .5em;
      margin-left: 1.5em;
    }

    li {
      position: relative;
      margin-bottom: .5em;
      line-height: 1.5;
      padding-left: 20px;
    }

    li::before {
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      width: 10px;
      height: 10px;
      border: 2px solid $green;
      border-radius: 5px;
      content: "";
    }
  }

  ol {
    @include list-unstyled;
    margin-left: 60px;
    counter-reset: item;

    li {
      counter-increment: item;
    }

    li::before {
      display: inline-block;
      width: 40px;
      margin-top: -20px;
      margin-right: 1em;
      margin-left: -60px;
      border: 2px solid $green;
      border-radius: 20px;
      color: #959595;
      content: counter(item, decimal);
      text-align: center;
      line-height: 34px;
    }
  }
}
