// partners component

.c-partners {
  padding-top: 55px;
  padding-bottom: 60px;
  text-align: center;

  .partners-title {
    color: #353b43;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 300;

    @media (min-width: $grid-breakpoint-md) {
      font-size: 3rem;
    }
  }

  .partners-list {
    @include list-unstyled;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media (min-width: $grid-breakpoint-md) {
      border: 1px solid #d1d1d1;
    }

    & > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: (100% / 3);

      @media (min-width: $grid-breakpoint-md) {
        width: (100% / 6);
        border-right: 1px solid #d1d1d1;
      }

      &:last-of-type {
        border-right: 0;
      }
    }

    & > li > .item {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;

      img {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  .btn-partners {
    position: relative;
    padding: .7em 1.9em .7em .9em;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 13px;
      display: block;
      width: 8px;
      height: 2px;
      margin-top: -1px;
      background-color: #fff;
      content: "";
      transform: translate(-50%, -50%);
      transform-origin: 7px;
    }

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}
