.c-payment {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 30px;

  .payment-list {
    display: none;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #e9e9e9;

    &.-show {
      display: flex;
    }
  }

  .payment-item {
    input:checked ~ .label-text {
      border-color: $green;
    }

    .label-text {
      position: relative;
      display: block;
      width: 100%;
      min-height: 200px;
      padding: 20px;
      border: 3px solid #fff;
      background-color: #fff;
      text-align: center;

      @media (min-width: $grid-breakpoint-sm) {
        padding: 30px 30px 30px 190px;
        min-height: 140px;
        text-align: left;
      }

      .image {
        display: block;
        max-width: 100px;
        max-height: 100px;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: $grid-breakpoint-sm) {
          position: absolute;
          top: 30px;
          left: 30px;
        }
      }

      .title {
        display: block;
        margin-bottom: 1em;
        font-size: 1.8rem;
      }

      .description {
        display: block;
        margin-bottom: 0;
        color: #72757a;
        font-weight: 600;
      }

      &::before {
        position: absolute;
        top: 20px;
        left: 20px;
        flex-shrink: 0;

        @media (min-width: $grid-breakpoint-sm) {
          top: 33px;
          left: 155px;
        }
      }
    }
  }

  .payment-manual {
    display: none;

    &.-show {
      display: block;
    }
  }
}
