// Variables

.pgw-slider {
  width: 100%;
  color: #fff;

  @media (min-width: $grid-breakpoint-sm) {
    margin-top: 6px;
  }
}

.pgw-slider .ps-current {
  position: relative;
  float: left;
  overflow: hidden;
  width: 74.9%;
  height: inherit;
  margin-bottom: 20px;

  @media (min-width: $grid-breakpoint-md) {
    margin-bottom: 0;
  }
}

.pgw-slider .ps-current ul {
  width: 100%;
}

.pgw-slider .ps-current li {
  z-index: 1;
  display: none;
  width: 100%;
  opacity: 0;
}

.pgw-slider .ps-current img {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  transition: margin-top 250ms linear;
}

.pgw-slider .ps-caption {
  display: none;
}

ul.pgw-slider,
.pgw-slider  ul {
  float: right;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.pgw-slider.listOnTheLeft,
.pgw-slider.listOnTheLeft > ul {
  float: left;
}

ul.pgw-slider > li,
.pgw-slider > .ps-list > li {
  position: relative;
  overflow: hidden;
  height: 79.3px !important;
  margin-bottom: 1px;
  opacity: 1 !important;
  transition: opacity 200ms linear;
  font-size: .8rem;
}

ul.pgw-slider > li:last-child,
.pgw-slider > ul > li:last-child {
  margin-bottom: 0;
}

ul.pgw-slider > li span,
.pgw-slider > .ps-list > li span {
  display: none;
}

ul.pgw-slider > li img,
.pgw-slider > ul > li img {
  display: block;
  width: 100%;
  min-height: 100%;
  transition: margin-top 250ms linear;
}

.pgw-slider .ps-prevIcon,
.pgw-slider .ps-nextIcon {
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 10px;
    height: 2px;
    background-color: #fff;
    content: "";
    transform: translate(-50%, -50%);
    transform-origin: 9px;
  }
}

.pgw-slider .ps-prevIcon {
  &::before,
  &::after {
    left: 18%;
  }

  &::before {
    transform: rotate(-135deg);
  }
  &::after {
    transform: rotate(135deg);
  }
}

.pgw-slider .ps-nextIcon {
  &::before,
  &::after {
    left: 38%;
  }

  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.pgw-slider .ps-current .ps-prev,
.pgw-slider .ps-current .ps-next {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  border-radius: 50%;
  content: "";
  cursor: pointer;
}

.pgw-slider .ps-current .ps-prev {
  left: 10px;
}

.pgw-slider .ps-current .ps-next {
  right: 10px;
}

/*
 * The media-queries are not used because IE8 doesn't support them.
 */
ul.pgw-slider.wide > li,
.pgw-slider.wide > ul > li {
  width: 100% !important;
}

.pgw-slider.narrow .ps-current {
  margin-bottom: 1px;
  font-size: .8rem;
}

.pgw-slider.narrow .ps-current img {
  width: 100%;
  min-height: inherit;
}

.pgw-slider.narrow .ps-current,
ul.pgw-slider.narrow,
.pgw-slider.narrow > ul {
  width: 100%;
}

ul.pgw-slider.narrow > li,
.pgw-slider.narrow > .ps-list > li {
  float: left;
  min-width: 15%;
  min-height: 50px;
  max-height: 70px;
  margin-bottom: 0;
  font-size: .7rem;
}

ul.pgw-slider.narrow.listOnTheLeft > li,
.pgw-slider.narrow.listOnTheLeft > ul > li {
  float: right;
}

.pgw-slider.narrow .ps-caption {
  display: none !important;
  padding: 8px;
}

.pgw-slider.narrow .ps-current .ps-prev {
  top: 40%;
  padding: 15px 15px 15px 12px;
}

.pgw-slider.narrow .ps-current .ps-next {
  top: 40%;
  padding: 15px 12px 15px 15px;
}
