.c-pizza {
  display: none;

  .pizza-overlay {
    background: url("../images/pizza-bg.png");
    background-repeat: no-repeat;
    width: 426px;
    height: 426px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0.5);
    z-index: 2000;
  }

  .pizza-slice {
    opacity: 0;
    position: absolute;
    background: url("../images/pizza-part.png");
    background-repeat: no-repeat;
    width: 135px;
    height: 185px;
    top: 20px;
    left: 205px;
    transition: opacity .2s linear;

    &.-on {
      opacity: 1;
    }
  }

  .pizza-slice-1 {
    transform-origin: bottom left;
    top: 32px;
  }
  .pizza-slice-2 {
    transform-origin: bottom left;
    transform: rotate(45deg);
    top: 28px;
    left: 203px;
  }
  .pizza-slice-3 {
    transform-origin: bottom left;
    transform: rotate(90deg);
    top: 24px;
    left: 207px;
  }
  .pizza-slice-4 {
    transform-origin: bottom left;
    transform: rotate(135deg);
    top: 23px;
    left: 213px;
  }
  .pizza-slice-5 {
    transform-origin: bottom left;
    transform: rotate(180deg);
    left: 218px;
    top: 26px;
  }
  .pizza-slice-6 {
    transform-origin: bottom left;
    transform: rotate(225deg);
    left: 219px;
    top: 32px;
  }
  .pizza-slice-7 {
    transform-origin: bottom left;
    transform: rotate(270deg);
    left: 215px;
    top: 36px;
  }
  .pizza-slice-8 {
    transform-origin: bottom left;
    transform: rotate(315deg);
    top: 36px;
    left: 209px;
  }
}
