.c-place-list {
  overflow: hidden;
  margin-right: -10px;
  margin-left: -10px;

  @media (min-width: $grid-breakpoint-sm) {
    margin-right: auto;
    margin-left: auto;
  }

  .place-empty {
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-top: 30px;
      margin-bottom: 0;
    }

    .text {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;

      p {
        font-size: 1.6rem;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 1.8rem;
        }
      }
    }

    .image {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .col {
    padding: 20px;
  }

  .title {
    margin-bottom: 1em;
    font-size: 2.4rem;
    font-weight: 300;
  }

  .description {
    margin-bottom: 1.65em;
    color: #72767a;
  }

  .shops,
  .distributors {
    &.-hidden {
      display: none !important;
    }

    &.-on {
      display: block !important;
    }
  }

  .shops {
    background-color: #f7f7f7;
  }

  .distributors {
    background-color: #eaeaea;
  }



  .place-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .btn {
      min-width: 150px;
      border-color: $blue;
      color: $blue;

      &.-active {
        background-color: $blue;
        color: #fff;
      }

      & + .btn {
        margin-left: 10px;
      }
    }
  }



  .list {
    margin-top: 25px;
    border-top: 1px solid #d1d1d1;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;

    @media (min-width: $grid-breakpoint-md) {
      flex-direction: row;
      align-items: flex-end;
    }

    & > .item-content {
      color: #72767a;

      .name {
        color: #353b43;
        font-size: 1.8rem;

        &.-uppercase {
          text-transform: uppercase;
        }
      }

      p {
        margin-top: 10px;
        margin-bottom: 0;
      }

      .phone {
        margin-right: .5em;

        @media (max-width: ($grid-breakpoint-lg - 1)) {
          display: block;
        }
      }

      a {
        color: $blue;

        &:hover,
        &:focus {
          color: darken($blue, 10);
        }
      }

      a + a {
        margin-left: 10px;
      }
    }

    .item-actions {
      margin-top: 10px;

      .btn {
        padding: .3em .5em;
        border-color: #686c72;
        color: #353b43;
        font-size: 1.2rem;

        &:hover,
        &:focus {
          background-color: #686c72;
          color: #fff;
        }
      }
    }
  }
}
