.c-product {
  z-index: 80;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;

  .area {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: $grid-breakpoint-sm) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .product-header {
    margin-top: 40px;
    margin-bottom: 70px;
    display: none;

    @media (min-width: $grid-breakpoint-sm) {
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }

    @media (min-width: $grid-breakpoint-md) {
      flex-direction: row;
    }
  }



  .product-header-description {
    width: 100%;
    order: 1;
    margin-top: 20px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-top: 0;
      order: 2;
    }

    @media (min-width: $grid-breakpoint-md) {
      width: 470px;
      margin-left: 30px;
    }

    .title {
      font-size: 2rem;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 3rem;
      }
    }

    .description {
      margin-bottom: 25px;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 1.6rem;
      }
    }

    .meta-list {
      @include list-unstyled;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }

    .meta-item {
      margin-bottom: 5px;
      width: 100%;

      @media (min-width: 568px) {
        width: 50%;
      }

      &::before {
        display: inline-block;
        margin-right: 9px;
        content: "";
        vertical-align: middle;
      }

      &.-age::before {
        @include icon-age;
      }
      &.-category::before {
        @include icon-category;
        margin-right: 14px;
        margin-left: 5px;
      }
      &.-time::before {
        @include icon-time;
        margin-right: 15px;
        margin-left: 6px;
      }
      &.-weight::before {
        @include icon-weight;
        margin-right: 15px;
        margin-left: 7px;
      }
    }



    .action-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 15px 15px 15px 20px;
      border: 1px solid $green;
      justify-content: space-around;

      &.-soon {
        border-color: $blue;
        display: block;
      }

      &.-preorder {
        border-color: $pink;
        display: block;
      }

      &.-success {
        background-color: lighten($green, 45%);
      }

      &.-error {
        background-color: lighten($red, 45%);
      }
    }

    .action-block-title {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600;
    }

    .action-block-form {
      display: flex;
      margin-top: 7px;
      align-items: flex-start;

      .form-group {
        margin-bottom: 0;
      }

      .form-control + .form-control {
        border-left: 0;
      }

      .help-block {
        color: $body-color;
      }

      .btn {
        margin-left: 10px;
      }
    }

    .action-block-child {
      text-align: center;
      width: 100%;

      &.-second {
        margin-bottom: 20px;
      }

      @media (min-width: $grid-breakpoint-sm) {
        width: 36%;
        text-align: left;

        &.-first {
          width: 25%;
        }

        &.-second {
          width: 37%;
          margin-bottom: 0;
        }
      }

      .price {
        font-weight: 600;

        &.-current {
          font-size: 2.8rem;
          color: $red;
        }

        &.-old {
          text-decoration: line-through;
          font-size: 1.8rem;
        }
      }

      .preorder-date {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 3px;
        font-size: 1.6rem;
        line-height: 1.1em;
      }

      .preorder-conditions {
        margin-bottom: 0;
        font-size: 1.3rem;
        line-height: 1.1em;
      }

      .status {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;

        &::before {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-right: 5px;
          border-radius: 50%;
          background-color: $green;
          content: "";
          vertical-align: middle;
          @include icon-checkbox-check;
        }
      }

      .btn {
        height: 100%;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }


    .fast-buy {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f6f6f6;
      padding: 15px 15px 15px 20px;
      justify-content: space-between;
      margin-top: 20px;

      @media (min-width: $grid-breakpoint-sm) {
        flex-direction: row;
        height: 72px;
      }

      .fast-buy-description {
        margin-bottom: 20px;
        text-align: center;

        @media (min-width: $grid-breakpoint-sm) {
          margin-bottom: 0;
          text-align: left;
        }
      }

      .fast-buy-description p {
        margin-bottom: 0;

        &.-bold {
          font-weight: 600;
        }

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 1.6rem;
        }

        a {
          color: $blue;
          border-bottom: 1px dotted $blue;
        }
      }
    }
  }



  .product-header-slider {
    width: 100%;
    overflow: hidden;

    @media (min-width: $grid-breakpoint-sm) {
      margin: 0 0 30px;
    }

    @media (min-width: $grid-breakpoint-md) {
      width: 470px;
      margin-bottom: 0;
    }

    .owl {
      position: relative;
      display: none;

      @media (min-width: $grid-breakpoint-sm) {
        padding-right: 33px;
        padding-left: 33px;
      }
    }

    .owl-wrapper {
      @include clearfix();
      position: relative;
      overflow: hidden;
    }

    .owl-wrapper-outer {
      position: relative;
      overflow: hidden;
    }

    .owl-item {
      float: left;

      @media (min-width: $grid-breakpoint-sm) {
        max-width: 86px;

        & + .owl-item {
          margin-left: 1em;
        }
      }


      @media (min-width: $grid-breakpoint-md) {
        & + .owl-item {
          margin-left: 1.115em;
        }
      }
    }

    .slider-current {
      display: none;
      width: 100%;
      margin-bottom: 20px;

      @media (min-width: $grid-breakpoint-sm) {
        display: block;
      }

      & > .item {
        position: relative;
        height: 330px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .slider-list {
      position: relative;

      .item {
        position: relative;
        height: 200px;
        background-position: top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        border: 1px solid #d4d4d4;
        margin-bottom: 6px;

        &.-active {
          &::after {
            position: absolute;
            display: block;
            content: "";
            bottom: -6px;
            width: 100%;
            border-bottom: 3px solid $red;
          }
        }

        @media (min-width: 480px) {
          height: 300px;
        }

        @media (min-width: 640px) {
          height: 400px;
        }

        @media (min-width: $grid-breakpoint-sm) {
          height: 72px !important;
          background-size: 100% 72px;

          &:hover {
            opacity: .8;
          }
        }
      }

      @media (min-width: $grid-breakpoint-sm) {
        .slider-current-control {
          display: none;
        }
      }
    }

    .slider-current-control {
      position: absolute;
      z-index: 80;
      top: 50%;
      left: 50%;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: rgba(#000, .45);
      cursor: pointer;
      transition: opacity .3s linear;
      transform: translate(-50%, -50%);

      @media (min-width: $grid-breakpoint-sm) {
        width: 128px;
        height: 128px;
      }

      &:hover,
      &:focus {
        opacity: .8;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 14px;
        height: 2px;
        margin-left: -7px;
        background-color: #fff;
        content: "";
        transform-origin: 13px;

        @media (min-width: $grid-breakpoint-sm) {
          width: 24px;
          margin-left: -12px;
          transform-origin: 23px;
        }
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    .product-slider-control {
      position: absolute;
      top: 50%;
      display: block;
      width: 32px;
      height: 32px;
      margin-top: -16px;
      background-color: transparent;
      cursor: pointer;

      @media (min-width: $grid-breakpoint-sm) {
        border-color: #afafaf;
        background-color: #fff;

        &:hover,
        &:focus {
          &::before,
          &::after {
            background-color: $yellow;
          }
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 48%;
        left: 50%;
        display: block;
        width: 14px;
        height: 2px;
        background-color: #fff;
        content: "";
        transform: translateY(-50%, -50%);
        transform-origin: 13px;

        @media (min-width: $grid-breakpoint-sm) {
          background-color: #afafaf;
        }
      }

      &.-prev {
        left: 10px;

        @media (min-width: $grid-breakpoint-sm) {
          left: -10px;
        }

        &::before,
        &::after {
          left: 17%;
        }

        &::before {
          transform: rotate(-135deg);
        }
        &::after {
          transform: rotate(135deg);
        }
      }

      &.-next {
        right: 10px;

        @media (min-width: $grid-breakpoint-sm) {
          right: -5px;
        }

        &::before,
        &::after {
          left: 38%;
        }

        &::before {
          transform: rotate(-45deg);
        }
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }



  .product-content {
    display: flex;
    flex-direction: row;

    .product-sidebar {
      flex-shrink: 0;
      width: 220px;
      margin-left: 0;
      margin-top: 70px;
      padding-left: 0;

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 30px;
        margin-top: 30px;
      }
    }
  }



  .c-tabs {
    position: unset;

    .tabs-navbar {
      overflow: visible;
      border-bottom: 1px solid #d4d4d4;
      position: absolute;
      top: 0;
      width: 100%;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
      }
    }

    .tabs-navigation {
      border-bottom: 0;

      li a {
        font-size: 1.3rem;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 2rem;
        }
      }

      li a.-active {
        border-bottom: 0;

        &::before {
          display: none;
        }

        &::after {
          left: 0;
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          bottom: -1px;
          border-bottom: 3px solid $red;
        }
      }
    }


    .tabs-content {
      @media (max-width: ($grid-breakpoint-sm - 1)) {
        padding-right: 0;
        padding-left: 0;
      }

      .tab-content {
        margin-top: 70px;

        @media (min-width: $grid-breakpoint-sm) {
          margin-top: 30px;
        }

        .content {
          & > .title {
            margin-top: 1.5em;
            font-size: 2.4rem;
            font-weight: 600;

            &:first-of-type {
              margin-top: 0;
            }
          }

          & > p {
            margin-bottom: 1.5em;
            font-size: 1.5rem;

            & + .title {
              margin-top: 1em;
            }
          }
        }
      }

      .reviews.-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 1.5em -10px;
        padding: 25px 10px 25px 10px;
        background-color: #f6f6f6;

        @media (min-width: $grid-breakpoint-sm) {
          margin-right: 0;
          margin-left: 0;
        }

        @media (min-width: $grid-breakpoint-md) {
          padding-right: 30px;
          padding-left: 60px;
        }

        .review {
          flex: 1;
          max-width: 517px;
          padding: 0;
          border-bottom: 0;
        }

        .btn-review {
          display: none;
          border-color: $blue;
          color: $blue;

          @media (min-width: $grid-breakpoint-sm) {
            display: block;
          }

          &:hover,
          &:focus {
            border-color: $body-color;
            color: $body-color;
          }
        }
      }



      .review-banner {
        position: relative;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        margin: 0 -10px 35px;
        padding: 20px 10px;
        background: url("../images/slider-product-bg-small.png") repeat top left;
        color: #fff;

        @media (min-width: 568px) {
          display: flex;
          flex-direction: row;
          margin-right: 0;
          margin-left: 0;
        }

        @media (min-width: $grid-breakpoint-md) {
          padding: 35px;

          &::after {
            position: absolute;
            top: 20px;
            right: 15px;
            display: block;
            width: 89px;
            height: 88px;
            background: url("../images/animal-motorcycle.png") no-repeat top left;
            content: "";
          }
        }

        &.-mobile-visible {
          display: flex;

          @media (min-width: $grid-breakpoint-sm) {
            display: none;
          }
        }

        .heading {
          & > .title {
            margin-bottom: 0;
            font-size: 1.8rem;
            font-weight: 700;

            @media (min-width: 568px) {
              margin-top: 2px;
            }

            @media (min-width: $grid-breakpoint-md) {
              margin-top: 0;
              font-size: 2.4rem;
            }
          }

          & > p {
            margin-bottom: 0;
            font-size: 1.8rem;

            @media (min-width: $grid-breakpoint-md) {
              font-size: 2.4rem;
            }
          }

          .info > p {
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 1.3rem;

            @media (min-width: 568px) {
              margin-top: 0;
              margin-bottom: 0;
            }
          }

          .tooltip {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-left: 0;
            padding: 0;
            border: 1px solid #fff;
            border-radius: 50%;
            color: #fff;
            cursor: help;
            text-align: center;
            text-transform: none;
            line-height: 16px;

            @media (min-width: $grid-breakpoint-sm) {
              margin-left: .25em;
            }
          }
        }
      }

      .social {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        @media (min-width: 568px) {
          flex-direction: column;
          margin-left: 70px;
        }

        @media (min-width: $grid-breakpoint-sm) {
          margin-left: 45px;
        }

        @media (min-width: $grid-breakpoint-md) {
          margin-left: 60px;
        }

        & > .list {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          margin: 10px 20px 4px 0;

          @media (min-width: 56px) {
            margin: 0;
          }

          @media (min-width: $grid-breakpoint-md) {
            margin: 7px 0 0 0;
          }
        }

        .item {
          position: relative;
          display: block;
          width: 70px;
          height: 70px;
          border: 2px solid #fff;
          border-radius: 50%;
          content: "";

          &:hover {
            opacity: .8;
          }

          & + .item {
            margin-left: 20px;
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            content: "";
            transform: translate(-50%, -50%);
          }

          &.facebook {
            background-color: #3c599f;

            &::before {
              @include icon-social-fb-big-white;
            }
          }

          &.vkontakte {
            background-color: #5587bf;

            &::before {
              @include icon-social-vk-big-white;
            }
          }
        }
      }
    }



    .comments {
      order: 4;
      margin-bottom: 30px;
      text-align: center;

      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 0;
        text-align: left;
      }

      & > .title {
        margin-bottom: 11px;
        text-align: left;
        font-size: 3rem;
        font-weight: 300;
      }

      & > .reviews {
        flex-direction: column;
        margin-bottom: 30px;
        text-align: left;

        .review {
          padding-top: 25px;
          padding-bottom: 25px;

          &:first-of-type {
            padding-top: 0;
          }

          blockquote {
            padding-left: 0;

            &::before {
              display: none;
            }

            p::after {
              display: none;
            }
          }

          .author {
            margin-top: 20px;
            margin-left: 0;
          }
        }
      }

      & > .btn {
        padding: 1em 1.5em;
      }

      .comments-form {
        .btn {
          margin-top: 10px;
        }
      }
    }



    .proposal {
      position: relative;
      display: none;
      order: 5;
      margin-top: 50px;
      margin-bottom: 52px;
      padding: 15px;
      background: url("../images/pattern-green.png") repeat top left;
      color: #fff;

      @media (min-width: $grid-breakpoint-sm) {
        display: block;
      }

      @media (min-width: $grid-breakpoint-md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
      }

      & > .image {
        position: absolute;
        top: 15px;
        left: 15px;

        @media (min-width: $grid-breakpoint-md) {
          position: relative;
          top: 0;
          left: 0;
        }

        & > img {
          max-height: 114px;
        }
      }

      & > .description {
        font-size: 2.4rem;

        @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
          margin-left: 110px;
          font-size: 2rem;
        }

        & > p {
          margin-bottom: 0;

          @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
            display: inline-block;
          }
        }

        & > .name {
          font-weight: 700;
        }
      }

      & > .price {
        font-size: 2.8rem;
        font-weight: 600;

        @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
          margin-bottom: 10px;
          margin-left: 110px;
          font-size: 2.4rem;
        }
      }

      & > .actions {
        @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
          margin-left: 110px;
        }

        & > .btn {
          font-size: 1.2rem;
          font-weight: 600;

          &:hover,
          &:focus {
            border-color: #fff;
            background-color: #fff;
            color: $body-color;
          }
        }

        & > .btn-buy {
          margin-right: 15px;
          padding: .85em 1.5em;
          width: auto;
        }

        & > .btn-fast {
          padding: .85em .5em;
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }



  .product-catalog {
    max-width: 720px;
    margin-bottom: 30px;

    .product-catalog-title {
      font-size: 1.8rem;
      margin-bottom: 30px;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 3rem;
      }
    }

    .product-catalog-list {
      @include list-unstyled();
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .product-catalog-list-item {
      width: (100% / 3);
      text-align: center;

      img {
        margin: 0 auto 20px;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        .price {
          font-size: 1.8rem;
          font-weight: 600;
          margin-right: 20px;
        }

        .btn {
          padding: 5px;
          width: auto;
          min-height: auto;
        }
      }
    }

    .title {
      display: block;
      color: $blue;
      font-size: 2.1rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .meta-list {
      @include list-unstyled;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
      justify-content: center;
    }

    .meta-item {
      & + .meta-item {
        margin-left: 10px;
      }

      &::before {
        display: inline-block;
        margin-right: 9px;
        content: "";
        vertical-align: middle;
      }

      &.-age::before {
        @include icon-age;
      }
      &.-category::before {
        @include icon-category;
        margin-right: 14px;
        margin-left: 5px;
      }
      &.-time::before {
        @include icon-time;
        margin-right: 15px;
        margin-left: 6px;
      }
      &.-weight::before {
        @include icon-weight;
        margin-right: 15px;
        margin-left: 7px;
      }
    }
  }



  .product-back {
    margin-bottom: 50px;
    position: relative;
    padding-left: 40px;
    padding: 15px 15px 15px 40px;

    &::before,
    &::after {
      position: absolute;
      top: 52%;
      left: 10px;
      display: block;
      width: 10px;
      height: 2px;
      margin-top: -2px;
      background-color: #fff;
      content: "";
      transform: translate(-50%, -50%);
      transform-origin: 9px;
    }

    &::before {
      transform: rotate(-135deg);
    }
    &::after {
      transform: rotate(135deg);
    }
  }

}
