// reviews component

// Variables
$review-border: #d3d3d3;
$review-breakpoint: $grid-breakpoint-sm;
$review-link-color: $blue;
$review-link-active-color: #2e3233;

.reviews {
  margin-bottom: 20px;

  &.-mobile-one .review {
    &:not(:first-of-type) {
      display: none;

      @media (min-width: $review-breakpoint) {
        display: block;
      }
    }
  }
}

.review {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $review-border;
  font-size: 1.6rem;

  @media (min-width: $grid-breakpoint-lg) {
    margin-right: 40px;
  }

  &.-on {
    .more-ellipsis {
      display: none;
    }

    .more-text {
      display: inline;
    }
  }

  blockquote {
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;

    &::before {
      @include icon-epi-left;
      position: absolute;
      top: 5px;
      left: 0;
      display: block;
      content: "";
    }

    p {
      &::after {
        @include icon-epi-right;
        display: inline-block;
        margin-left: 3px;
        content: "";
      }
    }

    .more-text {
      display: none;
    }
  }

  a {
    color: $review-link-color;

    &:hover,
    &:focus {
      color: $review-link-active-color;
    }
  }

  .more {
    margin-left: 20px;

    .prev {
      display: none;
    }

    &.-active {
      .next {
        display: none;
      }

      .prev {
        display: inline;
      }
    }
  }

  .author {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
  }

  .photo-box {
    position: relative;


    .author-social {
      position: absolute;
      right: -4px;
      bottom: -4px;
      display: block;
      width: 24px;
      height: 24px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: #22a4de;
      content: "";

      &::before {
        position: absolute;
        display: inline-block;
        content: "";
      }

      &.vkontakte::before {
        @include icon-social-comment-vk;
        top: 5px;
        left: 2px;
      }

      &.facebook::before {
        @include icon-social-comment-fb;
        top: 2px;
        left: 6px;
      }
    }
  }

  .author-photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  .author-description {
    margin-left: 15px;
  }

  .author-link {
    position: relative;
    padding-right: 15px;
    font-weight: 700;

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $review-link-active-color;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 8px;
      height: 2px;
      margin-top: -1px;
      background-color: $review-link-color;
      content: "";
      transform: translate(-50%, -50%);
      transform-origin: 7px;
    }

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  .author-about {
    margin-bottom: 0;
    font-size: 1.4rem;
  }



  // Ответ администратора
  .answer {
    position: relative;
    margin-top: 30px;
    background-color: #f4f4f4;
    border: 1px solid #d3d3d3;
    padding: 30px;
    margin-right: 0;

    &::before {
      position: absolute;
      display: block;
      top: -10px;
      content: "";
      width: 20px;
      height: 20px;
      background-color: #f4f4f4;
      transform: rotate(45deg);
      border-top: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
    }
  }
}
