.reviews-box {
  & > .item {
    margin-bottom: 30px;

    & > .title {
      margin-bottom: .5em;
      font-size: 2.4rem;

      a {
        color: $green;
      }
    }

    & > .description {
      font-size: 1.5rem;
    }

    & > .btn-more {
      border-color: #353b43;
      color: #353b43;

      &:hover,
      &:focus {
        background-color: #353b43;
        color: #fff;
      }
    }
  }
}
