.c-sales-offices {
  margin-bottom: 40px;

  @media (min-width: $grid-breakpoint-sm) {
    margin-bottom: 30px;
  }

  .offices-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $grid-breakpoint-sm) {
      flex-direction: row;
    }
  }

  .office-item {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 20px;

    & + .office-item {
      padding-top: 20px;
      border-top: 1px solid #d1d1d1;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (min-width: $grid-breakpoint-sm) {
      max-width: (100% / 3);
      min-height: 100%;
      margin-bottom: 0;
      padding-right: 1em;
      padding-left: 1em;

      & + .office-item {
        padding-top: 0;
        border-top: 0;
        border-left: 1px solid #d1d1d1;
      }

      &:first-of-type {
        padding-right: 0;
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

    @media (min-width: $grid-breakpoint-lg) {
      max-width: 31%;

      &:first-of-type {
        max-width: 38%;
        padding-right: 3em;
      }
    }

    a {
      color: $blue;

      &:hover,
      &:focus {
        color: darken($blue, 15);
      }
    }

    & > .title {
      flex: 1 0 0;
      margin-bottom: .25em;
      color: #9fc04f;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1;

      @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
        font-size: 1.8rem;
      }
    }

    & > .description {
      flex-shrink: 0;
      margin-bottom: .25em;
      padding-right: .5em;
      color: #72767a;
      font-weight: 600;
    }

    & > .link {
      margin-bottom: 0;
      font-size: 1.8rem;

      @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
        font-size: 1.4rem;
      }
    }
  }
}
