// search component

// Variables
$search-bg: #fff;

.c-search {
  position: absolute;
  z-index: 200;
  top: 122px;
  left: 0;
  display: none;
  width: 100%;
  background-color: $search-bg;
  box-shadow: 0 6px 11px -3px rgba(0,0,0,.3);

  @media (min-width: $grid-breakpoint-sm) {
    top: 135px;
  }

  &.-on {
    display: block;
  }

  .search-section {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d3d3d3;
    margin-bottom: 30px;

    @media (min-width: $grid-breakpoint-sm) {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  .section-header,
  .section-main {
    padding: 10px;

    @media (min-width: $grid-breakpoint-sm) {
      padding: 30px;
    }
  }

  .section-header {
    width: 20%;
  }

  .section-main {
    flex: 1 0 0;
  }

  .section-title {
    display: block;
    font-size: 2.4rem;
  }

  .item-list {
    display: flex;
    flex-direction: column;

    &.-blog {
      @media (min-width: $grid-breakpoint-md) {
        padding-right: 200px;
      }
    }
  }

  .item-list > .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .image {
      flex-shrink: 0;
      width: 75px;

      @media (min-width: $grid-breakpoint-sm) {
        width: 100px;
      }

      & > a {
        display: block;
      }
    }

    .content {
      margin-left: 15px;

      @media (min-width: $grid-breakpoint-sm) {
        margin-left: 50px;
      }

      .name {
        display: block;
        margin-bottom: .5em;
        color: $body-color;
        font-size: 1.8rem;
        font-weight: 700;

        &.-link {
          color: $blue;

          &:hover,
          &:focus {
            color: darken($blue, 15);
          }
        }
      }

      .description {
        color: #909090;
        font-weight: 600;
      }

      .meta {
        color: #909090;
        font-weight: 600;

        &::before {
          display: inline-block;
          margin-top: -2px;
          margin-right: 1em;
          content: "";
          vertical-align: middle;
        }

        &.-math::before {
          @include icon-math;
        }
      }

      .price {
        display: block;
        margin-bottom: 0;
        color: $body-color;
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
}
