.c-sidebar {
  padding-right: 0;
  padding-left: 0;

  @media (min-width: $grid-breakpoint-sm) {
    display: block;
    padding-left: 15px;
  }

  &.-on {
    .sidebar-block:not(.-filter) {
      display: none;

      @media (min-width: $grid-breakpoint-sm) {
        display: block;
      }
    }
  }

  .sidebar-block {
    margin-bottom: 40px;
    padding: 15px 10px 15px 15px;
    line-height: 1.5;

    & > .title {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .block-title {
      display: block;
      margin-bottom: 1.45em;
      padding-bottom: .65em;
      border-bottom: 1px solid #d4d4d4;
      color: #72767a;
      text-align: left;
      letter-spacing: .0025em;
      font-size: 1.8rem;
      font-weight: 400;

      @media (min-width: $grid-breakpoint-sm) {
        padding-bottom: 15px;
        text-transform: uppercase;
        font-size: 1.4rem;
      }

      &.-action {
        position: relative;
        text-align: center;
      }

      &.-small {
        margin-bottom: 0;
        padding-bottom: .5em;
        border-bottom: 0;
        color: #1d1d1d;
        letter-spacing: .01em;
        text-transform: none;
        font-size: 1.45rem;
        font-weight: 700;
      }

      &.-xsmall {
        color: #1d1d1d;
        text-transform: none;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }



    &.-go-back {
      display: none;
      margin-bottom: 11em;
      padding: 0;

      @media (min-width: $grid-breakpoint-sm) {
        display: block;
      }

      @media (min-width: $grid-breakpoint-md) {
        margin-bottom: 6.3em;
      }
    }



    &.-login {
      padding-right: 0;
      padding-left: 0;
      background-color: #e9e9e9;
      text-align: center;

      .box {
        position: relative;
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;

        &.-border {
          margin-bottom: 0;
          border-top: 1px solid #d5d5d5;
        }
      }

      .block-title {
        margin-bottom: .75em;
        padding-bottom: 0;
        border-bottom: 0;
        color: #1d1d1d;
        text-transform: none;
      }

      .form-login {
        &.-forget {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: none;
          margin-bottom: 0;
          background-color: #e9e9e9;

          &.-on {
            display: block;
          }

          p {
            margin-top: 1em;
          }
        }
      }

      .form-group {
        margin-bottom: .5em;
      }

      .form-control {
        padding-top: .75em;
        padding-bottom: .75em;
        border: 0;
      }

      a {
        color: $blue;

        &:hover,
        &:focus {
          color: $body-color;
        }
      }

      .btn {
        display: block;
        width: 100%;
        margin-top: 20px;
      }

      .description {
        margin-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        font-weight: 600;
      }
    }



    &.-menu {
      @include list-unstyled;
      display: none;
      flex-direction: column;
      margin-bottom: 30px;
      padding-right: 15px;
      padding-left: 15px;

      @media (min-width: $grid-breakpoint-sm) {
        display: flex;
        border: 1px solid #d5d5d5;
      }

      li {
        margin-bottom: .5em;
      }

      ul {
        @include list-unstyled;
        margin-left: 1em;

        li a {
          text-transform: none;
        }
      }

      & > li a {
        display: block;
        padding: .5em 1em;
        border-radius: 1em;
        color: $body-color;
        text-transform: uppercase;
        font-weight: 600;

        &.-active,
        &:hover,
        &:focus {
          background-color: $yellow;
        }
      }
    }



    &.-appeal {
      position: relative;
      background: url("../images/appeal-bg.jpg");
      color: #fff;

      .appeal-header img {
        margin: 0 auto 1em;

        @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .appeal-header .title {
        display: block;
        margin-bottom: .5em;
        color: #fff;
        font-size: 2.4rem;
        font-weight: 600;

        @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
          margin-left: 120px;
        }
      }

      .appeal-main {
        font-weight: 600;
        line-height: 1;

        @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
          margin-left: 120px;
        }
      }

      .appeal-main .price {
        margin-bottom: .5em;
        font-size: 2.8rem;
      }

      .appeal-footer {
        @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
          margin-left: 120px;
        }
      }

      .appeal-footer .btn {
        padding-right: .4em;
        padding-left: .4em;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover,
        &:focus {
          border-color: #fff;
          background-color: #fff;
        }
      }
    }



    &.-order {
      margin-right: 10px;
      margin-left: 10px;
      padding: 15px 0 5px;
      border: 1px solid #d5d5d5;

      @media (min-width: $grid-breakpoint-sm) {
        margin-right: 0;
        margin-left: 0;
      }

      .block-title {
        display: inline-block;
        padding: .5em 1em;
        border-bottom: 0;
        border-radius: 1em;
        background-color: $yellow;
        color: #1d1d1d;
        font-weight: 600;
      }

      .edit-order {
        margin-left: 20px;
        color: $blue;

        &:hover,
        &:focus {
          color: darken($blue, 15);
        }
      }

      & > .box {
        margin-bottom: 20px;
        padding-right: 10px;
        padding-left: 15px;
        border-bottom: 1px solid #d5d5d5;

        &.-deliver {
          margin-bottom: 7px;
        }

        &.-weight {
          margin-bottom: 10px;
        }

        &.-total {
          margin-bottom: 0;
          border-bottom: 0;
          text-align: right;

          .total-text {
            margin-bottom: .25em;
          }

          .total-price {
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
      }

      .order-list {
        @include list-unstyled;
        margin-bottom: 20px;

        li {
          font-weight: 600;

          &::before {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 7px;
            border-radius: 50%;
            background-color: #000;
            content: "";
            vertical-align: baseline;
          }
        }
      }

      .right-text {
        margin-bottom: 10px;
        text-align: right;
        font-weight: 600;

        &.-no-margin {
          margin-bottom: 0;
        }
      }
    }



    &.-reviews {
      background-color: #f6f6f6;

      & > .block-title {
        margin-bottom: 15px;
        padding-bottom: 0;
        border-bottom: 0;
        color: #1d1d1d;
        text-transform: none;
        font-size: 1.8rem;
        font-weight: 700;
      }

      & > .block-title::before {
        @include icon-sidebar-title-icon-reviews;
        display: inline-block;
        margin-right: 10px;
        content: "";
        vertical-align: middle;
      }

      a {
        color: $blue;

        &:hover,
        &:focus {
          color: $body-color;
        }
      }

      p {
        margin-bottom: 1.125em;
        color: #6d7178;
      }

      & > .btn {
        display: block;
        padding-top: .75em;
        padding-bottom: .75em;
        border-color: #009de1;
        color: #009de1;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover,
        &:focus {
          background-color: #009de1;
          color: #fff;
        }
      }
    }



    &.-filter {
      position: fixed;
      z-index: 110;
      top: 54px;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      margin-bottom: 0;
      background-color: #fff;
      transition: transform .2s linear;
      transform: translateX(0) translateZ(0);
      text-align: center;

      @media (min-width: $grid-breakpoint-sm) {
        position: relative;
        top: 0;
        margin-right: 0;
        margin-bottom: 15px;
        margin-left: 0;
        border: 1px solid #d5d5d5;
        transform: translateX(0) translateZ(0);
        text-align: left;

        &.-hidden {
          transform: translateX(0);
        }
      }

      &.-hidden {
        transform: translateX(100%);
      }

      .close {
        position: absolute;
        z-index: 100;
        top: 4px;
        left: 0;
        width: 42px;
        height: 42px;
        padding: 0;
        content: "";

        @media (min-width: $grid-breakpoint-sm) {
          display: none;
        }

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 14px;
          height: 2px;
          background-color: #818181;
          content: "";
          transform: translateY(-50%);
          transform-origin: 13px;
        }

        &::before {
          transform: rotate(-135deg);
        }

        &::after {
          transform: rotate(135deg);
        }
      }

      .box {
        margin-bottom: 1.55em;
        padding-bottom: 1.7em;
        border-bottom: 1px solid #d4d4d4;
        text-align: left;

        &.-padding-small {
          padding-bottom: .5em;
        }
      }

      .tags-list {
        @include list-unstyled;
        margin-bottom: 1em;

        li {
          margin-bottom: .5em;
          margin-right: .2em;
        }
      }

      .checkbox-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.-vertical {
          flex-direction: column;
        }
      }

      .form-checkbox {
        margin-top: .7em;
        margin-bottom: .1em;
        font-size: 1.4rem;

        @media (min-width: $grid-breakpoint-sm) {
          font-size: 1.3rem;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          color: #1d1d1d;
        }
      }

      .form-checkbox.-squard {
        flex: 1;
        margin: 0 1px 0;

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }

        input[type="checkbox"]:checked {
          & + .label-text {
            border-color: #009de1;
            background-color: #009de1;
            color: #fff;
          }
        }

        .label-text {
          display: block;
          padding-top: .6em;
          padding-bottom: .6em;
          border: 1px solid #d4d4d4;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 600;

          @media (min-width: $grid-breakpoint-sm) {
            font-size: 1.1rem;
          }

          &::before {
            display: none;
          }
        }
      }

      .filter-apply {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: .7em 1.5em;
        color: #fff;
        font-size: 1.6rem;

        @media (min-width: $grid-breakpoint-sm) {
          display: none;
        }
      }

      .filter-reset {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        color: #009de1;
        font-weight: 600;
        cursor: pointer;

        &:hover,
        &:focus {
          color: $body-color;
        }

        @media (min-width: $grid-breakpoint-sm) {
          display: inline-block;
          width: auto;
          margin-bottom: 10px;
          font-weight: 400;
        }
      }
    }



    &.-product {
      margin-bottom: 0;
      padding: 0;

      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 40px;
        border: 1px solid #d5d5d5;
      }

      & > .meta {
        padding: 20px 10px;
      }

      .meta-list {
        @include list-unstyled;
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
      }

      .meta-item {
        margin-bottom: 7px;
        width: 100%;

        @media (min-width: 568px) {
          width: 50%;
        }

        @media (min-width: $grid-breakpoint-sm) {
          width: 100%;
        }

        &::before {
          display: inline-block;
          margin-right: 9px;
          content: "";
          vertical-align: middle;
        }

        &.-age::before {
          @include icon-age;
        }
        &.-category::before {
          @include icon-category;
          margin-right: 14px;
          margin-left: 5px;
        }
        &.-time::before {
          @include icon-time;
          margin-right: 15px;
          margin-left: 6px;
        }
        &.-weight::before {
          @include icon-weight;
          margin-right: 15px;
          margin-left: 7px;
        }
      }

      .meta-complect {
        @media (min-width: $grid-breakpoint-sm) {
          padding-right: 5px;
          padding-left: 5px;
        }

        & > .block-title {
          margin-bottom: 7px;
          margin-left: 5px;
          padding-bottom: 0;
          border-bottom: 0;
          font-weight: 700;
        }

        & > .form-group {
          margin-bottom: 25px;
        }

        & > .price {
          display: block;
          float: left;
          margin: -9px 5px 7px;
          font-size: 2.8rem;
          font-weight: 600;

          @media (min-width: $grid-breakpoint-sm) {
            float: none;
            margin-top: 0;
          }
        }

        & > .presence {
          margin: 1em 0 1em 10em;


          @media (min-width: $grid-breakpoint-sm) {
            margin: 0 5px 17px;
          }

          .label-text::before {
            margin-right: 10px;
          }
        }

        & > .buttons {
          width: 100%;

          @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            .btn {
              width: 49.5%;
            }

            .btn + .btn {
              margin-left: 1%;
            }
          }
        }

        & > .buttons > .btn {
          position: relative;
          width: 100%;
          min-height: 38px;
          border-color: transparent;
          transition: background-color .3s linear, color .3s linear;
          transform: translate3d(0, 0, 0);
          font-size: 1.5rem;

          will-change: auto;

          &:hover,
          &:focus {
            background-color: $yellow;
          }
        }

        & > .buttons > .btn-buy-with-spinner {
          margin-bottom: 10px;
          color: #1d1d1d;
          font-size: 1.5rem;
          font-weight: 700;

          @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
            margin-bottom: 0;
          }
        }

        & > .buttons > .btn-fast {
          border-color: $blue;
          color: $blue;
          font-weight: 400;

          &:hover,
          &:focus {
            border-color: $blue;
            background-color: $blue;
            color: #fff;
          }
        }
      }

      & > .footer {
        padding: 20px;
        background-color: #f6f6f6;
        font-size: 1.5rem;
        font-weight: 600;

        p {
          margin-bottom: 0;

          &:last-of-type {
            margin-top: 15px;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }

        .city {
          display: inline;
          padding: 0;
          border-bottom: 1px dotted $blue;
          color: $blue;
          letter-spacing: .04em;
          text-transform: none;
          font-size: 1.5rem;
        }
      }
    }



    &.-rules {
      margin-bottom: 10px;
      padding: 10px 100px 10px 10px;

      @media (min-width: $grid-breakpoint-sm) {
        padding: 30px 20px;
        border: 1px solid #d5d5d5;
      }

      a {
        display: block;
        color: #009de1;

        &:hover,
        &:focus {
          color: $body-color;
        }

        @media (min-width: 568px) and (max-width: ($grid-breakpoint-sm - 1)) {
          span {
            display: inline-block;
            margin-top: 9px;
          }
        }

        &::before {
          @include icon-symbol-pdf;
          display: block;
          float: left;
          margin-right: 22px;
          content: "";

          @media (min-width: $grid-breakpoint-sm) {
            display: inline-block;
            float: none;
            vertical-align: middle;
          }
        }
      }
    }


    &.-video {
      margin-bottom: 15px;
      padding-right: 15px;
      padding-bottom: 0;

      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 0;
        padding-bottom: inherit;
      }

      .video-box {
        margin-bottom: 0;

        @media (min-width: $grid-breakpoint-sm) {
          margin-bottom: 15px;
        }
      }

      .video-player {
        padding-top: 7px;
        padding-bottom: 0;

        @media (min-width: $grid-breakpoint-sm) {
          margin-right: -15px;
          margin-left: -15px;
          padding-bottom: inherit;
        }

        & > .title {
          margin-left: -5px;
          color: #1d1d1d;
          font-size: 1.4rem;
          font-weight: 700;

          @media (min-width: $grid-breakpoint-sm) {
            margin-left: 0;
          }
        }

        .video-control {
          width: 64px;
          height: 64px;

          &::after {
            border-width: 12px 0 12px 20px;
          }
        }

        .video-description {
          display: none;
          padding-right: 0;
          font-size: 1.3rem;

          @media (min-width: $grid-breakpoint-sm) {
            display: block;
          }
        }
      }
    }



    &.-contacts {
      margin-bottom: 0;
      padding-left: 10px;
      background-color: $blue;
      color: #fff;

      @media (min-width: $grid-breakpoint-sm) {
        padding-left: 15px;
      }

      @media (min-width: 568px) and (max-width: ($grid-breakpoint-md - 1)) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .contacts-block {
          margin-bottom: 0;
        }
      }

      .contacts-block {
        position: relative;
        margin-bottom: 20px;
        padding-left: 35px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &::before {
          position: absolute;
          top: 10px;
          left: 0;
          display: inline-block;
          content: "";
        }

        &.-call::before {
          @include icon-phone;
        }

        &.-email::before {
          @include icon-mail;
        }

        p {
          margin-bottom: 0;
          line-height: 1.25;
        }

        .name {
          text-transform: uppercase;
          font-size: 2rem;
        }

        a {
          color: #fff;
        }
      }
    }

    &.-contacts-buttons {
      margin-bottom: 30px;
      padding-right: 10px;
      padding-left: 10px;

      @media (min-width: $grid-breakpoint-sm) {
        padding-right: 0;
        padding-left: 0;
      }

      @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;

        .btn {
          position: relative;
          width: 64px;
          height: 64px;
          border: 2px solid transparent;
          border-radius: 50%;
          content: "";

          &:hover {
            box-shadow: 0 0 14px 0 rgba(0,0,0,.4);
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            content: "";
            transform: translate(-50%, -50%);
          }

          &.btn-vk {
            border-color: #5587bf;

            &::before {
              @include icon-social-vk;
            }
          }

          &.btn-fb {
            border-color: #3c599f;

            &::before {
              @include icon-social-fb;
            }
          }
        }
      }

      .btn-question {
        width: 100%;
        padding-top: .7em;
        padding-bottom: .7em;
        font-size: 1.8rem;
      }
    }



    &.-add-comment {
      margin-bottom: 7.4em;
      padding: 0;

      & > .btn {
        width: 100%;
        text-transform: none;
        font-size: 1.6rem;
      }
    }
  }



  .c-appeal {
    margin-bottom: 40px;
    padding: 15px;

    .appeal-header .title {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .appeal-main .form-control {
      text-align: left;
    }
  }



  .c-vacancy {
    margin-bottom: 0;
    padding: 20px;

    .vacancy-header .title {
      font-size: 1.8rem;
    }

    .vacancy-main {
      margin-bottom: 1em;
    }

    .vacancy-main .form-inline {
      flex-direction: column;
      margin-bottom: 0;

      .form-group {
        margin-bottom: 1em;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .form-group + .form-group {
        margin-left: 0;
      }

      .form-group.-select select {
        border: 0;

        @media (min-width: $grid-breakpoint-sm) {
          padding-right: 23%;
          background: linear-gradient(to right, #fff 80.7%, $yellow 19.3%);
        }
      }
    }

    .vacancy-main textarea {
      display: none;
    }

    .vacancy-footer {
      flex-direction: column;

      .btn-file {
        margin-bottom: 1em;
        padding: 0;
      }
    }
  }



  .it-widget {
    margin-bottom: 40px;

    &.instargramgram {
      .instagram-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      a {
        color: $blue;

        &:hover,
        &:focus {
          color: $body-color;
        }
      }

      .name {
        margin-left: 5px;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
}
