// Variables
$smallbar-height: 54px;
$smallbar-cart-count-bg: #f0e524;
$smallbar-cart-count-color: #1d1d1d;

.c-smallbar {
  position: relative;
  z-index: 91;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $smallbar-height;
  padding-right: 20px;
  padding-left: 20px;
  background: url("../images/header-compact-bg.png") no-repeat center top;

  @media (min-width: $grid-breakpoint-sm) {
    display: none;
  }

  .smallbar-item {
    position: relative;
    transition: opacity .2s linear, visibility .2s linear;

    &.btn {
      padding: 0;
    }

    &.-logo {
      display: block;
      flex-shrink: 0;
      width: 66px;
      height: 43px;
      background: url("../images/logo-small.png") no-repeat top center;
      text-indent: -9999em;
    }

    & > .icon {
      display: inline-block;
      margin-top: 4px;

      &.-search-white {
        @include icon-search-white;
      }
      &.-guest {
        @include icon-guest;
      }
      &.-cart {
        @include icon-cart;
      }
    }

    .cart-count {
      position: absolute;
      top: -3px;
      right: -8px;
      display: block;
      padding: 1px 4px;
      border-radius: 50%;
      background: none repeat scroll 0 0 $smallbar-cart-count-bg;
      color: $smallbar-cart-count-color;
      font-size: 1.2rem;
    }
  }
}
