.c-social-icons {
  .social-list {
    display: flex;
    justify-content: center;

    .social-item {
      position: relative;
      display: block;
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 50%;
      content: "";

      &:hover {
        box-shadow: 0 0 14px 0 rgba(0,0,0,.4);
      }

      & + .social-item {
        margin-left: 10px;
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        content: "";
        transform: translate(-50%, -50%);
      }

      img {
        border-radius: 50%;
      }

      .icon {
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        border-radius: 50%;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          content: "";
          transform: translate(-50%, -50%);
        }
      }

      &.facebook {
        border-color: #3c599f;

        &::before {
          @include icon-social-fb;
        }

        .icon {
          background-color: #3c599f;

          &::after {
            @include icon-social-comment-fb;
          }
        }
      }

      &.vkontakte {
        border-color: #5587bf;

        &::before {
          @include icon-social-vk;
        }

        .icon {
          background-color: #5587bf;

          &::after {
            @include icon-social-comment-vk;
          }
        }
      }

      &.-signout {
        &::before {
          display: none;
        }

        &::after {
          font-family: $font-family-mono;
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          content: "x";
          line-height: 16px;
          color: #fff;
          background-color: $red;
          width: 16px;
          border-radius: 8px;
          text-align: center;
        }
      }
    }
  }



  &.-large {
    .social-item {
      width: 96px;
      height: 96px;
      border: 0;

      @media (min-width: $grid-breakpoint-md) {
        width: 112px;
        height: 112px;
      }

      & + .social-item {
        margin-left: 20px;
      }

      &.facebook {
        background-color: #3c599f;

        &::before {
          @include icon-social-fb-xl-white;
        }
      }

      &.vkontakte {
        background-color: #5587bf;

        &::before {
          @include icon-social-vk-xl-white;
        }
      }
    }
  }
}
