// Variables
$social-appeal-bg: #f1f1f1;

.c-social-appeal {
  position: relative;
  overflow: hidden;
  background-color: $social-appeal-bg;

  @media (min-width: $grid-breakpoint-sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .social-appeal-item {
    padding: 15px;
    background-color: #fff;
    text-align: center;

    @media (min-width: $grid-breakpoint-md) {
      padding: 35px 40px 35px 35px;
      text-align: left;

      & + .social-appeal-item {
        padding-left: 40px;
        border-left: 1px solid #d3d3d3;
      }
    }

    .title {
      margin-bottom: 20px;
      color: #353b43;
      font-size: 1.6rem;

      @media (min-width: $grid-breakpoint-md) {
        font-size: 2rem;
      }
    }
  }

  .social-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (min-width: $grid-breakpoint-md) {
      flex-direction: column;
      border: 1px solid #d3d3d3;
    }
  }

  .social-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    @media (min-width: $grid-breakpoint-md) {
      &:not(:last-of-type) {
        border-bottom: 1px solid #d3d3d3;
      }
    }

    .icon-box {
      position: relative;
      display: block;
      flex-shrink: 0;
      align-self: center;
      width: 60px;
      height: 60px;
      margin: 12px 17px;
      border: 2px solid transparent;
      border-radius: 50%;

      & > .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
      }
    }

    &.vkontakte .icon-box {
      border-color: #5587bf;

      & > .icon {
        @include icon-social-vk;
      }
    }

    &.facebook .icon-box {
      border-color: #3c599f;

      & > .icon {
        @include icon-social-fb;
      }
    }

    &.instargram .icon-box {
      border-color: #745232;

      & > .icon {
        @include icon-social-insta;
      }
    }

    .avatar-box {
      display: none;
      flex-shrink: 0;
      width: 80px;
      border-left: 1px solid #d3d3d3;

      @media (min-width: $grid-breakpoint-md) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .users-box {
      position: relative;
      display: none;
      width: 226px;
      margin-top: 6px;
      margin-bottom: 6px;

      @media (min-width: $grid-breakpoint-md) {
        display: block;
      }

      & > .user {
        float: left;
        margin: 2px;
      }

      & > .info {
        position: absolute;
        bottom: 2px;
        left: -11px;
        padding: 2px 8px;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        white-space: nowrap;
        font-weight: 600;
      }
    }
  }



  .appeal-block {
    .form-group {
      margin-bottom: 15px;

      & + .form-group {
        margin-bottom: 21px;
      }
    }

    .form-control {
      padding: 10px 18px;
      font-size: 1.8rem;
    }

    .form-checkbox {
      margin-bottom: 15px;
      text-align: left;

      & + .form-checkbox {
        margin-bottom: 25px;
      }

      label {
        color: #72767a;
      }
    }

    .btn {
      padding: 12px 25px;
      font-size: 1.6rem;
    }

    .form-tooltip {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: -24px;
      margin-left: 15px;
      padding: 0;
      border: 1px solid #c3c3c3;
      border-radius: 50%;
      color: #c3c3c3;
      cursor: help;
      text-align: center;
      text-transform: none;
      line-height: 16px;
    }
  }
}
