// subscription component

// Variables
$subscription-bg: #fff;

.c-subscription {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #f1f1f1;
  background-color: $subscription-bg;

  @media (min-width: $grid-breakpoint-sm) {
    border: 10px solid #f1f1f1;
  }

  @media (min-width: $grid-breakpoint-md) {
    max-width: 720px;
  }

  &::before {
    position: absolute;
    bottom: -14px;
    left: -110px;
    display: none;
    width: 71px;
    height: 90px;
    background: url("../images/animal-bird.png") no-repeat left bottom;
    content: "";
  }

  &::after {
    position: absolute;
    bottom: 55px;
    left: -30px;
    display: none;
    width: 0;
    height: 0;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent #f1f1f1 transparent;
    content: "";
  }

  &::before,
  &::after {
    @media (min-width: ($grid-breakpoint-sm + 150)) and (max-width: ($grid-breakpoint-md - 1)) {
      display: block;
    }

    @media (min-width: ($grid-breakpoint-md + 150)) and (max-width: ($grid-breakpoint-lg - 1)) {
      display: block;
    }

    @media (min-width: ($grid-breakpoint-lg + 150)) {
      display: block;
    }
  }



  & > .title {
    margin-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;

    @media (min-width: $grid-breakpoint-sm) {
      text-align: left;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }



  .subscription-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;

    @media (min-width: $grid-breakpoint-sm) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .subscription-inputs {
    width: 100%;

    @media (min-width: $grid-breakpoint-sm) {
      width: 65%;
    }
  }

  .subscription-checkbox {
    width: 100%;

    @media (min-width: $grid-breakpoint-sm) {
      width: 34%;
      padding-left: 20px;
    }
  }

  .subscription-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (min-width: $grid-breakpoint-sm) {
      justify-content: flex-start;
    }
  }



  .form-group {
    margin-bottom: 15px;

    & + .form-group {
      margin-bottom: 21px;
    }
  }

  .form-control {
    padding: 10px 18px;
    font-size: 1.8rem;
  }

  .form-checkbox {
    text-align: left;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 23px;

      & + .form-checkbox {
        margin-bottom: 0;
      }
    }

    label {
      color: #72767a;
    }

    .label-text {
      position: relative;
      display: block;
      padding-left: 25px;
      font-weight: 600;
    }

    .label-text::before {
      position: absolute;
      top: 3px;
      left: 0;
    }
  }

  .btn {
    padding: 12px 25px;
    font-size: 1.6rem;
  }

  .form-tooltip {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: -39px;
    margin-left: 30px;
    padding: 0;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    color: #c3c3c3;
    cursor: help;
    text-align: center;
    text-transform: none;
    line-height: 16px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-right: 0;
    }

    &[data-balloon] {
      position: relative; // alt. absolute or fixed

      &::after {
        position: absolute;
        z-index: 10;
        width: 280px;
        padding: .5em 1em;
        opacity: 0;
        border-radius: 4px;
        background: fade-out(#111, .1);
        color: #fff;
        content: attr(data-balloon);
        transition: all .18s ease-out;
        white-space: normal;
        pointer-events: nonre;
        font-size: 1.2rem;
      }

      &::before {
        position: absolute;
        z-index: 10;
        opacity: 0;
        content: "";
        transition: all .18s ease-out;
      }

      &:hover {
        &::before,
        &::after {
          opacity: 1;
          pointer-events: auto;
        }
      }

      &[data-balloon-pos="up"] {
        &::before,
        &::after {
          bottom: 100%;
          left: 50%;
          margin-bottom: 5px;
          transform: translate(-50%, 10px);
          transform-origin: top;
        }

        &:hover {
          &::before,
          &::after {
            transform: translate(-50%, 10px);
          }
        }
      }
    }
  }
}
