.c-tabs {
  position: relative;

  @media (min-width: $grid-breakpoint-sm) {
    padding-right: 0;
    padding-left: 0;
    border-top: 0;
    border-bottom: 0;
  }

  // Variations
  &.-full {
    margin-right: -10px;
    margin-left: -10px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &.-without-first {
    @media (min-width: $grid-breakpoint-sm) {
      .tabs-navigation li:first-of-type {
        display: none;
      }
    }
  }

  &.-large-margin {
    .tabs-navigation > li:not(:last-of-type) {
      margin-right: 2em;
    }
  }

  &.-center {
    .tabs-navigation {
      justify-content: center;

      @media (min-width: $grid-breakpoint-sm) {
        justify-content: flex-start;
      }
    }
  }

  &.-square {
    .tabs-navbar {
      border-top: 0;
      border-bottom: 0;
    }

    .tabs-navigation {
      border-bottom: 0;
    }

    .tabs-navigation > li {
      width: 50%;
      margin-right: 0 !important;
    }

    .tabs-navigation a {
      padding: 10px 25px;
      border: 1px solid #e9e9e9;
      background-color: #fff;
      font-size: 1.4rem;
    }

    .tabs-navigation a.-active {
      border: 1px solid #e9e9e9;
      background-color: #e9e9e9;

      &::before {
        display: none;
      }
    }
  }

  &.-center .tabs-navigation {
    @media (max-width: ($grid-breakpoint-sm - 1)) {
      justify-content: center;
    }
  }




  & > .tabs-navbar {
    overflow-x: auto;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;

    @media (min-width: $grid-breakpoint-sm) {
      overflow: hidden;
      border-top: 0;
      border-bottom: 0;
    }
  }

  .tabs-navigation {
    @include list-unstyled;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    @media (min-width: $grid-breakpoint-sm) {
      border-bottom: 3px solid #1d1d1d;
    }

    & > li {
      @media (min-width: $grid-breakpoint-sm) {
        &:not(:last-of-type) {
          margin-right: 1em;
        }

        &.-right {
          margin-left: auto;
        }
      }

      @media (min-width: $grid-breakpoint-md) {
        &:not(:last-of-type) {
          margin-right: 2em;
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding-right: 6px;
      padding-left: 6px;
      color: #7d7d7d;
      text-align: center;
      white-space: nowrap ;
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 40px;

      &:hover,
      &:focus {
        color: #1d1d1d;
      }

      @media (min-width: $grid-breakpoint-sm) {
        padding: 0 0 10px;
      }

      @media (min-width: $grid-breakpoint-md) {
        font-size: 2rem;
      }

      .counter {
        display: none;

        @media (min-width: $grid-breakpoint-sm) {
          display: inline;
        }
      }

      &.-active {
        border-bottom: 5px solid $blue;
        color: #1d1d1d;

        @media (min-width: $grid-breakpoint-sm) {
          border-bottom: 0;
        }

        @media (min-width: $grid-breakpoint-sm) {
          &::before {
            position: absolute;
            bottom: -15px;
            left: 50%;
            display: block;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border: 3px solid #1d1d1d;
            background-color: #fff;
            content: "";
            transform: rotate(45deg);
          }
        }
      }

      &.-skip {
        cursor: not-allowed;
        color: #7d7d7d !important;
      }
    }
  }

  .tabs-content {
    @include list-unstyled;
    padding-right: 10px;
    padding-left: 10px;

    @media (min-width: $grid-breakpoint-sm) {
      padding-right: 0;
      padding-left: 0;
    }

    & > li,
    & > .tab {
      position: relative;
      display: none;

      &.-active {
        display: block;
        animation: fadeIn .5s;
      }

      &.-full-width {
        max-width: 100%;
      }
    }
  }



  // корзина
  &.-basket {
    .tab-heading {
      display: none;
    }

    .steps > ul {
      @include list-unstyled;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      justify-content: center;

      @media (min-width: $grid-breakpoint-sm) {
        border-bottom: 3px solid #1d1d1d;
        justify-content: flex-start;
      }

      & > li {
        @media (min-width: $grid-breakpoint-sm) {
          &:not(:last-of-type) {
            margin-right: 1em;
          }

          &.-right {
            margin-left: auto;
          }
        }

        @media (min-width: $grid-breakpoint-md) {
          &:not(:last-of-type) {
            margin-right: 2em;
          }
        }
      }

      & > li > a {
        outline: 0;
        position: relative;
        display: flex;
        padding-right: 6px;
        padding-left: 6px;
        color: #7d7d7d;
        text-align: center;
        white-space: nowrap ;
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 40px;

        &:hover,
        &:focus {
          color: #1d1d1d;
        }

        @media (min-width: $grid-breakpoint-sm) {
          padding: 0 0 10px;
        }

        @media (min-width: $grid-breakpoint-md) {
          font-size: 2rem;
        }

        .number {
          display: none;

          @media (min-width: $grid-breakpoint-sm) {
            display: inline;
            margin-right: .25em;
          }
        }
      }

      & > li.current > a {
        border-bottom: 5px solid $blue;
        color: #1d1d1d;

        @media (min-width: $grid-breakpoint-sm) {
          border-bottom: 0;
        }

        @media (min-width: $grid-breakpoint-sm) {
          &::before {
            position: absolute;
            bottom: -12px;
            left: 50%;
            display: block;
            width: 22px;
            height: 22px;
            margin-left: -11px;
            border: 3px solid #1d1d1d;
            border-width: 3px 0 0 3px;
            background-color: #fff;
            content: "";
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
