// Variables

// Colors
$topbar-bg: #eeeeee;

.c-topbar {
  width: 100%;
  line-height: 52px;
  background-color: $topbar-bg;

  @media (max-width: $grid-breakpoint-sm - 1) {
    display: none;
  }

  .area {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }

  .topbar-left {
    justify-content: flex-start;
    display: flex;
  }

  .topbar-right {
    justify-content: flex-end;
  }



  // Стиль для текстовых пунктов
  .topbar-items {
    display: flex;
  }

  .topbar-label {
    flex-shrink: 0;
    color: #353b43;
    font-size: 1.4rem;

    @media (min-width: $grid-breakpoint-md) {
      font-size: 1.5rem;
    }

    &.-light {
      color: #666a6f;
    }

    &.-mail {
      margin-left: 14px;

      a {
        color: $blue;

        &:hover,
        &:focus {
          color: #353b43;
        }
      }
    }

    a {
      color: #353b43;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }

  .topbar-separator {
    height: 24px;
    margin-top: 14px;
    border-left: 1px solid #c6c6c6;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    content: "";
    position: relative;

    @media (min-width: $grid-breakpoint-md) {
      margin-left: 18px;
      margin-right: 18px;
    }
  }

  .topbar-signup {
    &::before {
      @include icon-signup;
      display: inline-block;
      content: "";
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 8px;
    }
  }



  // Выпадающее меню для выбора языка
  .topbar-dropdown {
    font-size: 1.4rem;

    &:hover {
      .topbar-dropdown-title {
        color: $blue;

        &::before,
        &::after {
          background-color: $blue;
        }
      }

      .topbar-dropdown-list {
        display: block;
      }
    }

    @media (min-width: $grid-breakpoint-md) {
      font-size: 1.5rem;
    }
  }

  .topbar-dropdown-title {
    position: relative;
    color: #353b43;
    margin-left: 5px;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 53%;
      right: -10px;
      display: block;
      width: 8px;
      height: 1px;
      background-color: #353b43;
      content: "";
      transform: translate(-50%, -50%);
      transform-origin: 8px;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(135deg);
    }
  }

  .topbar-dropdown-list {
    @include list-unstyled;
    display: none;
    position: absolute;
    top: 52px;
    margin-left: -13px;
    z-index: 1110;
    background-color: #fff;
    line-height: 1;

    &.-on,
    &:hover {
      display: block;
    }
  }

  .topbar-dropdown-item {
    padding: 10px 20px;
  }

  .topbar-dropdown-link {
    color: #353b43;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
