.c-vacancy {
  margin-bottom: 30px;
  padding: 30px;
  background: url("../images/pattern-green-big.jpg");

  @media (min-width: $grid-breakpoint-sm) {
    margin-bottom: 0;
  }

  .vacancy-header {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
  }

  .vacancy-main {
    margin-bottom: 20px;

    .form-inline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;

      .form-group {
        flex-shrink: 1;
        width: 100%;

        & + .form-group {
          margin-left: 2%;
        }
      }
    }

    .form-control {
      width: 100%;
      border-color: #fff;
    }
  }

  .vacancy-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $grid-breakpoint-sm) {
      flex-direction: row;
    }

    .btn-file {
      color: #fff;
      margin-right: .5em;
      text-transform: none;

      &::before {
        @include icon-attach-file;
        display: inline-block;
        margin-right: .7em;
        content: "";
        vertical-align: middle;
      }

      &:hover,
      &:focus {
        color: $body-color;
      }
    }

    .btn-submit {
      padding-right: 2em;
      padding-left: 2em;
      font-size: 1.6rem;
    }
  }
}
