.c-vacancies {
  margin-bottom: 40px;

  .vacancies-team {
    display: none;
    margin-bottom: 44px;

    @media (min-width: $grid-breakpoint-sm) {
      display: block;
      max-height: 348px;
    }

    @media (min-width: $grid-breakpoint-md) {
      max-height: 501px;
    }

    @media (min-width: $grid-breakpoint-lg) {
      max-height: 640px;
    }
  }

  .vacancies-list {
    display: flex;
    flex-direction: column;
  }

  .vacancies-list > .item {
    display: flex;
    flex-direction: row;
    margin: 0 -10px 20px;
    padding: 15px;

    & + .item {
      border-top: 1px solid #d1d1d1;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (min-width: $grid-breakpoint-sm) {
      align-items: center;
      margin-right: 0;
      margin-left: 0;
      padding: 25px;
      border: 1px solid #d1d1d1;
    }

    @media (min-width: $grid-breakpoint-sm) {
      &:hover,
      &:focus {
        outline: 2px solid $green;
        border-color: transparent;
      }
    }

    & > .item-image {
      flex-shrink: 0;
      width: 44px;
      height: 44px;

      @media (min-width: $grid-breakpoint-sm) {
        width: 77px;
        height: 77px;
      }
    }

    & > .item-content {
      display: block;
      width: 100%;
      margin-left: 25px;
      color: $body-color;

      & > .name {
        color: $green;
        font-weight: 600;
      }

      & > .description {
        margin-bottom: 0;
        font-size: 1.5rem;
      }
    }
  }
}
