// Variables

// Common
$video-player-breakpoint: $grid-breakpoint-sm;

// Z-index
$video-z-control: 100;

.video-player {
  padding-top: 15px;
  padding-bottom: 15px;

  .video-box {
    position: relative;
    margin: 0 -10px 15px;
    color: #fff;

    @media (min-width: $video-player-breakpoint) {
      margin: 0 0 15px;
    }

    img {
      width: 100%;
    }
  }

  .video-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 -50px 100px -25px #000;
  }

  .video-control {
    position: absolute;
    z-index: $video-z-control;
    top: 50%;
    left: 50%;
    width: 96px;
    height: 96px;
    border-radius: 16px;
    background-color: rgba(#000, .6);
    cursor: pointer;
    transition: opacity .3s linear;
    transform: translate(-50%, -50%);

    &:hover,
    &:focus {
      opacity: .8;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 28px solid #fff;
      content: "";
      transform: translate(-50%, -50%);
    }
  }

  .video-name {
    position: absolute;
    bottom: 35px;
    left: 40px;
    display: none;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .video-counter {
    position: absolute;
    bottom: 15px;
    left: 40px;
    display: none;
  }

  @media (min-width: $video-player-breakpoint) {
    .video-name,
    .video-counter {
      display: block;
    }
  }

  .video-timer {
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 1px 5px;
    border-radius: 3px;
    background-color: rgba(#000, .7);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
  }

  .video-description {
    margin-bottom: 0;
    padding-right: 15px;
    font-size: 1.6rem;

    @media (min-width: $grid-breakpoint-md) and (max-width: ($grid-breakpoint-lg - 1)) {
      padding-right: 130px;
      padding-left: 0;
    }
  }
}
