.c-tabs.-full(data-tabs-controller)
  .tabs-navbar: ul.tabs-navigation
    li: a.-active(data-tab="shipping", href="#0") Доставка
    li: a(data-tab="payment", href="#1") Способы оплаты
    li: a(data-tab="warranty", href="#2") Гарантия качества

  ul.tabs-content.page-content
    li.tab-content.-active(data-tab="shipping")
      .content.-fs-middle
        h2.title Доставка

        p.-fw-semibold.-c-red
          | Специальное предложение! Бесплатная доставка по России при заказе от 2500 руб.
          button.btn.btn-transparent.btn-help(data-balloon="Предложение действует для всех городов европейской части России и всех крупных городов. В зависимости от города, предлагается курьерская доставка, доставка до пункта выдачи или доставка почтой. Для отдалённых населённых пунктов специальное предложение по доставке может отличаться: мы компенсируем 295 руб. из стоимости доставки.", data-balloon-pos="up", data-balloon-promo) ?

        h3.-fs-middle.-mb-em-0-25.-tt-u Москва
        ul
          li Пункты выдачи курьерской компании СДЭК (#[a(href="http://www.edostavka.ru/contacts/moskva.html") адреса пунктов]), 155 руб.
          li Доставка нашим курьером «до двери» (2 раза в неделю), 295 руб.
        p Все варианты доставки бесплатны при заказе от 2500 руб.

        h3.-fs-middle.-mb-em-0-25.-tt-u Санкт-Петербург
        ul
          li Пункт выдачи у нас в офисе, м. Петроградская (#[a(href="http://www.edostavka.ru/contacts/sankt-peterburg.html") на карте]), в любой будний день с 10:00 до 19:00, бесплатно.
          li Пункты выдачи курьерской компании СДЭК (#[a(href="http://www.edostavka.ru/contacts/sankt-peterburg.html") адреса пунктов]), 110 руб.
          li Доставка нашим курьером «до двери» (2 раза в неделю), 235 руб.
        p Все варианты доставки бесплатны при заказе от 2500 руб.

        h3.-fs-middle.-mb-em-0-25.-tt-u Другие регионы
        p.-small-margin Точная стоимость доставки автоматически рассчитывается при оформлении заказа, зависит от веса и адреса доставки.
        ul
          li Пункты выдачи курьерской компании СДЭК (#[a(href="http://www.edostavka.ru/contacts/sankt-peterburg.html") адреса пунктов]). К примеру, доставка «Делиссимо» в Екатеринбург займёт 3-4 рабочих дня и будет стоить 175 руб.
          li Доставка курьером СДЭК «до двери» (то же «Делиссимо» по Екатеринбургу — 315 руб.)
          li Доставка бандеролью 1-го класса «#[a(href="http://www.russianpost.ru/") Почтой России]», в среднем это 7-10 дней и 300-400 рублей.

        p
          | Для заказов от 2500 руб. — есть бесплатные варианты доставки (в зависимости от города).
          button.btn.btn-transparent.btn-help(data-balloon="В зависимости от города, предлагается курьерская доставка, доставка до пункта выдачи или доставка почтой. Для отдалённых населённых пунктов специальное предложение по доставке может отличаться: мы компенсируем 295 руб. из стоимости доставки.", data-balloon-pos="up", data-balloon-promo) ?

        h3.-fs-middle.-mb-em-0-25.-tt-u Другие страны
        ul
          li Бандероль «Почтой России», стоимость автоматически рассчитывается при оформлении заказа.

        br
        p При оформлении любого заказа, когда вы укажете адрес и состав заказа, сайт предложит все доступные для вашего региона варианты доставки и рассчитает их стоимость с учётом веса. Если у вас есть особые пожелания — укажите их в поле «комментарий» при оформлении заказа.

    li.tab-content(data-tab="payment")
      .content.-fs-middle
        h2.title Способы оплаты

        ul
          li
            | При получении заказа от курьера или в пункте выдачи, наличными.
            button.btn.btn-transparent.btn-help(data-balloon="Оплатить наличными прямо при получении заказа можно в пункте выдачи СДЭК или курьеру. Отправка бандеролью «Почтой России» возможна только при предварительной оплате заказа любым из способов, описанных ниже (отправка бандеролей наложенным платежом не производится).", data-balloon-pos="up", data-balloon-promo) ?
          li
            | В кассе Сбербанка или в #[a(href="http://sberbank.ru/") Сбербанк-Онлайн] по квитанции.
            button.btn.btn-transparent.btn-help(data-balloon="При оформлении заказа будет сформирована квитанция, на сайте Сбербанк-Онлайн нужно выбрать в меню «перевод организации/юр. лицу» и указать реквизиты из этой квитанции. За проведение перевода Сбербанк удержит 15 руб. Получение оплаты и подтверждение заказа мы сделаем в течение одного рабочего дня.", data-balloon-pos="up", data-balloon-promo) ?
          li
            | На нашем сайте банковской картой, с помощью PayPal, Яндекс Деньги, WebMoney или другими электронными деньгами.
            button.btn.btn-transparent.btn-help(data-balloon="Технологии защиты, используемые при проведении операций, сертифицированы на соответствие стандарту PCI DSS и отвечают последним международным требованиям безопасности платёжных систем Visa и MasterCard. Информация при операциях передается в зашифрованном виде по протоколу SSL 3.0.", data-balloon-pos="up", data-balloon-promo) ?

    li.tab-content(data-tab="warranty")
      .content.-fs-middle
        h2.title Гарантия качества

        p: b Наши игры безопасны, это подтверждено сертификатом

        p
          | Мы гарантируем, что все игры, которые мы выпускаем, выполнены из качественных материалов и безопасны для вас и ваших детей. Сертификат соответствия таможенного союза подтверждает, что игры отвечают всем требования «о безопасности игрушек».
          br
          b Eсли вы получили товар с дефектами — мы все исправим

        p И при производстве, и при доставке с играми иногда случаются какие-то неприятности. <br> Напишите нам на #[a(href="mailto:info@bandaumnikov.ru") info@bandaumnikov.ru], и мы решим этот вопрос.

        p: b Если после получения заказа вы передумали — мы вернём деньги

        p
          | В течение 7 дней после получения заказа, если, товар не был в употреблении, полностью сохранена упаковка и товарный вид, вы можете отправить его обратно нам, а мы вернём деньги (за исключением стоимости первоначальной доставки).
          button.btn.btn-transparent.btn-help(data-balloon="Нужно будет заполнить заявление о возврате товара, товар можно отправить бандеролью или привезти по адресу: 191186, СПб, Аптекарский пр., д.4, оф. 28. Желательно предварительно связаться с нами по info@bandaumnikov.ru или тел. 8 800 500-49-66, мы поможем сделать все быстро и правильно.", data-balloon-pos="up", data-balloon-promo) ?
