include ../../components/_appeal

.it-widget.-hidden-sm#vk_groups
script(type="text/javascript", src="//vk.com/js/api/openapi.js?121")
script(type="text/javascript").
  VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "400", color1: "FFFFFF", color2: "4A7099", color3: "4CB5C7"}, 47568728);

.it-widget.-facebook.-hidden-sm
  img(src="images/demo/fb.png", alt="")

.it-widget.instargramgram.-hidden-sm
  .instagram-logo
    a(target="_blank" rel="nofollow" href="https://instagram.com/bandaumnikov/")
      img(src="images/insta-logo.png", alt="alt")
    a(target="_blank" rel="nofollow" href="https://instagram.com/bandaumnikov/").name @bandaumnikov
