include ../../components/_jumbotron-slider

main.site-main
  section.info-block.-center
    .area.-sm
      h2.info-title Почему наши игры так нравятся детям <br> и их родителям?
      h3.info-description «Банда умников» — увлекательные настольные игры, которые помогают детям в освоении важных знаний и умений.

  .info-block.-padding
    .area.-sm.-md.-lg: .row
      .col.col-xs-12.col-sm-6.info-block-no-p-r
        include ../../components/_pgw-slider
      .col.col-xs-12.col-sm-6.info-block-right.info-block-p-l
        p.info-description.-fw-bold Игры «Банда Умников» сделал один необычный папа из Санкт-Петербурга для своего сына и его друзей.
        p.info-description.-italic.-c-grey-700 Вы удивитесь, насколько просто ребёнок может осваивать даже сложные темы в игровой форме.
        p.info-description.-c-grey-300 Сергей Пархоменко — психолог по образованию и бизнес-тренер по профессии. Он занялся темой обучения детей, когда стал вести кружок для сына-дошкольника и его друзей. Для кружка было придумано множество интересных игр и затей, а потом появилось и издательство «Банда Умников». Для нас кажется удивительным тот факт, что учёба и игра в существующей системе образования считаются кардинально разными делами.

  .area.-md.-lg
    include ../../components/_feedback

  include ../../components/_catalog-slider
  include ../../components/_cooperation
  include ../../components/_partners

  .info-block.-center.-padding.-blue.blog-posts
    .area.-sm.-md.-lg
      h2.info-title Идеи и статьи о занятиях с детьми в нашем блоге
      .row
        article.col.col-xs-12.col-sm-6.col-md-4.blog-item
          time.time(datetime="2016-04-04") 12.10.14
          h3.title: a(href="#link", title="Заголовок") Почему я занимаюсь математикой с дочкой
          img.image(src="images/demo/blog-1.png", alt="alt")
          p.description По запросу мы высылаем подробную партнерскую программу. В ее рамках вы получите увеличенные скидки и все остальные преимущества постоянного партнера.

        article.col.col-xs-12.col-sm-6.col-md-4.blog-item
          time.time(datetime="2016-04-04") 11.10.14
          h3.title: a(href="#link", title="Заголовок") Интервью с Сергеем Пархоменко для журнала «Семейное образование»
          img.image(src="images/demo/blog-2.png", alt="alt")
          p.description Потому, что, с одной стороны — это увлекательные настольные игры с интересным дизайном: дети с большим удовольствием играю в них.

        article.col.col-xs-12.col-sm-12.col-md-4.blog-item
          time.time(datetime="2016-04-04") 10.10.14
          h3.title: a(href="#link", title="Заголовок") Обзор с сайта tesera.ru (игра «Делиссимо»)
          img.image(src="images/demo/blog-3.png", alt="alt")
          p.description Если вы занимаетесь оптовой или розничной торговлей, и наши игры вам понравились — будем рады обсудить условия сотрудничества.

      a.btn.blog-btn(href="#link", title="title") Читать блог

  include ../../components/_social-appeal
