.site-footer {
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #d1d1d1;

  @media (min-width: $grid-breakpoint-sm) {
    margin-bottom: 50px;
    padding-top: 0 !important;
    padding-bottom: 0;
    border-top: 0;

    .area {
      padding-left: 0;
    }
  }

  .animal-box {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d1d1d1;

    .row {
      justify-content: flex-end;
    }
  }

  .footer-navbar {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 23px;

    &.-no-uppercase {
      a {
        text-transform: none;
      }
    }

    &.-font-semibold {
      a {
        font-weight: 600;
      }
    }

    li {
      margin-right: 2em;
      padding: 0;
    }

    a {
      border-bottom: 0;
      color: $blue;
      font-weight: 400;

      &:hover,
      &:focus {
        color: #005580;
      }
    }
  }

  .footer-info {
    color: #a2a2a2;
    text-align: center;
    font-weight: 600;
    line-height: 1.7;

    @media (min-width: $grid-breakpoint-sm) {
      text-align: left;
    }

    p {
      margin-bottom: 0;

      &.-fs-small {
        line-height: 2;
      }
    }

    a {
      color: $blue;

      &:hover,
      &:focus {
        color: #005580;
      }
    }

    .footer-payment {
      margin-left: -7px;
    }
  }

  .footer-social {
    padding-top: 23px;
    padding-bottom: 20px;

    .social-item {
      display: inline-block;
      vertical-align: top;
    }

    .social-item.facebook {
      width: 85px;
    }

    .social-item.-odnk {
      width: 46px;
      padding: 2px 7px 0;
    }

    .social-item.-vb {
      width: 85px;
    }
  }
}
