.site-header {
  &.-slider {
    height: 720px;
    // overflow: hidden;
    margin-bottom: 35px;
  }

  &.-compact {
    background: url("../images/header-compact-bg.png") no-repeat top center;

    @media (min-width: $grid-breakpoint-sm) {
      padding-bottom: 20px;
    }

    // .navbar-search {
    //   border: 1px solid #ccc;
    // }
  }
}
