@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 5000px, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 5000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animation-bounce {
  animation-duration: .75s;

  animation-fill-mode: both;

  &.-out-down {
    animation-name: bounceOutDown;
  }

  &.-in-up {
    animation-name: bounceInUp;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buyButton {
  from {
    visibility: visible;
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
    transform: scale3d(1.5, 1.5, 1.5);
  }

  75% {
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 0;
  }
}
