// Buttons

.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: $btn-font-size;
  line-height: $line-height;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }

  // Disabled button
  &.disabled,
  &:disabled {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Default button
.btn-default {
  @include btn-color($btn-default-bg, $btn-default-color, $btn-default-border);
}

.btn-yellow {
  @include btn-color($btn-yellow-bg, $btn-yellow-color, $btn-yellow-border);
}

.btn-orange {
  @include btn-color(#ef6e12, #fff, #ef6e12);
}

.btn-pink {
  @include btn-color(#c93196, #fff, #c93196);
}

.btn-blue {
  @include btn-color($btn-blue-bg, $btn-blue-color, $btn-blue-border);
}

.btn-green {
  @include btn-color($btn-green-bg, $btn-green-color, $btn-green-border);
}

// Transparent button
.btn-transparent {
  background-color: transparent;

  &:focus,
  &:hover {
    background-color: transparent;
    color: lighten($body-color, 30);
  }
}

.btn-go-back {
  position: relative;
  display: block;
  padding: .9em 0;
  border: 1px solid #d3d3d3;
  color: #a7a7a7;
  transition: all .3s linear;
  text-align: center;
  text-indent: 1.2em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: $body-color;
    color: $body-color;

    &::before,
    &::after {
      background-color: $body-color;
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    background-color: #cbcbcb;
    content: "";
    transition: all .3s linear;
    transform: translateY(-50%);
    transform-origin: 9px;
  }

  &::before {
    transform: rotate(-135deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

.btn-outline-blue {
  padding-top: .7em;
  padding-bottom: .7em;
  border-color: $blue;
  background-color: transparent;
  color: $blue !important;

  &:hover,
  &:focus {
    background-color: $blue;
    color: #fff !important;
  }
}

.btn-outline-black {
  padding-top: .7em;
  padding-bottom: .7em;
  border-color: #353b43;
  background-color: transparent;
  color: #353b43 !important;

  &:hover,
  &:focus {
    background-color: #353b43;
    color: #fff !important;
  }
}

.btn-help {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: .5em;
  padding: 0;
  border: 1px solid #aeaeae;
  border-radius: 50%;
  color: #aeaeae;
  cursor: help;
  text-align: center;
  text-transform: none;
  line-height: 16px;
}

.btn-buy-with-spinner {
  position: relative;
  width: 100%;
  min-height: 38px;
  border-color: transparent;
  transition: background-color .3s linear, color .3s linear;
  transform: translate3d(0, 0, 0);
  will-change: auto;

  & > .cart {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  & > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    margin-top: -16px;
    margin-left: -6px;
    opacity: 0;
    content: "";
    transform: translate3d(0, 0, 0);

    &:after {
      display: block;
      width: 12px;
      height: 24px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      content: "";
      transform: rotate(45deg) translate3d(0, 0, 0);
    }
  }

  &.-on {
    background-color: $green !important;
    color: #fff !important;
    border-color: transparent;

    .buy {
      display: none;
    }

    .spinner {
      animation-name: buyButton;
      animation-duration: .75s;
    }

    .cart {
      position: relative;
      visibility: visible;
      opacity: 1;
      transition: position .25s linear, opacity .25s linear, visibility .25s linear;
      transition-delay: .5s;
    }
  }
}
