// Forms

.form-control {
  display: block;
  width: 100%;
  padding: $form-input-padding-y $form-input-padding-x;
  border: 1px solid $form-input-border-color;
  border-radius: 0;
  background-color: $form-input-bg;
  background-image: none;
  box-shadow: none;
  font-size: $form-input-font-size;
  line-height: $line-height;
  // transition: border-color .25s ease-in-out, box-shadow ease-in-out .25s;

  &:focus {
    outline: none;
    border-color: $form-input-active-border-color;
  }

  // [IE10+] Unstyle the caret on `<select>`s.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // The color of the placeholder text
  &::placeholder {
    color: $form-input-placeholder-color;
  }

  // Invalid
  &.-invalid {
    background-color: rgba($red, 0.1);
  }
}

// Alignment height for select
select:not([multiple]).form-control {
  height: $form-input-height;
}

// [iOS] The vertical alignment of the label for the field of type file
input[type="file"].form-control {
  border: 0;
  line-height: 1;
}

// [Firefox, IE10+] Remove indents at the edges and the border property
// for a field of type range
input[type="range"].form-control {
  padding-right: 0;
  padding-left: 0;
  border: 0;
}


// A unit of form - group (label + input + description)
.form-group {
  margin-bottom: $spacer;

  &.-select {
    position: relative;

    &:active,
    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: #e80c0c;
      }
    }

    select {
      border-color: #d4d4d4;
      cursor: pointer;
      appearance: none;

      &::-ms-expand {
        display: none;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 15px;
      display: block;
      width: 8px;
      height: 2px;
      background-color: #818181;
      content: "";
      transition: all .3s linear;
      transform: translateY(-50%);
      transform-origin: 7px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }

  &.required {
    // styles
  }

  &.has-success .form-control {
    background-color: lighten($green, 45);
  }

  &.has-error .form-control {
    background-color: lighten($red, 45);
  }

  .help-block {
    margin-bottom: 0;
    margin-top: 5px;

    &-error {
      border-left: 4px solid $red;
      padding-left: 8px;
      color: #fff;
    }
  }
}

// Checkboxes and radios
.form-radio,
.form-checkbox {
  margin-bottom: $spacer;

  & > label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 400;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-top: -.2em;
    vertical-align: middle;

    &:focus {
      outline: 0;
    }

    &:disabled,
    &.disabled {
      cursor: not-allowed;
    }
  }

  &.disabled > label {
    cursor: not-allowed;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;

    &:checked + .label-text:before {
      @include icon-checkbox-check;
      border: 0;
      background-color: $green;
    }
  }

  .label-text {
    &::before {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      border: 2px solid #c3c3c3;
      border-radius: 50%;
      content: "";
      vertical-align: text-bottom;
    }
  }
}

// Move up sibling radios or checkboxes for tighter spacing
// .form-radio + .form-radio,
// .form-checkbox + .form-checkbox {
//   margin-top: ($spacer / -2);
// }

// Inline forms
.form-inline {
  @media (min-width: $form-inline-breakpoint) {
    .form-group,
    .form-control {
      display: inline-block;
      vertical-align: middle;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      width: auto;
    }

    .form-radio,
    .form-checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
