// Grid system

.area {
  @include xy-make-container($grid-gutter-width);

  &.-sm { @include xy-make-container-width($grid-breakpoint-sm, $grid-area-sm); }
  &.-md { @include xy-make-container-width($grid-breakpoint-md, $grid-area-md); }
  &.-lg { @include xy-make-container-width($grid-breakpoint-lg, $grid-area-lg); }

  .row {
    @include xy-make-row($grid-gutter-width);
  }
}

.col {
  @include xy-make-column($grid-gutter-width);
  @include xy-make-columns-width(xs, $grid-columns-count);

  @media (min-width: $grid-breakpoint-sm) {
    @include xy-make-columns-width(sm, $grid-columns-count);
  }

  @media (min-width: $grid-breakpoint-md) {
    @include xy-make-columns-width(md, $grid-columns-count);
  }

  @media (min-width: $grid-breakpoint-lg) {
    @include xy-make-columns-width(lg, $grid-columns-count);
  }
}
