/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin icon-age {
  background-image: url(../images/sprite.png);
  background-position: -146px -172px;
  width: 34px;
  height: 22px;
}
@mixin icon-arr-bread {
  background-image: url(../images/sprite.png);
  background-position: -277px -124px;
  width: 7px;
  height: 11px;
}
@mixin icon-attach-file {
  background-image: url(../images/sprite.png);
  background-position: -79px -172px;
  width: 35px;
  height: 35px;
}
@mixin icon-basket-raccoon-hover {
  background-image: url(../images/sprite.png);
  background-position: -186px -134px;
  width: 40px;
  height: 35px;
}
@mixin icon-basket-raccoon {
  background-image: url(../images/sprite.png);
  background-position: -146px -134px;
  width: 40px;
  height: 35px;
}
@mixin icon-cart {
  background-image: url(../images/sprite.png);
  background-position: -114px -172px;
  width: 32px;
  height: 26px;
}
@mixin icon-category {
  background-image: url(../images/sprite.png);
  background-position: -224px -172px;
  width: 23px;
  height: 18px;
}
@mixin icon-checkbox-check {
  background-image: url(../images/sprite.png);
  background-position: -147px -216px;
  width: 18px;
  height: 18px;
}
@mixin icon-comment {
  background-image: url(../images/sprite.png);
  background-position: -165px -216px;
  width: 18px;
  height: 18px;
}
@mixin icon-delivery-hover {
  background-image: url(../images/sprite.png);
  background-position: -107px -134px;
  width: 39px;
  height: 37px;
}
@mixin icon-delivery {
  background-image: url(../images/sprite.png);
  background-position: -68px -134px;
  width: 39px;
  height: 37px;
}
@mixin icon-epi-left {
  background-image: url(../images/sprite.png);
  background-position: -277px -87px;
  width: 11px;
  height: 11px;
}
@mixin icon-epi-right {
  background-image: url(../images/sprite.png);
  background-position: -277px -75px;
  width: 12px;
  height: 12px;
}
@mixin icon-filter {
  background-image: url(../images/sprite.png);
  background-position: -92px -216px;
  width: 19px;
  height: 18px;
}
@mixin icon-guest {
  background-image: url(../images/sprite.png);
  background-position: 0px -242px;
  width: 24px;
  height: 26px;
}
@mixin icon-lang-en {
  background-image: url(../images/sprite.png);
  background-position: -251px -216px;
  width: 18px;
  height: 12px;
}
@mixin icon-lang-ru {
  background-image: url(../images/sprite.png);
  background-position: -59px -242px;
  width: 18px;
  height: 12px;
}
@mixin icon-mail {
  background-image: url(../images/sprite.png);
  background-position: -180px -172px;
  width: 22px;
  height: 22px;
}
@mixin icon-map-mark-hover {
  background-image: url(../images/sprite.png);
  background-position: -47px -172px;
  width: 32px;
  height: 39px;
}
@mixin icon-map-mark {
  background-image: url(../images/sprite.png);
  background-position: -243px -113px;
  width: 32px;
  height: 39px;
}
@mixin icon-math {
  background-image: url(../images/sprite.png);
  background-position: -43px -242px;
  width: 16px;
  height: 19px;
}
@mixin icon-order-border-active {
  background-image: url(../images/sprite.png);
  background-position: 0px -67px;
  width: 243px;
  height: 67px;
}
@mixin icon-order-border {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 243px;
  height: 67px;
}
@mixin icon-order-key {
  background-image: url(../images/sprite.png);
  background-position: -277px -114px;
  width: 10px;
  height: 10px;
}
@mixin icon-peoples {
  background-image: url(../images/sprite.png);
  background-position: -247px -172px;
  width: 23px;
  height: 15px;
}
@mixin icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -202px -172px;
  width: 22px;
  height: 22px;
}
@mixin icon-search-blue {
  background-image: url(../images/sprite.png);
  background-position: -129px -216px;
  width: 18px;
  height: 18px;
}
@mixin icon-search-white {
  background-image: url(../images/sprite.png);
  background-position: 0px -216px;
  width: 26px;
  height: 26px;
}
@mixin icon-search {
  background-image: url(../images/sprite.png);
  background-position: -111px -216px;
  width: 18px;
  height: 18px;
}
@mixin icon-sidebar-title-icon-reviews {
  background-image: url(../images/sprite.png);
  background-position: 0px -172px;
  width: 47px;
  height: 44px;
}
@mixin icon-signup {
  background-image: url(../images/sprite.png);
  background-position: -72px -216px;
  width: 20px;
  height: 20px;
}
@mixin icon-social-comment-fb {
  background-image: url(../images/sprite.png);
  background-position: -277px -98px;
  width: 7px;
  height: 16px;
}
@mixin icon-social-comment-vk {
  background-image: url(../images/sprite.png);
  background-position: -114px -198px;
  width: 16px;
  height: 9px;
}
@mixin icon-social-contacts-fb-hover {
  background-image: url(../images/sprite.png);
  background-position: -277px -51px;
  width: 11px;
  height: 24px;
}
@mixin icon-social-contacts-fb {
  background-image: url(../images/sprite.png);
  background-position: -277px -27px;
  width: 11px;
  height: 24px;
}
@mixin icon-social-contacts-vk-hover {
  background-image: url(../images/sprite.png);
  background-position: -207px -216px;
  width: 22px;
  height: 13px;
}
@mixin icon-social-contacts-vk {
  background-image: url(../images/sprite.png);
  background-position: -229px -216px;
  width: 22px;
  height: 13px;
}
@mixin icon-social-fb-big-white {
  background-image: url(../images/sprite.png);
  background-position: -226px -134px;
  width: 15px;
  height: 32px;
}
@mixin icon-social-fb-xl-white {
  background-image: url(../images/sprite.png);
  background-position: -243px 0px;
  width: 34px;
  height: 72px;
}
@mixin icon-social-fb {
  background-image: url(../images/sprite.png);
  background-position: -277px 0px;
  width: 13px;
  height: 27px;
}
@mixin icon-social-insta {
  background-image: url(../images/sprite.png);
  background-position: -26px -216px;
  width: 25px;
  height: 25px;
}
@mixin icon-social-vk-big-white {
  background-image: url(../images/sprite.png);
  background-position: -243px -152px;
  width: 30px;
  height: 17px;
}
@mixin icon-social-vk-xl-white {
  background-image: url(../images/sprite.png);
  background-position: 0px -134px;
  width: 68px;
  height: 38px;
}
@mixin icon-social-vk {
  background-image: url(../images/sprite.png);
  background-position: -183px -216px;
  width: 24px;
  height: 13px;
}
@mixin icon-symbol-pdf {
  background-image: url(../images/sprite.png);
  background-position: -243px -72px;
  width: 33px;
  height: 41px;
}
@mixin icon-time {
  background-image: url(../images/sprite.png);
  background-position: -51px -216px;
  width: 21px;
  height: 23px;
}
@mixin icon-weight {
  background-image: url(../images/sprite.png);
  background-position: -24px -242px;
  width: 19px;
  height: 25px;
}
