// Lists

// Unstyled list
.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

// inline list
.list-inline {
  @include list-unstyled;
  margin-left: -.5em;

  & > li {
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
  }
}
