// Scaffolding

// Reset the box-sizing
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Reset body styles
html {
  font-size: $font-size-root;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-bg;
  overflow-x: hidden;
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

// Horizontal rules
hr {
  box-sizing: content-box;
  margin-top: ($spacer * 2);
  margin-bottom: ($spacer * 2);
  border: 0;
  border-bottom: $hr-border-width solid $hr-border-color;
}

// Lists
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

// Fieldset
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

// Label
label {
  display: inline-block;
  margin-bottom: ($spacer / 2);
}

// Legend
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: ($spacer / 2);
}

// Textarea
textarea {
  resize: vertical;
}

// Responsive images
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

// Remove most spacing between table cells.
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Disable scroll
.-scroll-off {
  overflow: hidden;

  @media (min-width: $grid-breakpoint-sm) {
    overflow: auto;
  }
}
