// Tables

// Basic styles
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;

  caption,
  th {
    text-align: left;
  }

  caption {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
  }

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
  }

  td {
    border-top: $table-border-weight solid $table-border-color;
  }
}

// Add borders all around the table and between all the columns
.table-bordered {
  border: $table-border-weight solid $table-border-color;

  th,
  td {
    border: $table-border-weight solid $table-border-color;
  }
}

// Responsive tables
.table-responsive {
  display: block;
  overflow-x: auto;
  width: 100%;
  empty-cells: show;
}

.table {
  &.-blue {
    thead {
      background: url("../images/heading-blue-pattern.png");
      color: #fff;
    }
  }

  &.-info {
    max-width: 540px;
    font-weight: 600;

    @media (min-width: $grid-breakpoint-sm) {
      margin: 0 auto 30px;
    }

    td {
      display: block;
      padding: 0;
      border-top: 0;

      @media (min-width: $grid-breakpoint-sm) {
        display: table-cell;
        padding: .75em;
      }
    }

    tr > td:first-of-type {
      color: #7a7e81;
    }

    tr > td:last-of-type {
      padding-bottom: 25px;

      @media (min-width: $grid-breakpoint-sm) {
        padding-bottom: 0;
      }
    }
  }
}
