.tag {
  display: inline-block;
  overflow: visible;
  padding: .75em .6em;
  border-radius: .4em;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;

  &.-yellow {
    background-color: $yellow;
    color: #3f2723;
  }

  &.-close {
    a {
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      font-size: 0;
      line-height: 0;

      &:hover {
        &::before,
        &::after {
          background-color: #1d1d1d;
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 7px;
        left: 0;
        width: 15px;
        height: 1px;
        background-color: #a8a311;
        content: "";
        transform-origin: center;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
