[data-balloon] {
  position: relative; // alt. absolute or fixed

  &::after {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    width: 280px;
    padding: .5em 1em;
    opacity: 0;
    border-radius: 4px;
    background: fade-out(#111, .1);
    color: #fff;
    content: attr(data-balloon);
    white-space: normal;
    pointer-events: nonre;
    font-size: 1.2rem;
  }

  &::before {
    position: absolute;
    z-index: 11;
    opacity: 0;
    content: "";
  }

  &:hover {
    &::before,
    &::after {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &[data-balloon-pos="up"] {
    &::after {
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px;
      transform: translate(-100%, 10px);
      transform-origin: top;
    }

    &:hover {
      &::after {
        transform: translate(-50%, 10px);
      }
    }
  }

  &[data-balloon-remove] {
    &::after {
      width: 120px;
      margin-bottom: 25px;
      border-radius: 0;
      background: #fff;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, .3);
      color: #969696;
    }

    &::before {
      top: -24px;
      left: 11px;
      width: 18px;
      height: 18px;
      background: #fff;
      box-shadow: 7px 7px 14px -5px rgba(0, 0, 0, .3);
      transform: rotate(45deg);
    }
  }

  &[data-balloon-left] {
    &:hover {
      &::after {
        @media (min-width: $grid-breakpoint-md) {
          transform: translate(-70%, 10px);
        }
      }
    }
  }

  &[data-balloon-promo] {
    &::after {
      width: 350px;
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-radius: 0;
      background: #fff;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, .3);
      color: #969696;
      text-align: left;
    }

    &:hover {
      &::after {
        @media (min-width: $grid-breakpoint-md) {
          transform: translate(-90%, 10px);
        }
      }
    }

    &::before {
      top: -24px;
      left: 0;
      width: 18px;
      height: 18px;
      background: #fff;
      box-shadow: 7px 7px 14px -5px rgba(0, 0, 0, .3);
      transform: rotate(45deg);
    }
  }
}
