.page-content.-lh-1-5
  p: img(src="images/demo/about.jpg", alt="alt")
  p Для нас кажется удивительным тот факт, что учёба и игра в существующей системе образования считаются кардинально разными делами. Мол, учёба — это когда сидишь за партой и делаешь то, что «надо», а игра — это когда делаешь то, что хочется, и это интересно и весело.
  p Особенно это несправедливо по отношению к младшим школьникам: жил себе не тужил, играл и веселился – и тут на тебе, сплошное «надо» и «не пойдёшь играть, пока не сделаешь уроки».
  p Эта ситуация выглядит странной ещё и потому, что игровые методы обучения — один из самых эффективных подходов не только для детей, но и для взрослых, где деловые игры и тренинги давно доминируют на рынке, позволяя за считанные дни осваивать целые курсы по новым темам.

  p: button.btn.btn-outline-blue Просто тест кнопки

  p: img(src="images/demo/about.jpg", alt="alt")
  p Для нас кажется удивительным тот факт, что учёба и игра в существующей системе образования считаются кардинально разными делами. Мол, учёба — это когда сидишь за партой и делаешь то, что «надо», а игра — это когда делаешь то, что хочется, и это интересно и весело.
  p Особенно это несправедливо по отношению к младшим школьникам: жил себе не тужил, играл и веселился – и тут на тебе, сплошное «надо» и «не пойдёшь играть, пока не сделаешь уроки».
  p Эта ситуация выглядит странной ещё и потому, что игровые методы обучения — один из самых эффективных подходов не только для детей, но и для взрослых, где деловые игры и тренинги давно доминируют на рынке, позволяя за считанные дни осваивать целые курсы по новым темам.

  .table-responsive: table.table.-blue
    thead
      tr
        th Игры
        th Штук
        th Игры
        th Штук
    tbody
      tr
        td Турбосчёт
        td 10
        td Делиссимо
        td 5
      tr
        td Геометрика
        td 9
        td Цветариум
        td 4
      tr
        td Зверобуквы
        td 7
        td Много-Много
        td 3

  p Доставка по России, до склада Деловых Линий или СДЭК в вашем городе бесплатна, а в большинстве крупных городов европейской части России мы сможем доставить набор прямо в руки.

  ul.-alignment-left
    li
      b Дизайн, материалы и полиграфия европейского уровня.
      p Мы перфекционисты во всём, особенно в области качества нашей продукции. У нас работает целая команда дизайнеров и предпечатных специалистов, включая сотрудников из стран западной Европы. Наши полиграфические партнёры имеют в своих портфолио контракты на печать продукции для мировых брендов в России. Вы получите в руки продукты европейского класса исполнения напрямую от производителя.

    li
      b Дизайн, материалы и полиграфия европейского уровня.
      p Мы перфекционисты во всём, особенно в области качества нашей продукции. У нас работает целая команда дизайнеров и предпечатных специалистов, включая сотрудников из стран западной Европы. Наши полиграфические партнёры имеют в своих портфолио контракты на печать продукции для мировых брендов в России. Вы получите в руки продукты европейского класса исполнения напрямую от производителя.

    li
      b Дизайн, материалы и полиграфия европейского уровня.
      p Мы перфекционисты во всём, особенно в области качества нашей продукции. У нас работает целая команда дизайнеров и предпечатных специалистов, включая сотрудников из стран западной Европы. Наши полиграфические партнёры имеют в своих портфолио контракты на печать продукции для мировых брендов в России. Вы получите в руки продукты европейского класса исполнения напрямую от производителя.

    li
      b Дизайн, материалы и полиграфия европейского уровня.
      p Мы перфекционисты во всём, особенно в области качества нашей продукции. У нас работает целая команда дизайнеров и предпечатных специалистов, включая сотрудников из стран западной Европы. Наши полиграфические партнёры имеют в своих портфолио контракты на печать продукции для мировых брендов в России. Вы получите в руки продукты европейского класса исполнения напрямую от производителя.

  p: img(src="images/demo/about.jpg", alt="alt")
  p Для нас кажется удивительным тот факт, что учёба и игра в существующей системе образования считаются кардинально разными делами. Мол, учёба — это когда сидишь за партой и делаешь то, что «надо», а игра — это когда делаешь то, что хочется, и это интересно и весело.
  p Особенно это несправедливо по отношению к младшим школьникам: жил себе не тужил, играл и веселился – и тут на тебе, сплошное «надо» и «не пойдёшь играть, пока не сделаешь уроки».
  p Эта ситуация выглядит странной ещё и потому, что игровые методы обучения — один из самых эффективных подходов не только для детей, но и для взрослых, где деловые игры и тренинги давно доминируют на рынке, позволяя за считанные дни осваивать целые курсы по новым темам.

  h3 Видеообзор и рассказ об игровом подходе к обучению
  iframe(height='360', src='https://www.youtube.com/embed/T71S4_MIpA8', allowfullscreen='', style="width: 100%")
