include ../../mixins/_map

main.site-main
  .area.-sm.-md.-lg: .row
    include ../../components/_breadcrumb

    .page-heading
      h1.title Где купить#[span.-hidden-sm-inline  игры «Банды Умников»]?

  .area.-sm.-md.-lg: .row
    +map("map")

  .area.-sm.-md.-lg
    .c-place-list
      .place-header(data-tabs-controller)
        .tabs-navigation
          a(data-tab="shops", href="#0").btn.btn-transparent.-active Магазины
          a(data-tab="distributors", href="#1").btn.btn-transparent Дистрибьюторы

      .row.tabs-content
        .col.col-xs-12.col-sm-6.shops
          span.title Магазины
          p.description Указан город для центрального магазина, регионы доставки для интернет-магазинов, уточняйте на их сайтах:

          .form-group.-select
            select.form-control
              option Россия
              option Украина
              option Беларусь
              option Казахстан
          .form-group.-select
            select.form-control
              option Санкт-Петербург
              option Москва
              option Тверь
              option Самара

          .place-empty
            .text: p В данном регионе нет ни одного магазина
            img.image(src="images/animal-ostrich.png")


        .col.col-xs-12.col-sm-6.distributors
          span.title Дистрибьюторы
          p.description Мы активно расширяем нашу партнерскую сеть. На сегодня вы можете найти наши игры в следующих компаниях:

          .place-empty
            .text: p В данном регионе нет ни одного Дистрибьютора

  .-hidden-xs
    include ../../components/_appeal

