.title-wrapper: h3.title.-blue-green Спецпредложения
.row.catalog-list
  each item, index in _products.catalog
    .col.col-sm-6.col-md-4
      .catalog-item
        a(href="/product.html", title="#{item.name}").item-image
          .image-inner
            if item.badge
              if item.badge.label == "Хит"
                span.item-badge(class="-#{item.badge.type}")=item.badge.label
            img(src="images/demo/#{item.image}", alt="alt")
        a(href="/product.html", title="#{item.name}").item-header
          h4.name=item.name
        .item-meta
          .age #[=item.age.min] — #[=item.age.max] лет
          .category=item.category
        .item-content
          p.description=item.description
        .item-footer
          span.price #[b 1 780] ₽
          button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
            span.buy В корзину
            span.spinner
            span.cart В корзине
          a(href="#product_reviews", title="190 комментариев").comment 199

          // span.price #[b 1 780] ₽
          // button(type="button", data-button-buy, data-product-id="123").btn.btn-orange.btn-buy-with-spinner
          //   span.buy Предзаказ
          //   span.spinner
          //   span.cart В корзине
          // a(href="#product_reviews", title="190 комментариев").comment 199

          // a(href="#item").btn.btn-blue.btn-preorder.-soon
          //   span Скоро в наличии
          // a(href="#product_reviews", title="190 комментариев").comment 199

          // a(href="#item").btn.btn-pink.btn-preorder.-soon
          //   span Скоро в предзаказе
          // a(href="#product_reviews", title="190 комментариев").comment 199

  a.btn.btn-blue.btn-more.-hidden-xs(href="#more", title="Показать ещё") Показать ещё

.title-wrapper: h3.title.-green-orange Развивающие игры
.row.catalog-list
  each item, index in _products.catalog
    .col.col-sm-6.col-md-4
      .catalog-item
        a(href="/product.html", title="#{item.name}").item-image
          .image-inner
            if item.badge
              if item.badge.label == "Хит"
                span.item-badge(class="-#{item.badge.type}")=item.badge.label
            img(src="images/demo/#{item.image}", alt="alt")
        a(href="/product.html", title="#{item.name}").item-header
          h4.name=item.name
        .item-meta
          .age #[=item.age.min] — #[=item.age.max] лет
          .category=item.category
        .item-content
          p.description=item.description
        .item-footer
          span.price #[b 1 780] ₽
          button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
            span.buy В корзину
            span.spinner
            span.cart В корзине
          a(href="#product_reviews", title="190 комментариев").comment 199

  a.btn.btn-blue.btn-more.-hidden-xs(href="#more", title="Показать ещё") Показать ещё

.title-wrapper: h3.title.-orange-blue Аксессуары к играм
.row.catalog-list
  each item, index in _products.catalog
    .col.col-sm-6.col-md-4
      .catalog-item
        a(href="/product.html", title="#{item.name}").item-image
          .image-inner
            if item.badge
              if item.badge.label == "Хит"
                span.item-badge(class="-#{item.badge.type}")=item.badge.label
            img(src="images/demo/#{item.image}", alt="alt")
        a(href="/product.html", title="#{item.name}").item-header
          h4.name=item.name
        .item-meta
          .age #[=item.age.min] — #[=item.age.max] лет
          .category=item.category
        .item-content
          p.description=item.description
        .item-footer
          span.price #[b 1 780] ₽
          button(type="button", data-button-buy, data-product-id="123").btn.btn-yellow.btn-buy-with-spinner
            span.buy В корзину
            span.spinner
            span.cart В корзине
          a(href="#product_reviews", title="190 комментариев").comment 199

  a.btn.btn-blue.btn-more.-hidden-xs(href="#more", title="Показать ещё") Показать ещё
