.sidebar-block.-reviews.-hidden-sm
  h2.block-title Отзывы
  p
    | Для нас кажется удивительным тот факт, что учёба и игра в существующей системе...
    br
    a(href="#more", title="Далее") Далее
  p
    | Учёба и игра в существующей системе образования считаются кардинально разными делами...
    br
    a(href="#more", title="Далее") Далее

  a(href="#link", title="Читать все отзывы").btn Читать все отзывы

.sidebar-block.-filter.-hidden
  button.btn.btn-transparent.close(data-collapse, data-target="#filter", data-no-scroll, data-hidden-class=".-filter")
  form#filterForm
    h2.block-title.-action Выбор по параметрам

    .box.-padding-small
      ul.tags-list#filterTagsList
        li.tag.-yellow.-close #[span Математика] #[a(href="#close")]

      span.filter-reset Сбросить все фильтры

    .box
      h3.block-title.-small Рекомендации по возрасту
      .checkbox-list
        .form-checkbox.-squard: label
          input(type="checkbox")
          span.label-text 4—6 лет
        .form-checkbox.-squard: label
          input(type="checkbox")
          span.label-text 7—9 лет
        .form-checkbox.-squard: label
          input(type="checkbox")
          span.label-text 10—12 лет

    .box
      h3.block-title.-small Предмет, тема
      .checkbox-list.-vertical
        each item in _products.categories
          .form-checkbox: label
            if item.checked
              input(type="checkbox", checked)
            else
              input(type="checkbox")
            span.label-text=item.label

    .box
      h3.block-title.-small Характер игр
      .checkbox-list.-vertical
        .form-checkbox: label
          input(type="checkbox")
          span.label-text «На подумать»
        .form-checkbox: label
          input(type="checkbox")
          span.label-text На скорость

    button.btn.btn-green.filter-apply Подобрать
    span.filter-reset Сбросить все фильтры

.sidebar-block.-video.-hidden-sm
  .video-player
    h2.title Видеоотзыв педагогов
    .video-box
      img(src="images/demo/video-sidebar.png", alt="alt")
      .video-control
      .video-shadow
      .video-timer 3:34

    p.video-description.-c-grey-300 Вы удивитесь, насколько просто ребёнок может осваивать даже сложные темы в игровой форме.

