// Margin
.-mb {
  &-0 { margin-bottom: 0; }

  &-em-0-25 { margin-bottom: .275em !important; }
  &-em-0-5 { margin-bottom: .5em !important; }
  &-em-1 { margin-bottom: 1em !important; }
  &-em-1-25 { margin-bottom: 1.25em !important; }
  &-em-1-5 { margin-bottom: 1.5em !important; }
  &-em-2 { margin-bottom: 2em !important; }
  &-em-3 { margin-bottom: 3em !important; }

  &-px-10 { margin-bottom: 10px; }
  &-px-15 { margin-bottom: 15px; }
  &-px-20 { margin-bottom: 20px; }
  &-px-30 { margin-bottom: 30px; }
  &-px-40 { margin-bottom: 40px; }
  &-px-50 { margin-bottom: 50px; }
}
