// Толщина шрифта
.-fw {
  &-light { font-weight: 300 !important; }
  &-regular { font-weight: 400 !important; }
  &-semibold { font-weight: 600 !important; }
  &-bold { font-weight: 700 !important; }
}

// Размер шрифта
.-fs {
  &-xsmall { font-size: 1rem !important; }
  &-small { font-size: 1.2rem !important; }
  &-regular { font-size: 1.4rem !important; }
  &-middle { font-size: 1.7rem !important; }
  &-large { font-size: 1.8rem !important; }
  &-xlarge { font-size: 2rem !important; }
  &-xxlarge { font-size: 2.4rem !important; }
}

// Межстрочный интервал
.-lh {
  &-1 { line-height: 1 !important; }
  &-1-25 { line-height: 1.25 !important; }
  &-1-5 { line-height: 1.5 !important; }
  &-1-75 { line-height: 1.75 !important; }
  &-2 { line-height: 2 !important; }
}

// Прочее
.-text-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center !important;
}

.-tt-u {
  text-transform: uppercase;
}
