.-hidden-xs {
  @media (min-width: $grid-breakpoint-sm) {
    display: none;
  }
}

.-hidden-sm {
  display: none;

  @media (min-width: $grid-breakpoint-sm) {
    display: block;
  }
}

.-hidden-sm-inline {
  display: none;

  @media (min-width: $grid-breakpoint-sm) {
    display: inline;
  }
}

.-hidden-md {
  display: none;

  @media (min-width: $grid-breakpoint-md) {
    display: block;
  }
}
