.page-heading
  h1.title Отзывы

.c-tabs.-full.-center.-large-margin(data-tabs-controller)
  .tabs-navbar: ul.tabs-navigation
    li: a.-active(data-tab="comments", href="#0") Отзывы
    li: a(data-tab="reviews", href="#1") Обзоры
    li: a(data-tab="videos", href="#2") Видео

  ul.tabs-content
    li.tab-content.-active(data-tab="comments")
      .reviews
        each review in _feedback.reviews
          .review
            blockquote
              p=review.more
            a(href="#link").btn.btn-outline-black Читай-хватай
            .author.-c-grey-300
              .photo-box
                img.author-photo(src="images/demo/olga.png", alt="alt")
                span.author-social.facebook
              .author-description
                a.author-link(href="#author", title="title")=review.name
                p.author-about=review.about
          .review
            blockquote
              p=review.more
            a(href="#link").btn.btn-outline-black Читай-хватай
            .author.-c-grey-300
              .photo-box
                img.author-photo(src="images/demo/olga.png", alt="alt")
                span.author-social.vkontakte
              .author-description
                a.author-link(href="#author", title="title")=review.name
                p.author-about=review.about

      include ../../components/_pagination


    li.tab-content(data-tab="reviews")
      .reviews-box
        .item
          span.title: a(href="#link") Первые впечатления о «Зверобуквах» и варианты игры для самых маленьких
          p.description Не буду описывать базовый процесс игры, он и так внятно изложен в правилах, расскажу о своих впечатлениях и вариациях. Первый раз Аня превысила минимальный порог игры 4+, и, к тому же, она уже умеет читать, так что опыта упрощения игры для начинающих у меня в этот раз нет, но есть некоторые соображения.
          a(href="#link").btn.btn-transparent.btn-more Перейти к обзору
        .item
          span.title: a(href="#link") Первые впечатления о «Зверобуквах» и варианты игры для самых маленьких
          p.description Не буду описывать базовый процесс игры, он и так внятно изложен в правилах, расскажу о своих впечатлениях и вариациях. Первый раз Аня превысила минимальный порог игры 4+, и, к тому же, она уже умеет читать, так что опыта упрощения игры для начинающих у меня в этот раз нет, но есть некоторые соображения.
          a(href="#link").btn.btn-transparent.btn-more Перейти к обзору
        .item
          span.title: a(href="#link") Первые впечатления о «Зверобуквах» и варианты игры для самых маленьких
          p.description Не буду описывать базовый процесс игры, он и так внятно изложен в правилах, расскажу о своих впечатлениях и вариациях. Первый раз Аня превысила минимальный порог игры 4+, и, к тому же, она уже умеет читать, так что опыта упрощения игры для начинающих у меня в этот раз нет, но есть некоторые соображения.
          a(href="#link").btn.btn-transparent.btn-more Перейти к обзору
        .item
          span.title: a(href="#link") Первые впечатления о «Зверобуквах» и варианты игры для самых маленьких
          p.description Не буду описывать базовый процесс игры, он и так внятно изложен в правилах, расскажу о своих впечатлениях и вариациях. Первый раз Аня превысила минимальный порог игры 4+, и, к тому же, она уже умеет читать, так что опыта упрощения игры для начинающих у меня в этот раз нет, но есть некоторые соображения.
          a(href="#link").btn.btn-transparent.btn-more Перейти к обзору

      include ../../components/_pagination


    li.tab-content(data-tab="videos")
      .row.videos-box
        .col.col-xs-12.col-sm-6
          iframe(style='width:100%;height:217px', src='//www.youtube.com/embed/mGUK1jb_KZA?wmode=transparent&enablejsapi=1', allowfullscreen='')
          span.name Отзывы специалистов по игровой педагогике о "Банде умников"

        .col.col-xs-12.col-sm-6
          iframe(style='width:100%;height:217px', src='//www.youtube.com/embed/mGUK1jb_KZA?wmode=transparent&enablejsapi=1', allowfullscreen='')
          span.name Отзывы специалистов по игровой педагогике о "Банде умников"

        .col.col-xs-12.col-sm-6
          iframe(style='width:100%;height:217px', src='//www.youtube.com/embed/mGUK1jb_KZA?wmode=transparent&enablejsapi=1', allowfullscreen='')
          span.name Отзывы специалистов по игровой педагогике о "Банде умников"

        .col.col-xs-12.col-sm-6
          iframe(style='width:100%;height:217px', src='//www.youtube.com/embed/mGUK1jb_KZA?wmode=transparent&enablejsapi=1', allowfullscreen='')
          span.name Отзывы специалистов по игровой педагогике о "Банде умников"

      include ../../components/_pagination
