.sidebar-block.-add-comment.-hidden-sm
  a(href="#link", title="Добавить отзыв").btn.btn-outline-blue Добавить отзыв

.sidebar-block.-appeal
  a(href="#link").appeal-header
    img(src="images/demo/zvero.png", alt="alt")
    span.title Зверобуквы

  .appeal-main
    p.description Учиться считать, складывать и сравнивать числа со скоростью света – легко!
    p.price 450 ₽

  .appeal-footer
    button.btn.btn-yellow В корзину
    button.btn.btn-yellow Быстрый заказ



include ../../components/_appeal

.it-widget.-hidden-sm#vk_groups
script(type="text/javascript", src="//vk.com/js/api/openapi.js?121")
script(type="text/javascript").
  VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "400", color1: "FFFFFF", color2: "4A7099", color3: "4CB5C7"}, 47568728);

.it-widget.-hidden-sm.-facebook
  img(src="images/demo/fb.png", alt="")

.it-widget.-hidden-sm.instargramgram
  .instagram-logo
    a(target="_blank" rel="nofollow" href="https://instagram.com/bandaumnikov/")
      img(src="images/insta-logo.png", alt="alt")
    a(target="_blank" rel="nofollow" href="https://instagram.com/bandaumnikov/").name @bandaumnikov
