.c-basket
  table.table.-blue
    thead.basket-header: tr
      th
      th Название
      th Цена
      th.col-count Количество
      th.col-summary Стоимость
      th
    tbody.basket-main.-basket#basketMain
      each item in _products.product
        // .-invalid
        tr(data-product-id="123")
          td.col-image: a(href="#link"): img(src="images/demo/#{item.image}", alt="")
          td.col-description
            a(href="#link").name=item.name
            p.text.-hidden-sm=item.description
          td.col-price
            p.current 1 500 ₽
            p.old.-hidden-sm 8 630 ₽
            p.description.-hidden-sm (Цена без скидки)
          td.col-counter
            .counter
              button(type="button").btn.btn-transparent.btn-step-down
              .current-count 1
              button(type="button").btn.btn-transparent.btn-step-up
          td.col-summary.-hidden-sm: span.price-summary.items-price 7 630 ₽
          td.col-remove
            button.btn.btn-transparent.btn-remove(data-balloon="Удалить товар", data-balloon-pos="up", data-balloon-remove): span

  .basket-footer
    .promo
      .text
        span Ввести
        button.btn.btn-transparent.btn-promo(data-collapse, data-target="#promoCodeInput") код подарочного сертификата или промокод
        button.btn.btn-transparent.btn-help(data-balloon="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto nihil neque vitae amet ipsa veniam quod, commodi voluptatum! A quo praesentium labore quos distinctio velit accusantium perspiciatis iste error.", data-balloon-pos="up", data-balloon-promo) ?
      .input#promoCodeInput
        input(type="text", placeholder="Ввести код").form-control
        button.btn.btn-blue Ok

    .free-delivery
      p При заказе от 2500 ₽ бесплатная доставка. <br> Осталось добавить товаров на 1240 ₽
      button.btn.btn-transparent.btn-help(data-balloon="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto nihil neque vitae amet ipsa veniam quod, commodi voluptatum! A quo praesentium labore quos distinctio velit accusantium perspiciatis iste error.", data-balloon-pos="up", data-balloon-promo) ?

    .summary-price
      p.no-discount-price Сумма без скидки: 972 ₽
      p.discount-price Скидка: 185 ₽
      p.total Итого: #[span.total-price 972 ₽]

    .order-info
      .inner
        include ./_order-info

    .order-action
      a(href="#link", data-toggle="modal", data-target="#formFastBuy").btn.btn-green.btn-fast Быстрый заказ
      a(href="#link", title="title").btn.btn-green.btn-next.btn-next-step Далее

include ../../components/_modal-order
