.row.c-delivery
  .col.page-main
    include ./delivery/_forms

  aside#filter.page-sidebar.col.c-sidebar
    include ./delivery/_sidebar

  .col.col-xs-12.order-next
    a(href="#link", title="title").btn.btn-green.btn-next.btn-next-step Далее
