.area.-sm.-md.-lg
  .row
    include ../../components/_breadcrumb

main.site-main
  .area.-sm.-md.-lg
    .row
      .page-heading
        h1.title Оформление заказа
        a(href="#", title="title").btn.btn-go-back.-hidden-sm Вернуться в каталог

      .page-main
        .c-tabs.-basket#basketWizard
          .tab-heading
            span.-hidden-sm Мой заказ
            span.-hidden-xs Заказ
          .tab-content: include ./_basket

          .tab-heading
            span.-hidden-sm Способ доставки
            span.-hidden-xs Доставка
          .tab-content: include ./_delivery

          .tab-heading
            span.-hidden-sm Оплата
            span.-hidden-xs Оплата
          .tab-content: include ./_payment
