.row.c-payment
  .col.page-main
    include ./payment/_payment

  aside#filter.page-sidebar.col.c-sidebar
    include ./payment/_sidebar

  .col.col-xs-12.order-next
    a(href="#link", title="title").btn.btn-green.btn-next.btn-finish-step Оплатить
