p.-fs-middle Присоединяйтесь к нам прямо сейчас. Вместе мы сделаем обучение детей интересным и увлекательным!

.c-cooperation
  .cooperation-content
    .col.col-sx-12.cooperation-item
      .image-box: img(src="images/cooperation-shops.png", alt="alt")
      a(href="#link").title ТОРГОВЫЕ СЕТИ И МАГАЗИНЫ
      p.description Расширьте свой ассортимент новыми интересными играми на выгодных коммерческих условиях. Действует специальное предложение на «Стартовый набор партнера»!

    .col.col-sx-12.cooperation-item
      .image-box: img(src="images/cooperation-committees.png", alt="alt")
      a(href="#link").title ЧАСТНЫЙ ОПТ И РОДИТЕЛЬСКИЕ КОМИТЕТЫ
      p.description Интересует скидка за большой заказ или ищите хороший подарок в класс или садик? Игры Банды умников отличный баланс между стоимостью и впечатлениями детей!

    .col.col-sx-12.cooperation-item
      .image-box: img(src="images/cooperation-activities.png", alt="alt")
      a(href="#link").title РАЗВИВАЮЩИЕ ЦЕНТРЫ И ОРГАНИЗАТОРЫ МЕРОПРИЯТИЙ
      p.description Включите наши игры в свои образовательные программы или мероприятия. Мы с удовольствием вас поддержим!

p.-fs-middle Если у вас есть какое-то другое предложение мы будем рады его получить от вас

button.btn.btn-outline-blue(data-toggle="modal", data-target="#formUserCooperation", type="button") Отправить предложение

.c-modal.-forms#formUserCooperation(aria-hidden="true", role="dialog", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h3.title Запрос на партнерскую программу
        button(data-dismiss="modal", type="button", aria-label="Close").btn.btn-transparent.close
          span(aria-hidden="true").close-icon
      .modal-body
        form(data-form-sender, data-form-type="alertBefore")
          table.forms
            tr
              td
              td
            tr
              td ФИО
              td
                input.form-control(type='text', placeholder='ФИО')
            tr
              td E-mail
              td
                input.form-control(type='email', placeholder='E-mail')
            tr
              td.vertical_top Текст сообщения
              td
                textarea(rows="6").form-control
            tr
              td
              td: .form-checkbox: label
                input(type='checkbox')
                span.label-text Я не робот
            tr
              td
              td
                button.btn.btn-green Отправить
