.area.-sm.-md.-lg
  .row
    include ../../components/_breadcrumb

main.site-main
  .area.-sm.-md.-lg
    .row
      .page-heading
        h1.title Партнёрам

      section.col.page-main
        include ./_info

      aside.col.page-sidebar.c-sidebar.-hidden-sm
        include ./_sidebar
