ul.sidebar-block.-menu
  li: a(href="#link") Игровой подход к обучению
  li: a(href="#link") Контакты
  li: a(href="#link") Где купить
  li: a(href="#link").-active Партнёрам
  li: ul
    li: a(href="#link") Торговые сети и магазины
    li: a(href="#link") Частный опт и родительские комитеты
    li: a(href="#link") Развивающие центры и организаторы мероприятий
  li: a(href="#link") Вакансии

include ../../components/_appeal

.it-widget#vk_groups
script(type="text/javascript", src="//vk.com/js/api/openapi.js?121")
script(type="text/javascript").
  VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "400", color1: "FFFFFF", color2: "4A7099", color3: "4CB5C7"}, 47568728);

.it-widget.-facebook
  img(src="images/demo/fb.png", alt="")

.it-widget.instargramgram
  .instagram-logo
    a(target="_blank" rel="nofollow" href="https://instagram.com/bandaumnikov/")
      img(src="images/insta-logo.png", alt="alt")
    a(target="_blank" rel="nofollow" href="https://instagram.com/bandaumnikov/").name @bandaumnikov
