// buy page
.page-buy {
  .c-place-list {
    @media (min-width: $grid-breakpoint-sm) {
      margin-left: -10px;
      margin-right: -10px;
    }

    @media (min-width: $grid-breakpoint-lg) {
      .shops {
        padding-left: 115px;
      }

      .distributors {
        padding-right: 115px;
      }
    }
  }

  @media (max-width: ($grid-breakpoint-sm - 1)) {
    &.-tab-shops {
      .shops {
        display: block;
      }
      .distributors {
        display: none;
      }
    }

    &.-tab-distributors {
      .shops {
        display: none;
      }
      .distributors {
        display: block;
      }
    }
  }

  @media (min-width: $grid-breakpoint-sm) {
    .place-header {
      display: none;
    }
  }

  .site-footer {
    margin-top: 50px;
    border-top: 1px solid #d3d3d3;
  }
}
