// cart page
.page-cart {
  .c-basket {
    @media (min-width: $grid-breakpoint-sm) {
      margin-top: 30px;
    }
  }

  .order-next {
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $grid-breakpoint-sm) {
      margin-bottom: 50px;
      padding: 30px;
      background-color: #f6f6f6;
    }

    .btn {
      padding: .4em 3em;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .site-footer {
    padding-top: 15px;
    border-top: 1px solid #d1d1d1;
  }
}
