.page-catalog {
  .c-breadcrumb {
    padding-bottom: 20px;
  }

  .c-sidebar {
    margin-top: -10px;
  }

  .catalog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 20px 0 20px;
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: $grid-breakpoint-sm) {
      margin-top: 0;
      margin-bottom: 31px;
      padding-left: 0;
      padding-right: 0;
    }

    & > .title {
      font-size: 2.1rem;
      font-weight: 300;
      margin-bottom: 0;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 3.6rem;
      }
    }

    & > .filter {
      display: block;
      padding: 16px 15px 15px;
      border-radius: 50%;
      content: "";
      z-index: 110;

      @media (min-width: $grid-breakpoint-sm) {
        display: none;
      }

      & > .icon {
        display: block;
        content: "";

        &.-filter {
          @include icon-filter;
        }
      }

      &.-fixed {
        position: fixed;
        bottom: 10px;
        right: 10px;
        visibility: hidden;
        opacity: 0;

        &.-on {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .site-footer {
    padding-top: 15px;
    border-top: 1px solid #d1d1d1;
  }
}
