// contacts page
.page-contacts {
  @media (min-width: $grid-breakpoint-sm) and (max-width: ($grid-breakpoint-md - 1)) {
    .site-main > .area > .row {
      flex-direction: column;

      .col {
        min-height: auto;
      }
    }

    .page-main {
      padding-right: 0;
    }

    .page-sidebar {
      flex-basis: 100%;
      max-width: 100%;
      padding-left: 0;
    }

    .c-sidebar .sidebar-block.-contacts-buttons .list {
      margin-bottom: 0;
      margin-right: 2em;

      .btn-vk {
        margin-right: 1em;
      }
    }
  }
}
