// order page
.page-order {
  .site-main {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f1f1f1;

    @media (min-width: $grid-breakpoint-sm) {
      padding-top: 200px;
    }
  }

  .site-main .info-box {
    padding: 30px 10px;
    background-color: #fff;

    @media (min-width: $grid-breakpoint-sm) {
      padding: 30px;
    }

    &::before {
      position: absolute;
      top: 21px;
      left: 50%;
      display: none;
      width: 200px;
      height: 193px;
      margin-left: -100px;
      background: url("../images/animal-fox.png") no-repeat center bottom;
      content: "";

      @media (min-width: $grid-breakpoint-sm) {
        display: block;
      }
    }
  }

  .order-header {
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;

    & > .title {
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
    }
  }

  .order-title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;

    @media (min-width: $grid-breakpoint-sm) {
      font-size: 3.6rem;
    }
  }



  .c-basket {
    margin-right: -10px;
    margin-left: -10px;

    .table {
      margin-bottom: 0;
    }

    th,
    td {
      @media (min-width: $grid-breakpoint-sm) {
        padding-left: 20px !important;
      }
    }

    .current-count {
      width: auto !important;
    }

    .total {
      border-bottom: 0;
      text-align: right;
      font-size: 1.8rem;

      @media (min-width: $grid-breakpoint-sm) {
        font-size: 2.4rem;
      }

      p {
        margin-bottom: 0;

        @media (min-width: $grid-breakpoint-sm) {
          margin-right: 6.3%;
        }

        @media (min-width: $grid-breakpoint-md) {
          margin-right: 8.7%;
        }
      }

      .price {
        font-weight: 700;
      }
    }

    .summary {
      border-bottom: 0;
      background: url("../images/slider-product-bg-small.png") repeat-x left top;
      color: #fff;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
    }
  }

  .c-social-appeal {
    @media (max-width: ($grid-breakpoint-sm - 1)) {
      padding-top: 0;
      background-color: #fff;
    }
  }

  .site-footer {
    padding-top: 15px;
    border-top: 1px solid #d1d1d1;
  }
}
