// partners page
.page-partners {
  .page-heading {
    margin-bottom: 34px;
  }

  .c-cooperation {
    padding: 0;
    background-color: #fff;
  }

  .c-cooperation .cooperation-item {
    margin-bottom: 20px;
    padding: 30px;
    background-color: #f6f6f6;

    @media (min-width: $grid-breakpoint-sm) {
      @include clearfix;
      display: block;
    }

    .image-box {
      top: 30px;

      @media (min-width: $grid-breakpoint-sm) {
        top: 0;
        float: left;
        margin: 8px 30px 0 0;

        img {
          max-width: 72px;
        }
      }
    }

    .title {
      @media (min-width: $grid-breakpoint-sm) {
        display: block;
        margin-bottom: .5em;
      }
    }

    .description {
      @media (min-width: $grid-breakpoint-sm) {
        margin-bottom: 0;
        margin-left: 103px;
      }
    }
  }

  .site-footer {
    margin-top: 30px;
  }
}
