// product page
.page-product {
  .c-sidebar {
    display: none;

    @media (min-width: $grid-breakpoint-sm) {
      display: block;
    }
  }

  &.-tab-game {
    .c-sidebar,
    .product-header {
      display: block;
    }

    .c-sidebar .sidebar-block.-rules,
    .c-sidebar .sidebar-block.-video {
      display: none;

      @media (min-width: $grid-breakpoint-sm) {
        display: block;
      }
    }

    .buy-box {
      display: none;
    }
  }

  &.-tab-rules {
    .c-sidebar {
      display: block;
    }

    .c-sidebar .sidebar-block.-product {
      display: none;

      @media (min-width: $grid-breakpoint-sm) {
        display: block;
      }
    }
  }

  &.-tab-buy {
    .buy-box {
      display: none;
    }
  }

  .buy-box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background: url("../images/pattern-green.png") repeat top left;

    @media (min-width: $grid-breakpoint-sm) {
      display: none;
    }

    & > .btn {
      font-size: 1.2rem;
      font-weight: 600;

      &:hover,
      &:focus {
        border-color: #fff;
        background-color: #fff;
        color: $body-color;
      }
    }

    & > .btn-buy {
      margin-right: 15px;
      padding: .85em 1.5em;
    }

    & > .btn-fast {
      padding: .85em .5em;
      border-color: #fff;
      color: #fff;
    }
  }

  .site-footer {
    border-top: 1px solid #d1d1d1;

    .area {
      max-width: 970px;
    }
  }
}
