// reviews page
.page-reviews {
  .reviews .review {
    padding-top: 30px;
    padding-bottom: 30px;

    blockquote {
      margin-bottom: 1em;
      padding-left: 0;

      &::before {
        display: none;
      }

      p::after {
        display: none;
      }
    }

    .author {
      margin-top: 1em;
      margin-left: 0;
    }
  }

  .reviews-box,
  .videos-box {
    margin-top: 30px;
  }

  .videos-box {
    & > .col > .name {
      display: block;
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 1.7rem;
      font-weight: 700;
    }
  }
}
