// shipping page
.page-shipping {
  .c-sidebar {
    display: none;

    @media (min-width: $grid-breakpoint-sm) {
      display: block;
      flex-basis: 233px;
    }
  }



  .c-tabs .tabs-content .tab-content {
    margin-top: 30px;
  }
}
