footer.site-footer
  .footer-info.-hidden-xs
    p © Банда умников 2012 – 2016
    p Развивающие настольные игры для детей

  if page.footerAnimal
    .animal-box.-hidden-sm
      .area.-sm.-md.-lg: .row
        img.animal-image(src="images/animal.png", alt="Зверь")

  .area.-sm.-md.-lg.-hidden-sm
    .footer-navbar
      ul.navbar-list
        li: a(href="#link", title="title") Каталог игр
        li: a(href="#link", title="title") Доставка и оплата
        li: a(href="#link", title="title") Контакты

    .row.-hidden-sm
      .col.col-sm-8
        .row
          .col.col-sm-6.footer-info
            p © Банда умников 2012 – 2016
            p Развивающие настольные игры для детей
            p.-fs-small: a(href="#link", title="Правила использования сайта") Правила использования сайта
            p.-fs-small: a(href="#link", title="Соглашения на обработку персональных данных") Соглашения на обработку персональных данных
          .col.col-sm-5.footer-info
            p=_phones.list[0]
            p=_phones.list[1]
            br
            p: a(href="mailto:info@bandaumnikov.ru", title="info@bandaumnikov.ru")=_address.email
        .footer-navbar.-no-uppercase.-font-semibold
          ul.navbar-list
            li: a(href="#link", title="title") Карта сайта
            li: a(href="#link", title="title") Мобильная версия
        .footer-info
          img(src="images/pay.png", alt="Методы оплаты").footer-payment

      .col.col-sm-4.footer-info
        p Мы вам понравились?
        p Расскажите о нас своим друзьям:
        .footer-social
          .social-item.facebook
            img(src="images/demo/social-fb.png", alt="alt")
          .social-item.-odnk
            img(src="images/demo/social-odnk.png", alt="alt")
          .social-item.vkontakte
            img(src="images/demo/social-vk.png", alt="alt")
          .footer-info
            p: a(href="http://14agency.ru/", target="_blank") Проектирование и дизайн: 14agency

// Scripts
// inject:js
// endinject
script(src="scripts/scripts.bundle.js")
