meta(charset="UTF-8")
title #{page.title}

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="#{page.description}")

// Service information
meta(name="author", content="humans.txt")

// Open Graph
meta(property="og:type", content="website")
meta(property="og:title", content="Заголовок страницы")
meta(property="og:description", content="Описание страницы")
meta(property="og:url", content="URL страницы")
meta(property="og:site_name", content="Название сайта")
meta(property="og:image", content="адрес изображения")

// Android
meta(name="mobile-web-app-capable", content="yes")
meta(name="theme-color", content="#f6cf48")
link(type="image/png", href="images/touch/android-chrome-192x192.png", rel="icon", sizes="192x192")

// iOS
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content="#{page.appTitle}")
link(href="images/touch/apple-touch-icon.png", rel="apple-touch-icon")

// Windows 8 Tile
meta(name="msapplication-TileColor", content="#f6cf48")
meta(name="msapplication-TileImage", content="images/touch/mstile-144x144.png")

// Standard
link(type="image/png", href="images/touch/favicon.png", rel="icon", sizes="128x128")

// Styles
// bower:css
// endbower
// inject:css
// endinject
link(href="styles/styles.css?05052016", rel="stylesheet")

// Yandex maps
// script(type="text/javascript", src="https://api-maps.yandex.ru/1.1/index.xml")
