.area.-sm.-md.-lg
  .row
    include ../../components/_breadcrumb

main.site-main
  .area.-sm.-md.-lg
    .row
      .page-heading
        h1.title  Личный кабинет

        .alert.-success Настройки успешно обновлены

      .page-main.c-cabinet.-one
        .c-tabs.-center(data-tabs-controller)
          .tabs-navbar: ul.tabs-navigation
            li: a(data-tab="orders", href="#0").-active Мои заказы
            li: a(data-tab="profile", href="#1") Профайл

          ul.tabs-content
            li.tab-content(data-tab="orders").-active
              include ./_orders
            li.tab-content(data-tab="profile")
              include ./_profile
