.order-header(data-collapse, data-target="#order-0")
  button.btn.btn-order Заказ №3
  .badge.-red Оплачивается
.order-body#order-0
  table.table.-info: tbody
    tr
      td Заказ:
      td №1660 от 16.09.2014
    tr
      td ФИО покупателя:
      td Иван Иванович Иванов, Тел: 8 499 343 55 44
    tr
      td Контакты получателя:
      td Иван Иванович Иванов, Тел: 8 499 343 55 44
    tr
      td Тип доставки и адрес:
      td Самовывоз, Москва, Ивановсе ш. 43
    tr
      td Способ оплаты:
      td Наличными в пункте самовывоза

  h3.order-composition Состав заказа

  table.table.-blue.-orders
    thead: tr
      th Игра
      th Цена
      th Количество
      th Сумма
    tbody
      tr
        td: a(href="#link", title="title") Цветариум
        td 1 500 #[span ₽]
        td 1
        td 1 500 #[span ₽]
      tr
        td: a(href="#link", title="title") Цветариум
        td 1 500 #[span ₽]
        td 1
        td 1 500 #[span ₽]
    tfoot
      tr: td(colspan="4") #[span Всего:] 890 #[span ₽]
      tr: td(colspan="4") #[span Стоимость доставки:] 0 #[span ₽]

  .price-summary
    p Итого: 890 #[span ₽]

.order-header(data-collapse, data-target="#order-1")
  button.btn.btn-order Заказ №2147
  .badge.-blue Доставляется
.order-body#order-1
  table.table.-info: tbody
    tr
      td Заказ:
      td №1660 от 16.09.2014
    tr
      td ФИО покупателя:
      td Иван Иванович Иванов, Тел: 8 499 343 55 44
    tr
      td Контакты получателя:
      td Иван Иванович Иванов, Тел: 8 499 343 55 44
    tr
      td Тип доставки и адрес:
      td Самовывоз, Москва, Ивановсе ш. 43
    tr
      td Способ оплаты:
      td Наличными в пункте самовывоза

  table.table.-blue.-orders
    thead: tr
      th Игра
      th Цена
      th Количество
      th Сумма
    tbody
      tr
        td: a(href="#link", title="title") Цветариум
        td 1 500 #[span ₽]
        td 1
        td 1 500 #[span ₽]
      tr
        td: a(href="#link", title="title") Цветариум
        td 1 500 #[span ₽]
        td 1
        td 1 500 #[span ₽]
    tfoot
      tr: td(colspan="4") #[span Всего:] 890 #[span ₽]
      tr: td(colspan="4") #[span Стоимость доставки:] 0 #[span ₽]

  .price-summary
    p Итого: 890 #[span ₽]

.order-appeal.-hidden-xs
  include ../../components/_appeal
