form.cabinet-form-table
  table.forms
    tr.-section-title
      td Контактные данные
      td
    tr
      td Имя:
      td: input(type="text", value="Артем").form-control
    tr
      td Фамилия:
      td: input(type="text", value="Кихтенко").form-control
    tr
      td Отчество:
      td: input(type="text").form-control
    tr
      td Телефон:
      td: input(type="phone").form-control
    tr
      td E-Mail:
      td: input(type="email", value="artemka81@gmail.com").form-control



    tr.-section-title
      td Адрес доставки
      td
    tr
      td Страна:
      td
        input(type="text", name="country", placeholder="Страна", data-json-list="#countryList", required).form-control.c-awesomplete#countrySelector
        #countryList.c-awesomplete-list
          | [{"label":"Russia","value":"ru"},{"label":"United States","value":"us"},{"label":"Chinaia","value":"cn"}]
    tr
      td Город:
      td: input(type="text", value="Кировск").form-control
    tr
      td Улица:
      td: input(type="text", placeholder="Улица").form-control
    tr
      td № дома / № кв. / Индекс:
      td: .-inline-inputs
        input(type="text", placeholder="№ дома").form-control
        input(type="text", placeholder="№ кв.").form-control
        input(type="text", placeholder="Индекс").form-control
    tr
      td
      td.-map
        // script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=J1LQ0K8V57SPynqi91MuRMjf5yu4L0Ny&width=100%25&height=100%25&lang=ru_RU&sourceType=mymaps&scroll=true')
    tr
      td Привязать соц. сети
      td.-social
        p.-hidden-sm Вы можете связать свой профиль с профилями в социальных сетях и сервисах:
        .c-social-icons: .social-list
          a(href="#link").social-item.facebook.-signout
            .icon
            img(src="https://psv4.vk.me/c812531/u2000039766/docs/e8c7302ee914/file.jpg?extra=6Tq43OdhzNhUy7mZyPFb4MsoTBsLPdh2By2z6Cc_MlF5c0Yc4pEyP3BGbUyrztTGJ24omOjAnu9aheZf0WsfCLjxBJI8ziX-nHnoyvY7e1RRkTfCJReh4DBu")
          a(href="#link").social-item.vkontakte



    tr.-section-title
      td Пароль
      td
    tr
      td Старый пароль:
      td: input(type="password", placeholder="Старый пароль").form-control
    tr
      td Новый пароль:
      td: input(type="password", placeholder="Пароль должен быть не менее 6 символов длиной").form-control
    tr
      td Подтверждение нового пароля:
      td: input(type="password", placeholder="Подтверждение нового пароля").form-control



    tr.-space
      td
      td
    tr
      td
      td.-text-center: button.btn.btn-green.btn-save Сохранить
