// Buttons

// Color
@mixin btn-color($bg, $color, $border: transparent, $active-bg: darken($bg, 10%), $active-color: $color, $active-border: darken($border, 10%)) {
  color: $color;
  background-color: $bg;
  border-color: $border;

  &.active,
  &:hover {
    color: $active-color;
    background-color: $active-bg;
    border-color: $active-border;
  }
}
