include ../../../mixins/_map

form.delivery-form#deliveryForm
  .tab-user-new
    p Укажите страну и город, где будет происходить получение
    .form-inline
      .form-group
        input(type="text", name="country", placeholder="Страна", data-json-list="#countryList", required).form-control.c-awesomplete#countrySelector
        #countryList.c-awesomplete-list
          | [{"label":"Russia","value":"ru"},{"label":"United States","value":"us"},{"label":"Chinaia","value":"cn"}]
      .form-group
        input(type="text", name="city", placeholder="Город", required).form-control

    .form-inline.delivery-id-list
      .form-radio: label
        input(type="radio", name="delivery_id", checked, data-collapse, data-target="#courier", data-no-prevent, data-hide="#pickup, #mail", data-only-add)
        span.label-text
          span.title Курьер до вашей <br> двери
          span.price Стоимость 305 ₽
          span.time Срок доставки: 2-4 дней
      .form-radio: label
        input(type="radio", name="delivery_id", data-collapse, data-target="#pickup", data-no-prevent, data-hide="#courier, #mail", data-only-add)
        span.label-text
          span.title Пункты <br> самовывоза
          span.price Стоимость 165 ₽
          span.time Срок доставки: 2-4 дней
      .form-radio: label
        input(type="radio", name="delivery_id", data-collapse, data-target="#mail", data-no-prevent, data-hide="#courier, #pickup", data-only-add)
        span.label-text
          span.title Почта <br> России
          span.price Стоимость 165 ₽
          span.time Срок доставки: 2-4 дней



  .address-box.toggle-control#courier
    .address-header
      span.title Адрес доставки

    .form-inline
      .form-group.street
        input(type="text", placeholder="Улица").form-control
      .form-group.home
        input(type="text", placeholder="№ дома", data-no-required).form-control
      .form-group.apartment
        input(type="text", placeholder="№ кв./офис").form-control

    +map("courier")

    button.btn.btn-transparent(data-collapse, data-target="#courierComment")
      span.show Добавить комментарий к заказу
      span.hide Скрыть комментарий к заказу
    textarea(rows="3").form-control.order-comment#courierComment



  .pickup-box.toggle-control.-hidden#pickup
    +map("pickup")

    .address-table
      .thead
        .item.col-address Адрес
        .item.col-time Срок (дней)
        .item.col-price Стоимость доставки
      .tbody
        .item.form-radio: label
          input(type="radio", name="pickup_id")
          span.label-text
            span.col-address Москва, МО, г. Щербинка, ул. Лермонтова, д.34 <br> +7 (495) 649-89-41 <br> пн-пт 10-20 <br>  Cамовывоз день в день из офиса «Банды Умников»
            span.col-time #[span.-hidden-xs Срок, дней:] Можно забрать сегодня
            span.col-price #[span.-hidden-xs Стоимость доставки:] Бесплатно
        .item.form-radio: label
          input(type="radio", name="pickup_id")
          span.label-text
            span.col-address УЛ. КАРГОПОЛЬСКАЯ, д.13, корп 1 <br> +7 (499) 201-14-53<br> пн-пт 10-19, сб 11-17<br> 5-7 минут ходьбы от станции метро Отрадное, рядом с магазином Седьмой континент
            span.col-time #[span.-hidden-xs Срок, дней:] 2-3
            span.col-price #[span.-hidden-xs Стоимость доставки:] 250 ₽
        .item.form-radio: label
          input(type="radio", name="pickup_id", checked)
          span.label-text
            span.col-address Москва, МО, г. Щербинка, ул. Лермонтова, д.34 <br> +7 (495) 649-89-41 <br> пн-пт 10-20 <br>  Cамовывоз день в день из офиса «Банды Умников»
            span.col-time #[span.-hidden-xs Срок, дней:] Можно забрать сегодня
            span.col-price #[span.-hidden-xs Стоимость доставки:] Бесплатно
        .item.form-radio: label
          input(type="radio", name="pickup_id")
          span.label-text
            span.col-address УЛ. КАРГОПОЛЬСКАЯ, д.13, корп 1 <br> +7 (499) 201-14-53<br> пн-пт 10-19, сб 11-17<br> 5-7 минут ходьбы от станции метро Отрадное, рядом с магазином Седьмой континент
            span.col-time #[span.-hidden-xs Срок, дней:] 2-3
            span.col-price #[span.-hidden-xs Стоимость доставки:] 250 ₽
        .item.form-radio: label
          input(type="radio", name="pickup_id")
          span.label-text
            span.col-address Москва, МО, г. Щербинка, ул. Лермонтова, д.34 <br> +7 (495) 649-89-41 <br> пн-пт 10-20 <br>  Cамовывоз день в день из офиса «Банды Умников»
            span.col-time #[span.-hidden-xs Срок, дней:] Можно забрать сегодня
            span.col-price #[span.-hidden-xs Стоимость доставки:] Бесплатно
        .items-hidden#moreAddresses
          .item.form-radio: label
            input(type="radio", name="pickup_id")
            span.label-text
              span.col-address Москва, МО, г. Щербинка, ул. Лермонтова, д.34 <br> +7 (495) 649-89-41 <br> пн-пт 10-20 <br>  Cамовывоз день в день из офиса «Банды Умников»
              span.col-time #[span.-hidden-xs Срок, дней:] Можно забрать сегодня
              span.col-price #[span.-hidden-xs Стоимость доставки:] Бесплатно
        button(type="button", data-collapse, data-target="#moreAddresses").btn.btn-blue.btn-items-more Отобразить все адреса



  .address-box.toggle-control.-hidden#mail
    .address-header
      span.title Адрес доставки

    .form-inline
      .form-group.street
        input(type="text", placeholder="Улица").form-control
      .form-group.home
        input(type="text", placeholder="№ дома").form-control
      .form-group.apartment
        input(type="text", placeholder="№ кв./офис").form-control
      .form-group.apartment
        input(type="text", placeholder="Индекс").form-control

    +map("mail")

    button.btn.btn-transparent(data-collapse, data-target="#mailComment")
      span.show Добавить комментарий к заказу
      span.hide Скрыть комментарий к заказу
    textarea(rows="3").form-control.order-comment#mailComment



  .contact-info
    .info-header
      span.title Контактные данные

    .form-info#mainRecipient
      .inputs
        .form-group.-width-50
          input(type="text", placeholder="Имя").form-control
        .form-group.-width-50
          input(type="text", placeholder="Фамилия").form-control
        .form-group.-width-50
          input(type="text", placeholder="E-mail").form-control
          span Сюда вам придет подтверждение заказа
        .form-group.-width-50
          input(type="text", placeholder="Телефон").form-control
          span По этому номеру вам будет звонить оператор
        button.btn.btn-transparent(data-collapse, data-target="#orderRecipient")
          span.show Получает другой человек
          span.hide Получать буду Я

    .form-info.-recipient#orderRecipient
      .info-header
        span.title Получатель
        span.description Если вы оформляете доставку на другого человека, пожалуйста, укажите все его данные

      .inputs
        .form-inline
          .form-group.-width-33
            input(type="text", placeholder="Имя").form-control
          .form-group.-width-33
            input(type="text", placeholder="Фамилия").form-control
          .form-group.-width-33
            input(type="text", placeholder="Отчество").form-control
        .form-group
          input(type="text", placeholder="Телефон").form-control
          span По этому номеру вам будет звонить оператор

form(name="form_login", id="form_login", data-url="URL_TO_AJAX")
form(name="form_forget", id="form_forget", data-url="URL_TO_AJAX")
