form.sidebar-block.-login.-hidden-sm
  .box
    span.block-title #[b Войти] в личный кабинет
    .form-login
      .form-group
        input(type="text", placeholder="E-mail или телефон").form-control
      .form-group
        input(type="text", placeholder="Пароль").form-control
      a.forget(href="#link", data-collapse, data-target="#sidebarForget") Забыли пароль?
      button.btn.btn-blue Войти
    //- Форма для забытого пароля
    .box.form-login.-forget#sidebarForget
      .form-group
        label Введите адрес электронной почты, который указывали при регистрации.
        input(type="text", form="form_login", placeholder="E-mail").form-control
      button(form="form_login").btn.btn-green Выслать
      p: a(href="#forget", data-collapse, data-target="#sidebarForget") Авторизироваться

  .box.-border
    p.description Войдите через удобную соц. сеть
    .c-social-icons: .social-list
      a(href="#ink", title="title").social-item.facebook
      a(href="#ink", title="title").social-item.vkontakte


.sidebar-block.-order
  .box.-order
    span.block-title Мой заказ
    a(href="#hef", title="title").edit-order Изменить

    ul.order-list
      li Турбосчёт — 1 шт.

    p.right-text 450 ₽

  .box.-deliver
    span.block-title  Доставка:
    p.right-text.-no-margin Курьер до вашей двери
    p.right-text.-no-margin Москва
    p.right-text.delivery-price 295 ₽

  .box.-weight
    p.right-text Вес: #[span.total-weight 0.14] кг

  .box.-total
    p.total-text Итоговая сумма
    span.total-price 745 ₽
