.c-map
  .map-box
    // script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=J1LQ0K8V57SPynqi91MuRMjf5yu4L0Ny&width=100%25&height=100%25&lang=ru_RU&sourceType=mymaps&scroll=true')
    button.btn.btn-blue.map-lightbox(data-toggle="modal", data-target="#fullMap", type="button") Подробная карта

  .map-controlls
    .btn.btn-outline-blue
      .city-name Москва
      .city-address Адрес: Щербинка, ул. Лермонтова д. 34
      .city-phone Телефон: +7 (495) 649-89-41
    .btn.btn-outline-blue
      .city-name Санкт-Петербург
      .city-address Адрес: Аптекарский проспект, 4
      .city-phone Телефон: +7 (812) 332-54-02

.c-sales-offices
  .offices-list
    .office-item
      p.title Выгодное сотрудничество
      p.description Ищем толковых партнёров — свяжитесь с нами!
      p.link: a(href="mailto:hello@bandaumnikov.ru") hello@bandaumnikov.ru
    .office-item
      p.title Классная работа
      p.description Хотите к нам в «Банду»? Вот наши #[a(href="#link") вакансии]. Пишите!
      p.link: a(href="mailto:hello@bandaumnikov.ru") hr@bandaumnikov.ru
    .office-item
      p.title Важные вопросы
      p.description Есть вопросы или предложения — напишите нам!
      p.link: a(href="mailto:hello@bandaumnikov.ru") info@bandaumnikov.ru


.c-modal.-map#fullMap(aria-hidden="true", role="dialog", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-action
        button(data-dismiss="modal", type="button", aria-label="Close").btn.btn-transparent.close
          span(aria-hidden="true").close-icon
      .modal-body
        img(src="images/map-default.jpg", alt="alt")
