.sidebar-block.-contacts
  .contacts-block.-call
    p.name Позвонить
    p.phone 8 (800) 500-49-66
    p: small Бесплатный номер на территории России
  .contacts-block.-email
    p.name написать
    p.mail: a(href="mailto:hello@bandaumnikov.ru") hello@bandaumnikov.ru

.sidebar-block.-contacts-buttons
  .list
    a(href="#link").btn.btn-transparent.btn-vk
    a(href="#link").btn.btn-transparent.btn-fb

  button.btn.btn-yellow.btn-question(data-toggle="modal", data-target="#formContacts", type="button") Задать вопрос

.c-modal.-forms#formContacts(aria-hidden="true", role="dialog", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h3.title Контакты
        button(data-dismiss="modal", type="button", aria-label="Close").btn.btn-transparent.close
          span(aria-hidden="true").close-icon
      .modal-body
        form(data-form-sender, data-form-type="alertBefore")
          table.forms
            tr
              td
              td
            tr
              td ФИО
              td
                input.form-control(type='text', name="name", id="name", placeholder='ФИО')
            tr
              td E-mail
              td
                input.form-control(type='email', name="email", placeholder='E-mail')
            tr
              td.vertical_top Текст сообщения
              td
                textarea(rows="6", name="text").form-control
            tr
              td
              td: .form-checkbox: label
                input(type='checkbox')
                span.label-text Я не робот
            tr
              td
              td
                button.btn.btn-green Отправить
