// Global variables

// Colors
// ------------------------------------

// Brand colors
$yellow:                               #f0e524;
$blue:                                 #009de1;
$green:                                #7FA720;
$red:                                  #e80c0c;
$pink:                                 #c93196;
$brand-primary:                        #f6cf48;
$brand-secondary:                      #4c657e;

// Body colors
$body-bg:                              #fff;
$body-color:                           #1d1d1d;



// Base settings
// -------------------------------------

// Font family
$font-family-base:                     proxima, "Helvetica Neue", Arial, sans-serif;
$font-family-mono:                     Menlo, Monaco, Consolas, "Courier New", monospace;

// Font sizes
$font-size-root:                       10px;
$font-size-base:                       1.4rem;

// Common
$line-height:                          1.42857143;
$spacer:                               1em;
$global-radius:                        .15em;
$global-inline-radius:                 .2em;

// Links
$link-color:                           $yellow;
$link-hover-color:                     $body-color;

// Horizontal rule
$hr-border-width:                      1px;
$hr-border-color:                      #e5e5e5;



// Grid
// ------------------------------------

// Base
$grid-columns-count:                   12;
$grid-gutter-width:                    20px;

// Breakpoints
$grid-breakpoint-xs:                   540px;
$grid-breakpoint-sm:                   768px;
$grid-breakpoint-md:                   992px;
$grid-breakpoint-lg:                   1200px;

// Area width
$grid-area-sm:                         750px;
$grid-area-md:                         970px;
$grid-area-lg:                         1170px;



// Typography
// ------------------------------------
$headings-font-family:                 $font-family-base;
$headings-font-weight:                 500;
$headings-line-height:                 1.1;
$headings-color:                       inherit;

// Font sizes for headings
$font-size-title:                      5.4rem;
$font-size-h1:                         4.0rem;
$font-size-h2:                         3.2rem;
$font-size-h3:                         2.8rem;
$font-size-h4:                         2.4rem;
$font-size-h5:                         2.0rem;
$font-size-h6:                         1.6rem;

// Font size for the leading paragraph
$font-size-lead:                       2rem;

// Quotes
$blockquote-border-width:              4px;
$blockquote-border-color:              #ddd;
$blockquote-small-color:               #777;

$blockquote-full-border-width:         2px;

// Abbreviation
$abbr-border-color:                    #ddd;

// Code tag
$code-bg:                              #f7f2ed;
$code-color:                           #bd4147;

// Preformatted
$pre-bg:                               #fafafa;
$pre-color:                            $body-color;
$pre-border-width:                     4px;
$pre-border-color:                     #bd4147;

// Keyboard
$kbd-bg:                               #202020;
$kbd-color:                            #fff;

// Sample output
$samp-bg:                              #46a9fc;
$samp-color:                           #fff;

// Mark Element
$mark-bg:                              #ffd61e;
$mark-color:                           $body-color;



// Buttons
// ------------------------------------

$btn-font-size:                        $font-size-base;

// Paddings
$btn-padding-y:                        .5em;
$btn-padding-x:                        1em;

// Default button
$btn-default-bg:                       #fff;
$btn-default-color:                    $body-color;
$btn-default-border:                   darken($btn-default-bg, 5);

// Primary button
$btn-yellow-bg:                        $yellow;
$btn-yellow-color:                     #353b43;
$btn-yellow-border:                    $btn-yellow-bg;

// Secondary button
$btn-blue-bg:                          $blue;
$btn-blue-color:                       #fff;
$btn-blue-border:                      $btn-blue-bg;

$btn-green-bg:                         $green;
$btn-green-color:                      #fff;
$btn-green-border:                     $btn-green-bg;


// Forms
// ------------------------------------

// Breakpoint for inline form
$form-inline-breakpoint:               $grid-breakpoint-sm;

$form-input-font-size:                 $font-size-base;
$form-input-bg:                        #fff;
$form-input-color:                     $body-color;
$form-input-border-color:              #b0b0b0;
$form-input-active-border-color:       $blue;
$form-input-placeholder-color:         #999;

// Dimensions
$form-input-padding-y:                 .5em;
$form-input-padding-x:                 .8em;
$form-input-height:                    ($line-height +  (2 * $form-input-padding-y) + (2 / (strip-unit($form-input-font-size) * 10)));



// Tables
// ------------------------------------

// Base
$table-cell-padding:                   .75em;
$table-border-weight:                  1px;
$table-border-color:                   #eaeaea;

// Striped type
$table-striped-bg:                     #f9f9f9;
