extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: '404',
      title: '404 ошибка',
      appTitle: 'Yellfy',
      description: 'Your great description of page',
      footerAnimal: false
    }

block main
  include pages/404/_main

block footer
  include partials/_footer
