extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: 'buy',
      classes: '-tab-shops',
      title: 'Где купить игры «Банды Умников»?',
      appTitle: 'Yellfy',
      description: 'Your great description of page'
    }

block header
  header.site-header
    include partials/_header

block main
  include pages/buy/_main

block footer
  include partials/_footer
