extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: 'cart',
      classes: '',
      title: 'Корзина',
      appTitle: 'Yellfy',
      description: 'Your great description of page'
    }

block header
  header.site-header
    include partials/_header

block main
  include pages/cart/_main

block footer
  include partials/_footer
