extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: 'catalog',
      classes: '',
      title: 'Каталог',
      appTitle: 'Yellfy',
      description: 'Your great description of page',
      footerAnimal: false
    }

block header
  header.site-header
    include partials/_header

block main
  include pages/catalog/_main

block footer
  include partials/_footer
