extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: 'home',
      classes: '',
      title: 'Главная страница',
      appTitle: 'Yellfy',
      description: 'Your great description of page',
      footerAnimal: true
    }

block header
  header.site-header
    include partials/_header

block main
  include pages/index/_main

block footer
  include partials/_footer
