extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: 'product',
      classes: '-tab-game',
      title: 'Продукт',
      appTitle: 'Yellfy',
      description: 'Your great description of page'
    }

block header
  header.site-header
    include partials/_header

block main
  include pages/product/_main

block footer
  include partials/_footer
