extends layouts/_default

block vars
  -
    page = {
      language: 'ru',
      name: 'reviews',
      classes: '',
      title: 'отзывы',
      appTitle: 'Yellfy',
      description: 'Your great description of page',
      footerAnimal: true
    }

block header
  header.site-header
    include partials/_header

block main
  include pages/reviews/_main

block footer
  include partials/_footer
